@model BeekeeperAssistant.Web.ViewModels.Inspection.EditInspectionInputModel
@using BeekeeperAssistant.Data.Models

@{
    this.ViewData["Title"] = "Редактиране на преглед";

    int textAreaRows = 10;
    string openSectionClass = "open-section";
}

<div class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">...</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/Apiary/@Model.ApiaryNumber">@Model.ApiaryNumber</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Beehive" asp-action="ById" asp-route-beehiveId="@Model.BeehiveId" asp-route-tabPage="Inspections">@Model.BeehiveNumber</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <div class="form-box">
        <form asp-controller="Inspection" asp-action="Edit">
            <a class="back-arrow" asp-controller="Beehive" asp-action="ById" asp-route-beehiveId="@Model.BeehiveId" asp-route-tabPage="Inspections">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h2>@ViewData["Title"]</h2>
            <div class="error-msg" asp-validation-summary="All"></div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="DateOfInspection"></label>
                    <input asp-for="DateOfInspection" />
                </div>
                <div class="input-group">
                    <label asp-for="InspectionType"></label>
                    <select asp-for="InspectionType" asp-items="@Html.GetEnumSelectList<InspectionType>()"></select>
                </div>
            </div>
            <div class="input-group max">
                <label asp-for="Note"></label>
                <textarea asp-for="Note" cols="30" rows="@textAreaRows"></textarea>
            </div>

            <div class="input-group form-checkbox">
                <label>
                    <input asp-for="Swarmed" /> @Html.DisplayNameFor(model => model.Swarmed)
                </label>
            </div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="BeehivePower"></label>
                    <select asp-for="BeehivePower" asp-items="@Html.GetEnumSelectList<BeehivePower>()"></select>
                </div>
                <div class="input-group">
                    <label asp-for="BeehiveTemperament"></label>
                    <select asp-for="BeehiveTemperament"
                            asp-items="@Html.GetEnumSelectList<BeehiveTemperament>()"></select>
                </div>
            </div>
            <div class="input-group max">
                <label asp-for="BeehiveAction"></label>
                <select asp-for="BeehiveAction" asp-items="@Html.GetEnumSelectList<BeehiveAction>()"></select>
            </div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="Weight"></label>
                    <input asp-for="Weight" />
                </div>
                <div class="input-group">
                    <label asp-for="HiveTemperature"></label>
                    <input asp-for="HiveTemperature" />
                </div>
            </div>
            <div class="input-group">
                <label asp-for="HiveHumidity"></label>
                <input asp-for="HiveHumidity" />
            </div>

            <div class="section-button" id="btnQueenSectionSection" onclick="formSection(event)">Майка</div>
            <div id="QueenSectionSection" class="form-check-section row-form-group" style="display: none;">
                <div class="input-group form-checkbox">
                    <label>
                        <input asp-for="QueenSeen" /> @Html.DisplayNameFor(model =>
model.QueenSeen)
                    </label>
                </div>
                <div class="input-group">
                    <label asp-for="QueenCells"></label>
                    <select asp-for="QueenCells" asp-items="@Html.GetEnumSelectList<QueenCells>()"></select>
                </div>
                <div class="input-group">
                    <label asp-for="QueenWorkingStatus"></label>
                    <select asp-for="QueenWorkingStatus"
                            asp-items="@Html.GetEnumSelectList<QueenWorkingStatus>()"></select>
                </div>
                <div class="input-group">
                    <label asp-for="QueenPowerStatus"></label>
                    <select asp-for="QueenPowerStatus" asp-items="@Html.GetEnumSelectList<QueenPowerStatus>()"></select>
                </div>
            </div>

            <div class="section-button" id="btnBroodSection" onclick="formSection(event)">Пило</div>
            <div id="BroodSection" class="form-check-section row-form-group" style="display: none;">
                <div class="input-group form-checkbox">
                    <label>
                        <input asp-for="Eggs" /> @Html.DisplayNameFor(model => model.Eggs)
                    </label>
                </div>
                <div class="input-group form-checkbox">
                    <label>
                        <input asp-for="ClappedBrood" /> @Html.DisplayNameFor(model =>
model.ClappedBrood)
                    </label>
                </div>
                <div class="input-group form-checkbox">
                    <label>
                        <input asp-for="UnclappedBrood" /> @Html.DisplayNameFor(model =>
model.UnclappedBrood)
                    </label>
                </div>
            </div>

            <div class="section-button" id="btnFramesWithSection" onclick="formSection(event)">Пити</div>
            <div id="FramesWithSection" class="form-check-section row-form-group" style="display: none;">
                <div class="input-group">
                    <label asp-for="FramesWithBees"></label>
                    <input asp-for="FramesWithBees" />
                </div>
                <div class="input-group">
                    <label asp-for="FramesWithBrood"></label>
                    <input asp-for="FramesWithBrood" />
                </div>
                <div class="input-group">
                    <label asp-for="FramesWithHoney"></label>
                    <input asp-for="FramesWithHoney" />
                </div>
                <div class="input-group">
                    <label asp-for="FramesWithPollen"></label>
                    <input asp-for="FramesWithPollen" />
                </div>
            </div>

            <div class="section-button" id="btnActivitySection" onclick="formSection(event)">Активност</div>
            <div id="ActivitySection" class="form-check-section row-form-group" style="display: none;">
                <div class="input-group">
                    <label asp-for="BeeActivity"></label>
                    <select asp-for="BeeActivity" asp-items="@Html.GetEnumSelectList<Activity>()"></select>
                </div>
                <div class="input-group">
                    <label asp-for="OrientationActivity"></label>
                    <select asp-for="OrientationActivity" asp-items="@Html.GetEnumSelectList<Activity>()"></select>
                </div>
                <div class="input-group">
                    <label asp-for="PollenActivity"></label>
                    <select asp-for="PollenActivity" asp-items="@Html.GetEnumSelectList<Activity>()"></select>
                </div>
                <div class="input-group">
                    <label asp-for="ForragingActivity"></label>
                    <select asp-for="ForragingActivity" asp-items="@Html.GetEnumSelectList<Activity>()"></select>
                </div>
                <div class="input-group">
                    <label asp-for="BeesPerMinute"></label>
                    <input asp-for="BeesPerMinute" />
                </div>
            </div>

            <div class="section-button" id="btnStorageSection" onclick="formSection(event)">Запаси</div>
            <div id="StorageSection" class="form-check-section row-form-group" style="display: none;">
                <div class="input-group">
                    <label asp-for="StoredHoney"></label>
                    <select asp-for="StoredHoney" asp-items="@Html.GetEnumSelectList<StoragePower>()"></select>
                </div>
                <div class="input-group">
                    <label asp-for="StoredPollen"></label>
                    <select asp-for="StoredPollen" asp-items="@Html.GetEnumSelectList<StoragePower>()"></select>
                </div>
            </div>

            <div class="section-button" id="btnSpottedProblemSection" onclick="formSection(event)">Проблеми</div>
            <div id="SpottedProblemSection" class="form-check-section row-form-group" style="display: none;">
                <div class="input-group">
                    <label asp-for="Disease"></label>
                    <input asp-for="Disease" />
                </div>
                <div class="input-group">
                    <label asp-for="Treatment"></label>
                    <input asp-for="Treatment" />
                </div>
                <div class="input-group">
                    <label asp-for="Pests"></label>
                    <input asp-for="Pests" />
                </div>
                <div class="input-group">
                    <label asp-for="Predators"></label>
                    <input asp-for="Predators" />
                </div>
            </div>

            <div class="section-button" id="btnWeatherInfoSection" onclick="formSection(event)">Метеорологични</div>
            <div id="WeatherInfoSection" class="form-check-section row-form-group" style="display: none;">
                <div class="input-group">
                    <label asp-for="Conditions"></label>
                    <input asp-for="Conditions" />
                </div>
                <div class="input-group">
                    <label asp-for="WeatherHumidityString"></label>
                    <input type="text" asp-for="WeatherHumidityString" />
                </div>
                <div class="input-group">
                    <label asp-for="WeatherTemperatureString"></label>
                    <input type="text" asp-for="WeatherTemperatureString" />
                </div>
            </div>

            <input type="hidden" asp-for="@Model.IncludeQueenSection">
            <input type="hidden" asp-for="@Model.IncludeBrood">
            <input type="hidden" asp-for="@Model.IncludeFramesWith">
            <input type="hidden" asp-for="@Model.IncludeActivity">
            <input type="hidden" asp-for="@Model.IncludeStorage">
            <input type="hidden" asp-for="@Model.IncludeSpottedProblem">
            <input type="hidden" asp-for="@Model.IncludeWeatherInfo">
            <input type="hidden" asp-for="@Model.BeehiveId">
            <div class="btn-group">
                <input class="btn beehive-create" type="submit" value="Редактирай" />
            </div>
        </form>
    </div>
</div>

<script>
    window.onload = function () {
        this.check = function (hiddenElementId) {
            var element = document.getElementById(hiddenElementId);
            var btnName = 'btn' + hiddenElementId.substr(7) + 'Section';

            if (element.value == 'True') {
                document.getElementById(btnName).click();
            }
        }

        checkFormSection("IncludeQueenSection");
        checkFormSection("IncludeBrood");
        checkFormSection("IncludeFramesWith");
        checkFormSection("IncludeActivity");
        checkFormSection("IncludeStorage");
        checkFormSection("IncludeSpottedProblem");
        checkFormSection("IncludeWeatherInfo");
    };
</script>
