@model BeekeeperAssistant.Web.ViewModels.Beehives.AllBeehivesViewModel;
@{
    ViewData["Title"] = "Кошери-всички";
    string hasDevice = "has-device";
    Dictionary<string, string> powerClasses = new Dictionary<string, string>();
    powerClasses.Add("weak", "td-weak");
    powerClasses.Add("medium", "td-medium");
    powerClasses.Add("strong", "td-strong");
}

<div class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Начало</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <h1 class="title-1">@ViewData["Title"]</h1>
    <a class="btn beehive-create" asp-controller="Beehive" asp-action="Create">
        <i class="fas fa-plus-square pr-2"></i>
        Създайте нов кошер
    </a>
    @if (Model.AllBeehives.Any())
    {
        <table class="data-table">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Номер на пчелин</th>
                    <th>Вид</th>
                    <th>Система</th>
                    <th>Сила</th>
                    <th>Редактиране</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var beehive in Model.AllBeehives)
                {
                    <tr class="@if (beehive.HasDevice == true) { @hasDevice }">
                        <td class="number">
                            <a href="/Beehive/@beehive.ApiaryNumber/@beehive.Id">@beehive.Number</a>
                        </td>
                        <td class="number">
                            <a href="/Apiary/@beehive.ApiaryNumber">@beehive.ApiaryNumber</a>
                        </td>
                        <td>@beehive.BeehiveType</td>
                        <td>@beehive.BeehiveSystem</td>
                        <td class="@powerClasses[beehive.BeehivePower.ToString().ToLower()]">@Html.DisplayFor(x =>
                    beehive.BeehivePower)</td>
                        <td class="edit">
                            <div>
                                @*TODO: Make Web api that bookmarks and use templating engine to generate html*@
                                <a class="mark" href="#"><i class="far fa-bookmark"></i></a>
                                <a class="edit" asp-controller="Beehive" asp-action="Edit" asp-route-itemid="@beehive.Id">
                                    <i class="far fa-edit"></i>
                                </a>
                                <form id="form-@beehive.Id" asp-controller="Beehive" asp-action="Delete"
                            asp-route-itemid="@beehive.Id">
                                    <button type="submit" class="delete">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="table-legend">
            <p>Легенда</p>
            <ul>
                <li class="beehive-with-device">
                    <span></span> - кошерът е с апарат
                </li>
            </ul>
        </div>
    }
    else
    {
        <h1>Empty</h1>
    }
</div>
