@model BeekeeperAssistant.Web.ViewModels.Beehives.AllUserBeehivesViewModel

<div class="page-content">
    @foreach (var beehive in Model.AllUserBeehives)
    {
        <span>@beehive.Number</span>@:-
        <span>@beehive.HasPropolisCatcher</span>@:-
        <span>@beehive.HasPolenCatcher</span>@:-
        <span>@beehive.HasDevice</span>@:-
        <span>@beehive.Date</span>@:-
        <span>@beehive.CreatedOn</span>@:-
        <span>@beehive.BeehiveType</span>@:-
        <span>@beehive.BeehiveSystem</span>@:-
        <span>@beehive.BeehivePower</span>
    }
</div>
