@model BeekeeperAssistant.Web.ViewModels.Beehives.BeehiveDataViewModel
@using BeekeeperAssistant.Data.Models
@{
    this.ViewData["Title"] = "Информация за кошер - №" + Model.Number;
    Dictionary<string, string> powerClasses = new Dictionary<string, string>();
    powerClasses.Add("weak", "td-weak");
    powerClasses.Add("medium", "td-medium");
    powerClasses.Add("strong", "td-strong");
    string activeClass = "active";
    string block = "block";
    string none = "none";
    string[] yesNo = new string[] { "Не", "Да" };
    var onlyReadMsg = "нямате достъп";

    string website = $"{this.Context.Request.Scheme}://{this.Context.Request.Host}{this.Context.Request.Path}";
}

<script>
    @Model.TabPage = window.location.href;
</script>

<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/Apiary/@Model.ApiaryNumber">Пчелин: @Model.ApiaryNumber</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <ul class="breadcrumb-list responsive">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">...</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/Apiary/@Model.ApiaryNumber">@Model.ApiaryNumber</a>
        </li>
        <li class="breadcrumb-item active">@Model.Number</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<h1 class="tab-title title-1">@ViewData["Title"]</h1>
<div class="tab">
    <button class="tablinks @if(Model.TabPage == "Beehive") {@activeClass}" onclick="openTab(event, 'Beehive')"
        id="defaultOpen">
        <i class="fas fa-archive"></i>Кошер
        №@Model.Number
    </button>
    <button class="tablinks @if(Model.TabPage == "Queen") {@activeClass}" onclick="openTab(event, 'Queen')">
        <i class="fas fa-crown"></i>Майка
    </button>

    <button class="tablinks @if(Model.TabPage == "Inspections") {@activeClass}" onclick="openTab(event, 'Inspections')">
        <i class="far fa-calendar-check"></i>Прегледи
    </button>
    <button class="tablinks @if(Model.TabPage == "Treatments") {@activeClass}" onclick="openTab(event, 'Treatments')">
        <i class="fas fa-notes-medical"></i>Третирания
    </button>
    <button class="tablinks @if(Model.TabPage == "Harvests") {@activeClass}" onclick="openTab(event, 'Harvests')">
        <i class="fas fa-box"></i>Добиви
    </button>
</div>

<div class="tabs-body">
    <div id="Beehive" class="tabcontent" style="display: @if(Model.TabPage == "Beehive") {@block}">
        <partial name="_StatusMessagePartial" />

        <div class="data-view">
            <div class="qr-code">
                <a class="qr-code-print" href="javascript:printQRCode();">
                    <i class="fas fa-print"></i>
                    отпечатай кода
                </a>
                <img id="qr-code-img" src="https://api.qrserver.com/v1/create-qr-code/?data=@website&size=255x255"
                    alt="W3Schools" width="250" height="250">
            </div>
            <div class="apiary-info">
                <table>
                    <tbody>
                        <tr>
                            <th scope="row">Номер:</th>
                            <td id="beehive-num"><strong>@Model.Number</strong></td>
                        </tr>
                        <tr>
                            <th scope="row">Пчелин:</th>
                            <td class="beehive-apiary-num">
                                <a href="/Apiary/@Model.ApiaryNumber"
                                    id="apiary-num"><strong>@Model.ApiaryNumber</strong></a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Сила:</th>
                            <td class="@powerClasses[Model.BeehivePower.ToString().ToLower()]">
                                <strong>@Html.DisplayFor(x => Model.BeehivePower)</strong>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Система:</th>
                            <td>@Html.DisplayFor(x => Model.BeehiveSystem)</td>
                        </tr>
                        <tr>
                            <th scope="row">Вид:</th>
                            <td>@Html.DisplayFor(x => Model.BeehiveType)</td>
                        </tr>
                        <tr>
                            <th scope="row">Създаден на:</th>
                            <td>
                                <time datetime="@Model.Date.ToString("O")"></time>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Подвижен:</th>
                            @if (Model.IsItMovable)
                            {
                                <td><b>Да</b></td>
                            }
                            else
                            {
                                <td>Не</td>
                            }
                        </tr>
                        <tr>
                            <th scope="row">Апарат за майки:</th>
                            @if (Model.HasDevice)
                            {
                                <td><b>Поставен</b></td>
                            }
                            else
                            {
                                <td>няма</td>
                            }
                        </tr>
                        <tr>
                            <th scope="row">Решетка за прополис:</th>
                            @if (Model.HasPolenCatcher)
                            {
                                <td><b>Поставена</b></td>
                            }
                            else
                            {
                                <td>няма</td>
                            }
                        </tr>
                        <tr>
                            <th scope="row">Прашецоуловител:</th>
                            @if (Model.HasPropolisCatcher)
                            {
                                <td><b>Поставен</b></td>
                            }
                            else
                            {
                                <td>няма</td>
                            }
                        </tr>
                    </tbody>
                </table>
                <div class="data-edit beehive-info">
                    @if (Model.BeehiveAccess == Access.ReadWrite)
                    {
                        <a class="btn edit" asp-controller="Beehive" asp-action="Edit"
                        asp-route-id="@Model.Id">Редактирай</a>
                        <form asp-controller="Beehive" asp-action="Delete" asp-route-id="@Model.Id">
                            <input class="btn delete" type="submit" value="Изтрий" />
                        </form>
                    }

                    @if (Model.Creator.UserName == this.User.Identity.Name && Model.HasHelpers)
                    {
                        <a class="btn apiary-create" asp-controller="BeehiveHelper" asp-action="All"
                        asp-route-id="@Model.Id">Всички помощници</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="Queen" class="tabcontent" style="display: @if(Model.TabPage == "Queen") {@block}">
        <partial name="_StatusMessagePartial" />
        <div class="queen-preview">
            @if (Model.HasQueen)
            {
                string imgPath = "queen" + Model.Queen.Color + ".png";
                <img src="~/img/queen/@imgPath">
                <table>
                    <tr>
                        <th scope="row">Цвят:</th>
                        <td>@Html.DisplayFor(x => Model.Queen.Color)</td>
                    </tr>
                    <tr>
                        <th scope="row">Датана оплождане:</th>
                        <td>
                            <time datetime="@Model.Queen.FertilizationDate.ToString("O")"></time>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Дата на придаване:</th>
                        <td><time datetime="@Model.Queen.GivingDate.ToString("O")"></time></td>
                    </tr>
                    <tr>
                        <th scope="row">Вид:</th>
                        <td>@Html.DisplayFor(x => Model.Queen.QueenType)</td>
                    </tr>
                    <tr>
                        <th scope="row">Порода:</th>
                        <td>@Html.DisplayFor(x => Model.Queen.Breed)</td>
                    </tr>
                    <tr>
                        <th scope="row">Произход:</th>
                        <td>@Model.Queen.Origin</td>
                    </tr>
                    <tr>
                        <th scope="row">Нрав:</th>
                        <td>@Model.Queen.Temperament</td>
                    </tr>
                    <tr>
                        <th scope="row">Хигиенни навици:</th>
                        <td>@Model.Queen.HygenicHabits</td>
                    </tr>
                </table>
                <div class="data-edit beehive-info">
                    @if (Model.BeehiveAccess == Access.ReadWrite)
                    {
                        <a class="btn edit" asp-controller="Queen" asp-action="Edit" asp-route-id="@Model.QueenId"
                    asp-route-beehiveId="@Model.Id">
                            Редактирайте кралицата
                        </a>
                        <form asp-controller="Queen" asp-action="Delete" asp-route-id="@Model.QueenId">
                            <input class="btn delete" type="submit" value="Изтрий" />
                        </form>
                    }
                    else
                    {
                        @onlyReadMsg
                    }
                    @if (Model.Queen.User.UserName == this.User.Identity.Name && Model.HasHelpers)
                    {
                        <a class="btn apiary-create" asp-controller="QueenHelper" asp-action="All"
                    asp-route-id="@Model.QueenId">Всички помощници</a>
                    }
                </div>
            }
            else
            {
                @if (Model.BeehiveAccess == Access.ReadWrite)
                {
                    <a class="btn queen-create" asp-controller="Queen" asp-action="Create" asp-route-id="@Model.Id">
                        <i class="fas fa-crown"></i>
                        Добави майка
                    </a>
                }
                else
                {
                    @onlyReadMsg
                }
            }
        </div>
    </div>
    <div id="Inspections" class="tabcontent" style="display: @if(Model.TabPage == "Inspections") {@block}">
        <partial name="_StatusMessagePartial" />

        <div class="harvests-data">
            @if (Model.BeehiveAccess == Access.ReadWrite)
            {
                <div class="page-controls">
                    @if (Model.Inspections.AllInspections.Any())
                    {
                        <a class="export-file excel" asp-controller="Inspection" asp-action="ExportToExcel"
                    asp-route-id="@Model.Id"><i class="fas fa-file-download"></i> Excel</a>
                    }
                    <a class="btn create-data" asp-controller="Inspection" asp-action="Create" asp-route-id="@Model.Id">
                        <i class="fas fa-notes-medical"></i>
                        Добави преглед
                    </a>
                </div>
            }
            <table>
                <thead>
                    <th>Дата на прегледа</th>
                    <th>Вид на прегледа</th>
                    <th>Роил ли се е</th>
                    <th>Сила на кошера</th>
                    <th>Редактиране</th>
                </thead>
                <tbody>
                    @foreach (var inspection in Model.Inspections.AllInspections)
                    {
                        string rowMasterId = "trMasterInspection" + inspection.Id;
                        string rowExpandId = "trExpandInspection" + inspection.Id;
                        <tr id="@rowMasterId" onclick="expandTable(@rowMasterId)">
                            <td class="table-sdate">
                                <time datetime="@inspection.DateOfInspection.ToString("O")"></time>
                            </td>
                            <td>
                                @Html.DisplayFor(i => inspection.InspectionType)
                            </td>
                            <td>
                                @if (inspection.Swarmed)
                                {
                                    <strong>@yesNo[1]</strong>
                                }
                                else
                                {
                                    @yesNo[0]
                                }
                            </td>
                            <td class="@powerClasses[inspection.BeehivePower.ToString().ToLower()]">
                                @Html.DisplayFor(i => inspection.BeehivePower)
                            </td>
                            <td class="edit">
                                <div>
                                    <a class="edit" asp-controller="Inspection" asp-action="Edit"
                                    asp-route-id="@inspection.Id" asp-route-beehiveId="@Model.Id">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <form id="form-@inspection.Id" asp-controller="Inspection" asp-action="Delete"
                                    asp-route-id="@inspection.Id" asp-route-beehiveId="@Model.Id">
                                        <button type="submit" class="delete">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr id="@rowExpandId" class="data-table-expand" style="display: none;">
                            <td colspan="5">
                                <div class="expand-data-tables">
                                    <div class="section">
                                        <h3>Основна информация</h3>
                                        <table>
                                            <tr>
                                                <td>Предприети действия:</td>
                                                <td>@Html.DisplayFor(x => inspection.BeehiveAction)</td>
                                            </tr>
                                            <tr>
                                                <td>Маса на кошера(кг.):</td>
                                                <td>@inspection.Weight</td>
                                            </tr>
                                            <tr>
                                                <td>Температура на кошера(t°):</td>
                                                <td>@inspection.HiveTemperature</td>
                                            </tr>
                                            <tr>
                                                <td>Влажност на кошера(%):</td>
                                                <td>@inspection.HiveHumidity</td>
                                            </tr>
                                        </table>
                                    </div>
                                    @if (inspection.IncludeQueenSection)
                                    {
                                        <div class="section">
                                            <h3>Секция майка</h3>
                                            <table>
                                                <tr>
                                                    <td>Забелязана майка:</td>
                                                    <td>
                                                        @if (inspection.QueenSeen)
                                                        {
                                                            @yesNo[1]
                                                        }
                                                        else
                                                        {
                                                            <strong>@yesNo[0]</strong>
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Маточници:</td>
                                                    <td>@Html.DisplayFor(x => inspection.QueenCells)</td>
                                                </tr>
                                                <tr>
                                                    <td>Работен статус на майката:</td>
                                                    <td>@Html.DisplayFor(x => inspection.QueenWorkingStatus)</td>
                                                </tr>
                                                <tr>
                                                    <td>Сила на майката:</td>
                                                    <td>@Html.DisplayFor(x => inspection.QueenPowerStatus)</td>
                                                </tr>
                                            </table>
                                        </div>
                                    }
                                    @if (inspection.IncludeBrood)
                                    {
                                        <div class="section">
                                            <h3>Секция пило</h3>
                                            <table>
                                                <tr>
                                                    <td>Яйца:</td>
                                                    <td>
                                                        @if (inspection.Eggs)
                                                        {
                                                            <strong>@yesNo[1]</strong>
                                                        }
                                                        else
                                                        {
                                                            @yesNo[0]
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Запечатано пило:</td>
                                                    <td>
                                                        @if (inspection.ClappedBrood)
                                                        {
                                                            <strong>@yesNo[1]</strong>
                                                        }
                                                        else
                                                        {
                                                            @yesNo[0]
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Излюпващо се пило:</td>
                                                    <td>
                                                        @if (inspection.UnclappedBrood)
                                                        {
                                                            <strong>@yesNo[1]</strong>
                                                        }
                                                        else
                                                        {
                                                            @yesNo[0]
                                                        }
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    }
                                    @if (inspection.IncludeFramesWith)
                                    {
                                        <div class="section">
                                            <h3>Секция пити</h3>
                                            <table>
                                                <tr>
                                                    <td>Пити с пчели:</td>
                                                    <td>@inspection.FramesWithBees</td>
                                                </tr>
                                                <tr>
                                                    <td>Пити с пило:</td>
                                                    <td>@inspection.FramesWithBrood</td>
                                                </tr>
                                                <tr>
                                                    <td>Пити с мед:</td>
                                                    <td>@inspection.FramesWithHoney</td>
                                                </tr>
                                                <tr>
                                                    <td>Пити с прашец:</td>
                                                    <td>@inspection.FramesWithPollen</td>
                                                </tr>
                                            </table>
                                        </div>
                                    }
                                    @if (inspection.IncludeActivity)
                                    {
                                        <div class="section">
                                            <h3>Секция активност</h3>
                                            <table>
                                                <tr>
                                                    <td>Активност на пчелите:</td>
                                                    <td>@Html.DisplayFor(x => inspection.BeeActivity)</td>
                                                </tr>
                                                <tr>
                                                    <td>Oриентационни полети:</td>
                                                    <td>@Html.DisplayFor(x => inspection.OrientationActivity)</td>
                                                </tr>
                                                <tr>
                                                    <td>Принос на прашец:</td>
                                                    <td>@Html.DisplayFor(x => inspection.PollenActivity)</td>
                                                </tr>
                                                <tr>
                                                    <td>Принос на мед:</td>
                                                    <td>@Html.DisplayFor(x => inspection.ForragingActivity)</td>
                                                </tr>
                                                <tr>
                                                    <td>Пчели в минута:</td>
                                                    <td>@inspection.BeesPerMinute</td>
                                                </tr>
                                            </table>
                                        </div>
                                    }
                                    @if (inspection.IncludeStorage)
                                    {
                                        <div class="section">
                                            <h3>Секция запаси</h3>
                                            <table>
                                                <tr>
                                                    <td>Запаси от мед:</td>
                                                    <td>@Html.DisplayFor(x => inspection.StoredHoney)</td>
                                                </tr>
                                                <tr>
                                                    <td>Запаси от прашец:</td>
                                                    <td>@Html.DisplayFor(x => inspection.StoredPollen)</td>
                                                </tr>
                                            </table>
                                        </div>
                                    }
                                    @if (inspection.IncludeSpottedProblem)
                                    {
                                        <div class="section">
                                            <h3>Секция проблеми</h3>
                                            <table>
                                                <tr>
                                                    <td>Заболяване:</td>
                                                    <td>@inspection.Disease</td>
                                                </tr>
                                                <tr>
                                                    <td>Третиране с:</td>
                                                    <td>@inspection.Treatment</td>
                                                </tr>
                                                <tr>
                                                    <td>Вредители:</td>
                                                    <td>@inspection.Pests</td>
                                                </tr>
                                                <tr>
                                                    <td>Хищници:</td>
                                                    <td>@inspection.Predators</td>
                                                </tr>
                                            </table>
                                        </div>
                                    }
                                    @if (inspection.IncludeWeatherInfo)
                                    {
                                        <div class="section">
                                            <h3>Секция метеорологични</h3>
                                            <table>
                                                <tr>
                                                    <td>Условия:</td>
                                                    <td>@inspection.Conditions</td>
                                                </tr>
                                                <tr>
                                                    <td>Температура(t°):</td>
                                                    <td>@inspection.WeatherTemperature</td>
                                                </tr>
                                                <tr>
                                                    <td>Влажност(%):</td>
                                                    <td>@inspection.WeatherHumidity</td>
                                                </tr>
                                            </table>
                                        </div>
                                    }
                                </div>
                                <div class="note">
                                    <strong><i class="far fa-sticky-note"></i> Бележка:</strong> @inspection.Note
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (!Model.Inspections.AllInspections.Any())
            {
                <p>няма добавени прегледи</p>
            }
        </div>

        <div class="pagination">
            <ul>
                @if (this.Model.Inspections.CurrentPage == 1)
                {
                    <li class="page-item disabled">
                        <span class="page-link">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Beehive" asp-action="ById" asp-route-beehiveId="@Model.Id"
                        asp-route-tabPage="Inspections" asp-route-pageAllHarvests="@Model.Harvests.CurrentPage"
                        asp-route-pageAllTreatments="@Model.Treatments.CurrentPage"
                        asp-route-pageAllInspections="@(this.Model.Inspections.CurrentPage - 1)">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= this.Model.Inspections.PagesCount; i++)
                {
                    @if (i == this.Model.Inspections.CurrentPage)
                    {
                        <li class="page-item active">
                            <span class="page-link">@i</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Beehive" asp-action="ById" asp-route-tabPage="Inspections"
                        asp-route-beehiveId="@Model.Id" asp-route-pageAllInspections="@i"
                        asp-route-pageAllTreatments="@Model.Treatments.CurrentPage"
                        asp-route-pageAllHarvests="@Model.Harvests.CurrentPage">@i</a>
                        </li>
                    }
                }
                @if (this.Model.Inspections.CurrentPage == this.Model.Inspections.PagesCount)
                {
                    <li class="page-item disabled">
                        <span class="page-link">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Beehive" asp-action="ById" asp-route-tabPage="Inspections"
                        asp-route-beehiveId="@Model.Id" asp-route-pageAllTreatments="@Model.Treatments.CurrentPage"
                        asp-route-pageAllHarvests="@Model.Harvests.CurrentPage"
                        asp-route-pageAllInspections="@(this.Model.Inspections.CurrentPage + 1)">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div id="Treatments" class="tabcontent" style="display: @if(Model.TabPage == "Treatments") {@block}">
        <partial name="_StatusMessagePartial" />

        <div class="harvests-data">
            @if (Model.BeehiveAccess == Access.ReadWrite)
            {
                <div class="page-controls">
                    <a class="export-file excel" asp-controller="Treatment" asp-action="ExportToExcel"
                    asp-route-id="@Model.Id"><i class="fas fa-file-download"></i> Excel</a>
                    <a class="btn create-data" asp-controller="Treatment" asp-action="Create" asp-route-id="@Model.Id">
                        <i class="fas fa-notes-medical"></i>
                        Добави третиране
                    </a>
                </div>
            }
            <table id="TreatmentsTable">
                <thead>
                    <th>Дата на третирането</th>
                    <th>Име на третирането</th>
                    <th>Превенция на</th>
                    <th>Препарат</th>
                    <th>Въведен като</th>
                    <th>Количество</th>
                    <th>Дозировка</th>
                    <th>Редактиране</th>
                </thead>
                <tbody>
                    @foreach (var treatment in Model.Treatments.AllTreatements)
                    {
                        string rowMasterId = "trMasterTreatment" + treatment.Id;
                        string rowExpandId = "trExpandTreatment" + treatment.Id;
                        <tr id="@rowMasterId" class="table-sdate" onclick="expandTable(@rowMasterId)">
                            <td>
                                <time datetime="@treatment.DateOfTreatment.ToString("O")"></time>
                            </td>
                            <td>
                                @treatment.Name
                            </td>
                            <td>
                                @treatment.Disease
                            </td>
                            <td>
                                @treatment.Medication
                            </td>
                            <td>
                                @Html.DisplayFor(t => treatment.InputAs)
                            </td>
                            <td class="table-amount">
                                @treatment.Quantity
                            </td>
                            <td>
                                @Html.DisplayFor(t => treatment.Dose)
                            </td>
                            <td class="edit">
                                <div>
                                    <a class="edit" asp-controller="Treatment" asp-action="Edit"
                                    asp-route-id="@treatment.Id" asp-route-beehiveId="@Model.Id">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <form id="form-@treatment.Id" asp-controller="Treatment" asp-action="Delete"
                                    asp-route-id="@treatment.Id" asp-route-beehiveId="@Model.Id">
                                        <button type="submit" class="delete">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr id="@rowExpandId" class="data-table-expand" style="display: none;">
                            <td colspan="8">
                                <div class="note">
                                    <strong><i class="far fa-sticky-note"></i> Бележка:</strong> @treatment.Note
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (!Model.Treatments.AllTreatements.Any())
            {
                <p>няма добавени третирания</p>
            }
        </div>

        <div class="pagination">
            <ul>
                @if (this.Model.Treatments.CurrentPage == 1)
                {
                    <li class="page-item disabled">
                        <span class="page-link">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Beehive" asp-action="ById" asp-route-beehiveId="@Model.Id"
                        asp-route-tabPage="Treatments" asp-route-pageAllHarvests="@Model.Harvests.CurrentPage"
                        asp-route-pageAllTreatments="@(Model.Treatments.CurrentPage + 1)"
                        asp-route-pageAllInspections="@(Model.Inspections.CurrentPage)">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= this.Model.Treatments.PagesCount; i++)
                {
                    @if (i == this.Model.Treatments.CurrentPage)
                    {
                        <li class="page-item active">
                            <span class="page-link">@i</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Beehive" asp-action="ById" asp-route-tabPage="Treatments"
                        asp-route-beehiveId="@Model.Id" asp-route-pageAllInspections="@Model.Inspections.CurrentPage"
                        asp-route-pageAllTreatments="@i" asp-route-pageAllHarvests="@Model.Harvests.CurrentPage">@i</a>
                        </li>
                    }
                }
                @if (this.Model.Treatments.CurrentPage == this.Model.Treatments.PagesCount)
                {
                    <li class="page-item disabled">
                        <span class="page-link">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Beehive" asp-action="ById" asp-route-beehiveId="@Model.Id"
                        asp-route-tabPage="Treatments" asp-route-pageAllTreatments="@(Model.Treatments.CurrentPage + 1)"
                        asp-route-pageAllHarvests="@Model.Harvests.CurrentPage"
                        asp-route-pageAllInspections="@(this.Model.Inspections.CurrentPage)">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div id="Harvests" class="tabcontent" style="display: @if(Model.TabPage == "Harvests") {@block}">
        <partial name="_StatusMessagePartial" />

        <div class="harvests-data">
            @if (Model.BeehiveAccess == Access.ReadWrite)
            {
                <div class="page-controls">
                    <a class="export-file excel" asp-controller="Harvest" asp-action="ExportToExcel"
                    asp-route-id="@Model.Id"><i class="fas fa-file-download"></i> Excel</a>
                    <a class="btn create-data" asp-controller="Harvest" asp-action="Create" asp-route-beehiveId="@Model.Id">
                        <i class="fas fa-box"></i>
                        Добави добив
                    </a>
                </div>
            }
            <table>
                <thead>
                    <th>Име</th>
                    <th class="table-sdate">Дата</th>
                    <th>Продукт</th>
                    <th class="table-amount">Количество</th>
                    <th>Редактиране</th>
                </thead>
                <tbody>
                    @foreach (var harvest in Model.Harvests.AllHarvests)
                    {
                        string rowMasterId = "trMasterHarvest" + harvest.Id;
                        string rowExpandId = "trExpandHarvest" + harvest.Id;
                        <tr id="@rowMasterId" class="table-sdate" onclick="expandTable(@rowMasterId)">
                            <td>
                                @harvest.HarvestName
                            </td>
                            <td class="table-sdate">
                                <time datetime="@harvest.DateOfHarves.ToString("O")"></time>
                            </td>
                            <td>
                                @Html.DisplayFor(x => harvest.HarvestProductType)
                                @if (harvest.HarvestProductType == HarvestProductType.Honey)
                                {
                                    <span> - @Html.DisplayFor(x => harvest.HoneyType)</span>
                                }
                            </td>
                            <td class="table-amount">
                                @harvest.Quantity
                                <span>@Html.DisplayFor(x => harvest.Unit)</span>
                            </td>
                            <td class="edit">
                                <div>
                                    <a class="edit" asp-controller="Harvest" asp-action="Edit" asp-route-id="@harvest.Id"
                                    asp-route-beehiveId="@Model.Id">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <form id="form-@harvest.Id" asp-controller="Harvest" asp-action="Delete"
                                    asp-route-id="@harvest.Id" asp-route-beehiveId="@Model.Id">
                                        <button type="submit" class="delete">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr id="@rowExpandId" class="data-table-expand" style="display: none;">
                            <td colspan="8">
                                <div class="note">
                                    <strong><i class="far fa-sticky-note"></i> Бележка:</strong> @harvest.Note
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (!Model.Harvests.AllHarvests.Any())
            {
                <p>няма добавени добиви</p>
            }
        </div>

        <div class="pagination">
            <ul>
                @if (this.Model.Harvests.CurrentPage == 1)
                {
                    <li class="page-item disabled">
                        <span class="page-link">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Beehive" asp-action="ById" asp-route-beehiveId="@Model.Id"
                        asp-route-tabPage="Harvests" asp-route-pageAllHarvests="@(Model.Harvests.CurrentPage + 1)"
                        asp-route-pageAllTreatments="@(Model.Harvests.CurrentPage)"
                        asp-route-pageAllInspections="@(Model.Harvests.CurrentPage)">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= this.Model.Harvests.PagesCount; i++)
                {
                    @if (i == this.Model.Harvests.CurrentPage)
                    {
                        <li class="page-item active">
                            <span class="page-link">@i</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Beehive" asp-action="ById" asp-route-tabPage="Harvests"
                        asp-route-beehiveId="@Model.Id" asp-route-pageAllInspections="@Model.Harvests.CurrentPage"
                        asp-route-pageAllTreatments="@Model.Harvests.CurrentPage" asp-route-pageAllHarvests="@i">@i</a>
                        </li>
                    }
                }
                @if (this.Model.Harvests.CurrentPage == this.Model.Harvests.PagesCount)
                {
                    <li class="page-item disabled">
                        <span class="page-link">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Beehive" asp-action="ById" asp-route-tabPage="Harvests"
                        asp-route-beehiveId="@Model.Id" asp-route-pageAllTreatments="@(Model.Harvests.CurrentPage)"
                        asp-route-pageAllHarvests="@(Model.Harvests.CurrentPage + 1)"
                        asp-route-pageAllInspections="@(this.Model.Harvests.CurrentPage)">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
