@model BeekeeperAssistant.Web.ViewModels.Beehives.BeehiveDataViewModel
@{
    this.ViewData["Title"] = "Информация за кошер - №" + Model.Number;
}

<div class="content">
    <table>
        
    </table>
</div>

@Model.Number
@Model.BeehivePower
@Model.BeehiveSystem
@Model.BeehiveType
@Model.Date
@Model.HasDevice
@Model.HasPolenCatcher
@Model.HasPropolisCatcher

<form asp-controller="Beehive" asp-action="Delete" asp-route-data="@Model.Id">
    <button type="submit">Delete</button>
</form>

<a asp-controller="Beehive" asp-action="Edit">Edit Beehive</a>

