@model BeekeeperAssistant.Web.ViewModels.Beehives.BeehiveDataViewModel
@{
    this.ViewData["Title"] = "Информация за кошер - №" + Model.Number;
    Dictionary<string, string> powerClasses = new Dictionary<string, string>();
    powerClasses.Add("weak", "td-weak");
    powerClasses.Add("medium", "td-medium");
    powerClasses.Add("strong", "td-strong");
}

<div class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Начало</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/Apiary/@Model.ApiaryNumber">Пчелин: @Model.ApiaryNumber</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <h1 class="title-1">@ViewData["Title"]</h1>
    <div class="data-view">
        <div class="apiary-info">
            <table>
                <tbody>
                    <tr>
                        <th scope="row">Номер:</th>
                        <td>@Model.Number</td>
                    </tr>
                    <tr>
                        <th scope="row">Пчелин:</th>
                        <td>
                            <a href="/Apiary/@Model.ApiaryNumber">@Model.ApiaryNumber</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Сила:</th>
                        <td class="@powerClasses[Model.BeehivePower.ToString().ToLower()]">
                            @Html.DisplayFor(x =>
                            Model.BeehivePower)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Система:</th>
                        <td>@Html.DisplayFor(x => Model.BeehiveSystem)</td>
                    </tr>
                    <tr>
                        <th scope="row">Вид:</th>
                        <td>@Html.DisplayFor(x => Model.BeehiveType)</td>
                    </tr>
                    <tr>
                        <th scope="row">Създаден на:</th>
                        <td>@Model.Date.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <th scope="row">Апарат за майки:</th>
                        @if (Model.HasDevice)
                        {
                            <td><b>Поставен</b></td>
                        }
                        else
                        {
                            <td>няма</td>
                        }
                    </tr>
                    <tr>
                        <th scope="row">Решятка за прополис:</th>
                        @if (Model.HasPolenCatcher)
                        {
                            <td><b>Поставена</b></td>
                        }
                        else
                        {
                            <td>няма</td>
                        }
                    </tr>
                    <tr>
                        <th scope="row">Прашецоуловител:</th>
                        @if (Model.HasPropolisCatcher)
                        {
                            <td><b>Поставен</b></td>
                        }
                        else
                        {
                            <td>няма</td>
                        }
                    </tr>
                </tbody>
            </table>
            <div class="data-edit">
                <a class="btn edit" asp-controller="Beehive" asp-action="Edit" asp-route-id="@Model.Id">Редактирай</a>
                <form asp-controller="Beehive" asp-action="Delete" asp-route-id="@Model.Id">
                    <input class="btn delete" type="submit" value="Изтрий" />
                </form>
            </div>
        </div>
    </div>
    <h2 class="title-1">Кралица</h2>
    <div class="queen-preview">
        @if (Model.HasQueen)
        {
            string imgPath = "queen" + Model.Queen.Color + ".png";
            <img src="~/img/queen/@imgPath">
            <table>
                <tr>
                    <th scope="row">Цвят:</th>
                    <td>@Html.DisplayFor(x => Model.Queen.Color)</td>
                </tr>
                <tr>
                    <th scope="row">Датана оплождане:</th>
                    <td>@Model.Queen.FertilizationDate.ToString("dd.mm.yyyy")</td>
                </tr>
                <tr>
                    <th scope="row">Дата на придаване:</th>
                    <td>@Model.Queen.GivingDate.ToString("dd.mm.yyyy")</td>
                </tr>
                <tr>
                    <th scope="row">Вид:</th>
                    <td>@Html.DisplayFor(x => Model.Queen.QueenType)</td>
                </tr>
                <tr>
                    <th scope="row">Порода:</th>
                    <td>@Html.DisplayFor(x => Model.Queen.Breed)</td>
                </tr>
                <tr>
                    <th scope="row">Произход:</th>
                    <td>@Model.Queen.Origin</td>
                </tr>
                <tr>
                    <th scope="row">Нрав:</th>
                    <td>@Model.Queen.Temperament</td>
                </tr>
                <tr>
                    <th scope="row">Хигиенни навици:</th>
                    <td>@Model.Queen.HygenicHabits</td>
                </tr>
            </table>
            <a class="btn edit" asp-controller="Queen" asp-action="Edit" asp-route-id="@Model.QueenId">
                Редактирайте кралицата
            </a>

        }
        else
        {
            <a class="btn queen-create" asp-controller="Queen" asp-action="Create" asp-route-id="@Model.Id">
                <i class="fas fa-plus-square pr-2"></i>
                Добавете кралица
            </a>
        }
    </div>



    <h2 class="title-1">Добиви</h2>
    <div class="harvests-data">
        <a class="btn beehive-create" asp-controller="Harvest" asp-action="Create" asp-route-id="@Model.Id">
            Добавете
            добив
        </a>
        <table>
            <thead>
                <th>Име</th>
                <th class="table-sdate">Дата</th>
                <th>Продукт</th>
                <th class="table-amount">Количество</th>
                <th>Бележка</th>
            </thead>
            <tbody>
                @foreach (var harvest in Model.Harvests)
                {
                    <tr>
                        <td>
                            @harvest.HarvestName
                        </td>
                        <td class="table-sdate">
                            @harvest.DateOfHarves.ToShortDateString()
                        </td>
                        <td>
                            @harvest.Product
                            @if (harvest.Product == "Мед")
                            {
                                <span> - @Html.DisplayFor(x => harvest.HoneyType)</span>
                            }
                        </td>
                        <td class="table-amount">
                            @harvest.Amount
                            @switch (harvest.Product)
                            {
                                case "млечице":
                                case "отрова": <span>гр.</span> break;
                                default: <span>кг.</span> break;
                            }
                        </td>
                        <td>
                            @harvest.Note
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (!Model.Harvests.Any())
        {
            <p>няма добавени добиви</p>
        }
    </div>
</div>
