@model BeekeeperAssistant.Web.ViewModels.Beehives.CreateBeehiveInputModel
@{
    ViewData["Title"] = "Creat Beehivee";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Beehives" asp-action="All">Beehives All</a></li>
        <li class="breadcrumb-item">Create</li>
    </ol>
</nav>
<h1>Beehive: @this.ViewData["ApiNumber"]</h1>
<div class="beehive-create text-left">
    <form asp-controller="Beehive" asp-action="Create">
        <div class="form-group">
            <label asp-for="@Model.Number"></label>
            <input class="form-control" type="number" asp-for="@Model.Number" />
            <span asp-validation-for="@Model.Number"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.BeehiveSystem"></label>
            <select class="custom-select" asp-for="@Model.BeehiveSystem" asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.BeehiveSystem>()"></select>
            <span class="text-danger" asp-validation-for="@Model.BeehiveSystem"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.BeehiveType"></label>
            <select class="custom-select" asp-for="@Model.BeehiveType" asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.BeehiveType>()"></select>
            <span class="text-danger" asp-validation-for="@Model.BeehiveType"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Date"></label>
            <input class="form-control" type="datetime-local" asp-for="@Model.Date" />
            <span class="text-danger" asp-validation-for="@Model.Date"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.BeehivePower"></label>
            <select class="custom-select" asp-for="@Model.BeehivePower" asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.BeehivePower>()"></select>
            <span class="text-danger" asp-validation-for="@Model.BeehivePower"></span>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" asp-for="@Model.HasDevice" />
                <label class="custom-control-label" asp-for="@Model.HasDevice"></label>
            </div>
            <span class="text-danger" asp-validation-for="@Model.HasDevice"></span>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" asp-for="@Model.HasPolenCatcher" />
                <label class="custom-control-label" asp-for="@Model.HasPolenCatcher"></label>
            </div>
            <span class="text-danger" asp-validation-for="@Model.HasPolenCatcher"></span>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" asp-for="@Model.HasPropolisCatcher" />
                <label class="custom-control-label" asp-for="@Model.HasPropolisCatcher"></label>
            </div>
            <span class="text-danger" asp-validation-for="@Model.HasPropolisCatcher"></span>
        </div>
        <input class="submit-btn mt-3" type="submit" value="Create Beehive" />
    </form>
</div>
