@model BeekeeperAssistant.Web.ViewModels.Beehives.CreateBeehiveInputModel
@using BeekeeperAssistant.Data.Models;
@{
    this.ViewData["Title"] = "Добавяне на кошер";

    var keyValuePairApiaries = new List<SelectListItem>();
    if (Model.AllApiaries != null)
    {
        keyValuePairApiaries = Model.AllApiaries.Select(x => new SelectListItem(x.Value.ToString(), x.Key.ToString())).ToList();
    }
}

<div class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Начало</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Beehive" asp-action="All">Кошери-всички</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <div class="form-box beehive">
        <a class="back" asp-controller="Beehive" asp-action="All">
            <i class="fas fa-arrow-left"></i>
        </a>
        <h2 class="title-2">@ViewData["Title"]</h2>
        <form asp-controller="Beehive" asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-box">
                <label asp-for="@Model.Number"></label>
                <input asp-for="@Model.Number" min="0" />
                <span asp-validation-for="@Model.Number"></span>
            </div>
            <div class="input-box">
                <label asp-for="@Model.Date"></label>
                <input id="date-picker" asp-for="@Model.Date" />
                <span asp-validation-for="@Model.Date"></span>
            </div>
            @if (Model.AllApiaries != null)
            {
                <div class="input-box">
                    <label asp-for="@Model.ApiaryId"></label>
                    <select asp-for="@Model.ApiaryId" asp-items="keyValuePairApiaries"></select>
                </div>
            }
            <div class="input-box">
                <label asp-for="@Model.BeehiveSystem"></label>
                <select asp-for="@Model.BeehiveSystem" asp-items="@Html.GetEnumSelectList<BeehiveSystem>()"></select>
            </div>
            <div class="input-box">
                <label asp-for="@Model.BeehiveType"></label>
                <select asp-for="@Model.BeehiveType" asp-items="@Html.GetEnumSelectList<BeehiveType>()"></select>
            </div>
            <div class="input-box">
                <label asp-for="@Model.BeehivePower"></label>
                <select asp-for="@Model.BeehivePower" asp-items="@Html.GetEnumSelectList<BeehivePower>()"></select>
            </div>
            <div class="input-box check">
                <label asp-for="@Model.HasDevice"></label>
                <input asp-for="@Model.HasDevice" />
            </div>
            <div class="input-box check">
                <label asp-for="@Model.HasPolenCatcher"></label>
                <input asp-for="@Model.HasPolenCatcher" />
            </div>
            <div class="input-box check">
                <label asp-for="@Model.HasPropolisCatcher"></label>
                <input asp-for="@Model.HasPropolisCatcher" />
            </div>

            <input type="hidden" asp-for="@Model.ApiaryId" />

            <div class="btn-group">
                <input class="btn beehive-create" type="submit" value="Добави кошер" />
            </div>
        </form>
    </div>
</div>

<script>
    $(function(){
        $("#cretion-date").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#cretion-date").datepicker({ dateFormat: 'yy-mm-dd' }).bind("change",function(){
            var minValue = $(this).val();
            minValue = $.datepicker.parseDate("yy-mm-dd", minValue);
            minValue.setDate(minValue.getDate()+1);
            $("#cretion-date").datepicker( "option", "minDate", minValue );
        })
    });
</script>
