@model BeekeeperAssistant.Web.ViewModels.Beehives.EditBeehiveInputModel
@{ 
    ViewData["Title"] = $"Редактиране кошер: {Model.Number}";
}

<div class="breadcrumb">
    <ol class="breadcrumb-list">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начало</a></li>
        <li class="breadcrumb-item"><a href="/Apiary/@Model.Apiary.Number">Пчелин №@Model.Apiary.Number</a></li>
        <li class="breadcrumb-item active">Редактирай кошер - @Model.Number</li>
    </ol>
</div>

<div class="page-content">
    <div class="beehive create-edit edit">
        <form asp-controller="Beehive" asp-action="Edit">
            <h1 class="text-center">@this.ViewData["Title"]</h1>
            <div class="form-group">
                <label asp-for="@Model.Number">Номер</label>
                <input class="form-control" type="number" min="1" asp-for="@Model.Number" />
                <span asp-validation-for="@Model.Number"></span>
            </div>
            @if (Model.AllApiaries != null)
            {
                <div class="form-group">
                    <label asp-for="ApiaryId">Номер на пчелин</label>
                    <select class="custom-select" asp-for="ApiaryId">
                        @foreach (var api in Model.AllApiaries)
                        {
                            <option value="@api.Id">@api.Number</option>
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="@Model.BeehivePower"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="@Model.BeehiveSystem">Вид на кошера</label>
                <select class="custom-select" asp-for="@Model.BeehiveSystem" asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.BeehiveSystem>()"></select>
                <span class="text-danger" asp-validation-for="@Model.BeehiveSystem"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BeehiveType">Тип на кошера</label>
                <select class="custom-select" asp-for="@Model.BeehiveType" asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.BeehiveType>()"></select>
                <span class="text-danger" asp-validation-for="@Model.BeehiveType"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Date">Дата на създаване</label>
                <input id="dataPick" class="form-control" type="date" asp-for="@Model.Date" value="@DateTime.Now.ToString("dd.MM.yyyy")" />
                <span class="text-danger" asp-validation-for="@Model.Date"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.BeehivePower">Сила на кошера</label>
                <select class="custom-select" asp-for="@Model.BeehivePower" asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.BeehivePower>()"></select>
                <span class="text-danger" asp-validation-for="@Model.BeehivePower"></span>
            </div>

            <div class="form-group">
                <div class="custom-checkbox">
                    <label class="switch" asp-for="@Model.HasDevice">
                        <input type="checkbox" asp-for="@Model.HasDevice" checked="@if (@Model.HasDevice) { @true } else { @false }">
                        <span class="slider round"></span>
                    </label>
                    Апарат за майки
                </div>                
                <span class="text-danger" asp-validation-for="@Model.HasDevice"></span>
            </div>
            <div class="form-group">
                <div class="custom-checkbox">
                    <label class="switch" asp-for="@Model.HasPolenCatcher">
                        <input type="checkbox" asp-for="@Model.HasPolenCatcher">
                        <span class="slider round"></span>
                    </label>
                    Прашецоуловител
                </div>                
                <span class="text-danger" asp-validation-for="@Model.HasPolenCatcher"></span>
            </div>
            <div class="form-group">
                <div class="custom-checkbox">
                    <label class="switch" asp-for="@Model.HasPropolisCatcher">
                        <input type="checkbox" asp-for="@Model.HasPropolisCatcher">
                        <span class="slider round"></span>
                    </label>
                    Апарат за майки
                </div>                
                <span class="text-danger" asp-validation-for="@Model.HasPropolisCatcher"></span>
            </div>
            <div class="form-group submit">
                <input class="submit-btn" type="submit" value="Редактирайте" />
            </div>
        </form>
    </div> 
</div>
