@model BeekeeperAssistant.Web.ViewModels.Beehives.EditBeehiveInputModel
@using BeekeeperAssistant.Data.Models;
@{
    this.ViewData["Title"] = "Редактиране на кошер";
    var keyValuePairApiaries = Model.AllApiaries.Select(x => new SelectListItem(x.Value.ToString(), x.Key.ToString())).ToList();
}

<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Beehive" asp-action="All">Кошери - всички</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <ul class="breadcrumb-list responsive">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Beehive" asp-action="All">Кошери</a>
        </li>
        <li class="breadcrumb-item active">Редактиране</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <div class="form-box">
        <form asp-controller="Beehive" asp-action="Edit" method="post">
            <a class="back-arrow" asp-controller="Beehive" asp-action="All">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h2>@ViewData["Title"] - №@Model.Number</h2>
            <div class="error-msg" asp-validation-summary="All"></div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="@Model.Number"></label>
                    <input asp-for="@Model.Number" />
                    <span class="" asp-validation-for="@Model.Number"></span>
                </div>
                <div class="input-group">
                    <label asp-for="@Model.Date"></label>
                    <input asp-for="@Model.Date" />
                    <span class="" asp-validation-for="@Model.Date"></span>
                </div>
            </div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="@Model.BeehiveSystem"></label>
                    <select asp-for="@Model.BeehiveSystem"
                        asp-items="@Html.GetEnumSelectList<BeehiveSystem>()"></select>
                </div>
                <div class="input-group">
                    <label asp-for="@Model.BeehiveType"></label>
                    <select asp-for="@Model.BeehiveType" asp-items="@Html.GetEnumSelectList<BeehiveType>()"></select>
                </div>
            </div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="@Model.BeehivePower"></label>
                    <select asp-for="@Model.BeehivePower" asp-items="@Html.GetEnumSelectList<BeehivePower>()"></select>
                </div>
            </div>
            <div class="check">
                <div class="input-group check">
                    <label asp-for="@Model.IsItMovable"></label>
                    <div class="slider-yes-no">
                        <input asp-for="@Model.IsItMovable" />
                        <label for="IsItMovable"></label>
                    </div>
                </div>
                <div class="input-group check">
                    <label asp-for="@Model.HasDevice"></label>
                    <div class="slider-yes-no">
                        <input asp-for="@Model.HasDevice" />
                        <label for="HasDevice"></label>
                    </div>
                </div>
                <div class="input-group check">
                    <label asp-for="@Model.HasPolenCatcher"></label>
                    <div class="slider-yes-no">
                        <input asp-for="@Model.HasPolenCatcher" />
                        <label for="HasPolenCatcher"></label>
                    </div>
                </div>
                <div class="input-group check">
                    <label asp-for="@Model.HasPropolisCatcher"></label>
                    <div class="slider-yes-no">
                        <input asp-for="@Model.HasPropolisCatcher" />
                        <label for="HasPropolisCatcher"></label>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="@Model.ApiaryId" />
            <div class="btn-group">
                <input class="btn edit" type="submit" value="Редактирай" />
            </div>
        </form>
    </div>
</div>
