@model BeekeeperAssistant.Web.ViewModels.Beehives.BeehiveDataViewModel
@{
    ViewData["Title"] = $"Кошер №{@Model.Number}";
    string have = "Има";
    string dontHave = "Няма";
    Dictionary<string, string> powerClasses = new Dictionary<string, string>();
    powerClasses.Add("weak", "td-weak");
    powerClasses.Add("medium", "td-medium");
    powerClasses.Add("strong", "td-strong");
}

<div class="breadcrumb">
    <ol class="breadcrumb-list">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начало</a></li>
        <li class="breadcrumb-item"><a href="/Apiary/@Model.ApiaryNumber">Пчелин №@Model.ApiaryNumber</a></li>
        <li class="breadcrumb-item active">Кошер №@Model.Number</li>
    </ol>
</div>

<div class="page-content">
    <div class="data-view beehive">
        <h2>Информация за кошера</h2>
        <div>
            <div class="data-image">
                <img src="/images/inproggress.png" alt="в процес на разработка...">
            </div>
            <div class="data-info">
                <table>
                    <tbody>
                        <tr>
                            <td>Номер на кошера:</td>
                            <td>@Model.Number</td>
                        </tr>
                        <tr>
                            <td>Номер на пчелина:</td>
                            <td class="information"><a href="/Apiary/@Model.ApiaryNumber">@Model.ApiaryNumber</a></td>
                        </tr>
                        <tr>
                            <td>Система:</td>
                            <td>@Model.BeehiveSystem</td>
                        </tr>
                        <tr>
                            <td>Тип:</td>
                            <td>@Model.BeehiveType</td>
                        </tr>
                        <tr>
                            <td>Дата на създаване:</td>
                            <td>@Model.CreationDate.ToString("dd - MMMM - yyyy")</td>
                        </tr>
                        <tr>
                            <td>Сила</td>
                            <td class="@powerClasses[Model.BeehivePower.ToString().ToLower()]">@Model.BeehivePower.GetDescription()</td>
                        </tr>
                        <tr>
                            <td>Апарат:</td>
                            <td>
                                @if (Model.HasDevice)
                                {
                                    @have
                                }
                                else {
                                    @dontHave
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Прашецоуловител:</td>
                            <td>
                                @if (Model.HasPropolisCatcher)
                                {
                                    @have
                                }
                                else {
                                    @dontHave
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Решетка за прополис:</td>
                            <td>
                                @if (Model.HasPolenCatcher)
                                {
                                    @have
                                }
                                else {
                                    @dontHave
                                }
                            </td>
                        </tr>
                        <tr class="edit">
                            <td></td>
                            <td>
                                <a class="table-edit" asp-controller="Beehive" asp-action="Edit" asp-route-id="@Model.Id">
                                    Редактирайте кошера
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
