@model BeekeeperAssistant.Web.ViewModels.Queens.AllQueenViewModel
@inject BeekeeperAssistant.Services.IStringManipulationService stringManipulation;
@using BeekeeperAssistant.Web.ViewModels.Shared

@{
    ViewData["Title"] = "Майки - всички";

    var navigation = new Dictionary<string, string>();
    navigation.Add("Табло", "/App");
    navigation.Add(ViewData["Title"].ToString(), null);

    var breadcrumbNav = new BreadcrumbModel
    {
        Navigation = navigation,
    };
}

<partial model="@breadcrumbNav" name="_BreadcrumbPartial" />

<div class="content">
    <h1 class="title-1">@ViewData["Title"]</h1>
    <partial model="@Model.AllQueensFilterModel" name="_FiltersPartial" />
    <table class="data-table all-table">
        <thead>
            <tr>
                <th>
                    <a class="@stringManipulation.Slugify(nameof(QueenDataModel.Color))" asp-controller="Queen" asp-action="All" asp-route-page="@Model.CurrentPage"
                       asp-route-orderBy="@stringManipulation.Slugify(nameof(QueenDataModel.Color))">Цвят</a>
                </th>
                <th>
                    <a class="@stringManipulation.Slugify(nameof(QueenDataModel.GivingDate))" asp-controller="Queen" asp-action="All" asp-route-page="@Model.CurrentPage"
                       asp-route-orderBy="@stringManipulation.Slugify(nameof(QueenDataModel.GivingDate))">Дата на придаване</a>
                </th>
                <th>
                    <a class="@stringManipulation.Slugify(nameof(QueenDataModel.BeehiveApiaryNumber))" asp-controller="Queen" asp-action="All" asp-route-page="@Model.CurrentPage"
                       asp-route-orderBy="@stringManipulation.Slugify(nameof(QueenDataModel.BeehiveApiaryNumber))">
                        Номер на пчелин
                    </a>
                </th>
                <th>
                    <a class="@stringManipulation.Slugify(nameof(QueenDataModel.BeehiveNumber))" asp-controller="Queen" asp-action="All" asp-route-page="@Model.CurrentPage"
                       asp-route-orderBy="@stringManipulation.Slugify(nameof(QueenDataModel.BeehiveNumber))">
                        Номер на кошер
                    </a>
                </th>
                <th>
                    <a class="@stringManipulation.Slugify(nameof(QueenDataModel.Origin))" asp-controller="Queen" asp-action="All" asp-route-page="@Model.CurrentPage"
                       asp-route-orderBy="@stringManipulation.Slugify(nameof(QueenDataModel.Origin))">
                        Произход
                    </a>
                </th>
                <th>
                    <a class="@stringManipulation.Slugify(nameof(QueenDataModel.Breed))" asp-controller="Queen" asp-action="All" asp-route-page="@Model.CurrentPage"
                       asp-route-orderBy="@stringManipulation.Slugify(nameof(QueenDataModel.Breed))">
                        Порода
                    </a>
                </th>
                <th>Редактиране</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var queen in Model.AllQueens)
            {
                <tr>
                    <td class="queen-@queen.Color.ToString().ToLower()">@Html.DisplayFor(q => queen.Color)</td>
                    <td class="table-sdate">
                        <time datetime="@queen.GivingDate.ToString("O")"></time>
                    </td>
                    <td class="number">
                        <a asp-controller="Apiary" asp-action="ById" asp-route-id="@queen.BeehiveApiaryId">
                            @if (queen.BeehiveApiaryNumber != null)
                            {
                                @queen.BeehiveApiaryNumber
                            }
                            else
                            {
                                @queen.BeehiveApiaryName
                            }
                        </a>
                    </td>
                    <td class="number">
                        <a asp-action="ById" asp-controller="Beehive" asp-route-id="@queen.BeehiveId"
                           asp-route-tabPage="Queen">@queen.BeehiveNumber</a>
                    </td>

                    <td>@queen.Origin</td>
                    <td>@Html.DisplayFor(x => queen.Breed)</td>
                    <td class="edit">
                        <div class="edit-container">
                            <a class="mark" asp-controller="Queen" asp-action="Bookmark" asp-route-id="@queen.Id" title="Отбележи майката">
                                <i class="@(queen.IsBookMarked ? "fas " : "far") fa-bookmark"></i>
                            </a>
                            <a class="edit" asp-controller="Queen" asp-action="Edit" asp-route-id="@queen.Id"
                               asp-route-id="@queen.BeehiveId" title="Редактирай майката">
                                <i class="far fa-edit"></i>
                            </a>
                            <a class="delete" onclick="ShowDeleteForm('@queen.Id')" title="Изтрий майката">
                                <i class="far fa-trash-alt"></i>
                            </a>

                            <div id="@queen.Id" class="delete-form-display">
                                <form id="form-@queen.Id" asp-controller="Queen" asp-action="Delete"
                                      asp-route-id="@queen.Id">
                                    <a class="delete close" onclick="HideDeleteForm('@queen.Id')">
                                        <i class="fas fa-times"></i>
                                    </a>
                                    <p>
                                        Сигурни ли сте че искате да изтриете майката от кошер
                                        <strong>
                                            №@queen.BeehiveNumber
                                        </strong>
                                        в пчелин
                                        <strong>
                                            @if (queen.BeehiveApiaryNumber != null)
                                            {
                                                @queen.BeehiveApiaryNumber
                                            }
                                            else
                                            {
                                                @queen.BeehiveApiaryName
                                            }
                                        </strong>
                                        ?
                                    </p>

                                    <button type="submit" class="delete">
                                        Изтрий <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                                <div class="content-cover" onclick="HideDeleteForm('@queen.Id')"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="all-table-responsive">
        <table>
            <thead>
            <th>Параметър</th>
            <th>Стойност</th>
            </thead>
            <tbody>
                @foreach (var queen in Model.AllQueens)
                {
                    <tr>
                        <td>Цвят</td>
                        <td class="queen-@queen.Color.ToString().ToLower()">
                            @Html.DisplayFor(q => queen.Color)
                        </td>
                    </tr>
                    <tr>
                        <td>Дата на придаване</td>
                        <td>
                            @queen.GivingDate.ToString("ddd dd-MMM-yyyy")
                        </td>
                    </tr>
                    <tr>
                        <td>Номер на пчелин</td>
                        <td class="number">
                            <a asp-controller="Apiary" asp-action="ById" asp-route-id="@queen.BeehiveApiaryId">
                                @if (queen.BeehiveApiaryNumber != null)
                                {
                                    @queen.BeehiveApiaryNumber
                                }
                                else
                                {
                                    @queen.BeehiveApiaryName
                                }
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Номер на кошер</td>
                        <td class="number">
                            <a asp-controller="Beehive" asp-action="ById"
                               asp-route-id="@queen.BeehiveId">@queen.BeehiveNumber</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Произход</td>
                        <td>@queen.Origin</td>
                    </tr>
                    <tr>
                        <td>Порода</td>
                        <td>@Html.DisplayFor(x => queen.Breed)</td>
                    </tr>
                    <tr class="edit-row">
                        <td>Редактиране</td>
                        <td class="edit">
                            <div class="edit-container">
                                <a class="mark" asp-controller="Queen" asp-action="Bookmark" asp-route-id="@queen.Id">
                                    <i class="@(queen.IsBookMarked ? "fas " : "far") fa-bookmark"></i>
                                </a>
                                <a class="edit" asp-controller="Queen" asp-action="Edit" asp-route-id="@queen.Id"
                                   asp-route-id="@queen.BeehiveId">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a class="delete" onclick="ShowDeleteForm('@queen.Id-responsive')">
                                    <i class="far fa-trash-alt"></i>
                                </a>

                                <div id="@queen.Id-responsive" class="delete-form-display">
                                    <form id="form-@queen.Id" asp-controller="Queen" asp-action="Delete"
                                          asp-route-id="@queen.Id">
                                        <a class="delete close" onclick="HideDeleteForm('@queen.Id-responsive')">
                                            <i class="fas fa-times"></i>
                                        </a>
                                        <p>
                                            Сигурни ли сте че искате да изтриете майката от кошер
                                            <strong>
                                                №@queen.BeehiveNumber
                                            </strong>
                                            в пчелин
                                            <strong>
                                                @if (queen.BeehiveApiaryNumber != null)
                                                {
                                                    @queen.BeehiveApiaryNumber
                                                }
                                                else
                                                {
                                                    @queen.BeehiveApiaryName
                                                }
                                            </strong>
                                            ?
                                        </p>

                                        <button type="submit" class="delete">
                                            Изтрий <i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>
                                    <div class="content-cover" onclick="HideDeleteForm('@queen.Id-responsive')"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (!Model.AllQueens.Any())
    {
        <p class="empty-row">няма добавени майки</p>
    }
    <div class="pagination">
        <ul>
            @if (this.Model.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <span class="page-link">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Queen" asp-action="All"
                       asp-route-page="@(this.Model.CurrentPage - 1)">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </li>
            }
            @for (int i = 1; i <= this.Model.PagesCount; i++)
            {
                @if (i == this.Model.CurrentPage)
                {
                    <li class="page-item active">
                        <span class="page-link">@i</span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Queen" asp-action="All" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            @if (this.Model.CurrentPage == this.Model.PagesCount)
            {
                <li class="page-item disabled">
                    <span class="page-link">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Queen" asp-action="All"
                       asp-route-page="@(this.Model.CurrentPage + 1)">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
