@model BeekeeperAssistant.Web.ViewModels.Queens.CreateQueenInputModel
@using BeekeeperAssistant.Data.Models
@using BeekeeperAssistant.Web.ViewModels.Shared

@{
    this.ViewData["Title"] = "Добавяне на майка";

    var navigation = new Dictionary<string, string>();
    navigation.Add("...", "/App");

    var title = "";
    if (!string.IsNullOrEmpty(Model.ApiaryNumber))
    {
        title = Model.ApiaryNumber;
    }
    else
    {
        title = Model.ApiaryName;
    }

    navigation.Add(title, $"/App/Apiary/ById/{Model.ApiaryId}");
    navigation.Add(Model.BeehiveNumber.ToString(), $"/App/Beehive/ById/{Model.BeehiveId}");
    navigation.Add(ViewData["Title"].ToString(), null);

    var breadcrumbNav = new BreadcrumbModel
    {
        Navigation = navigation,
    };
}

<partial model="@breadcrumbNav" name="_BreadcrumbPartial" />

<div class="content">
    <div class="form-box">
        <form asp-controller="Queen" asp-action="Create" method="post">
            <h2 class="no-required">@this.ViewData["Title"]</h2>
            <div class="error-msg" asp-validation-summary="All"></div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="Color"></label>
                    <select asp-for="Color" asp-items="@Html.GetEnumSelectList<QueenColor>()"></select>
                    <span class="error-msg" asp-validation-for="Color"></span>
                </div>
                <div class="input-group">
                    <label asp-for="FertilizationDate"></label>
                    <input asp-for="FertilizationDate" />
                    <span class="error-msg" asp-validation-for="FertilizationDate"></span>
                </div>
            </div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="GivingDate"></label>
                    <input asp-for="GivingDate" />
                    <span class="error-msg" asp-validation-for="GivingDate"></span>
                </div>
                <div class="input-group">
                    <label asp-for="QueenType"></label>
                    <select asp-for="QueenType" asp-items="@Html.GetEnumSelectList<QueenType>()"></select>
                    <span class="error-msg" asp-validation-for="QueenType"></span>
                </div>
            </div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="Breed"></label>
                    <select asp-for="Breed" asp-items="@Html.GetEnumSelectList<QueenBreed>()"></select>
                    <span class="error-msg" asp-validation-for="Breed"></span>
                </div>
                <div class="input-group">
                    <label asp-for="Temperament"></label>
                    <input asp-for="Temperament" />
                    <span class="error-msg" asp-validation-for="Temperament"></span>
                </div>
            </div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="Origin"></label>
                    <textarea asp-for="Origin" cols="30" rows="5"></textarea>
                    <span class="error-msg" asp-validation-for="Origin"></span>
                </div>
                <div class="input-group">
                    <label asp-for="HygenicHabits"></label>
                    <textarea asp-for="HygenicHabits" cols="30" rows="5"></textarea>
                    <span class="error-msg" asp-validation-for="HygenicHabits"></span>
                </div>
            </div>
            <input type="hidden" asp-for="BeehiveId" />
            <input type="hidden" asp-for="BeehiveNumber" />
            <input type="hidden" asp-for="ApiaryId" />
            <input type="hidden" asp-for="ApiaryNumber" />
            <input type="hidden" asp-for="ApiaryName" />
            <div class="btn-group more">
                <a class="back-button btn form-back" asp-controller="Beehive" asp-action="ById"
                   asp-route-id="@Model.BeehiveId" asp-route-tabPage="Queen">Отмени</a>
                <input class="btn queen" type="submit" value="@this.ViewData["Title"]" />
            </div>
        </form>
    </div>
</div>
