@model BeekeeperAssistant.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Администрация";
}

<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <div class="dashboard-cards-list">
        <div class="count-card">
            <div class="count-card-body">
                <a asp-area="Administration" asp-controller="User" asp-action="All">
                    <div>
                        <p>@Model.AllUsersCount</p>
                        <p>Регистрирани потребители</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="count-card">
            <div class="count-card-body">
                <a asp-area="Administration" asp-controller="ApiaryHelper" asp-action="All">
                    <div>
                        <p>@Model.AllHelpersCount</p>
                        <p>Добавени помощници</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="count-card">
            <div class="count-card-body">
                <a asp-area="Administration" asp-controller="User" asp-action="AllAdministrators">
                    <div>
                        <p>@Model.AllAdministratorsCount</p>
                        <p>Администратори</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="dashboard-cards-list">
        <div class="count-card">
            <div class="count-card-body">
                <a asp-area="Administration" asp-controller="Apiary" asp-action="All">
                    <div>
                        <p>@Model.AllApiariesCount</p>
                        <p>Създадени пчелина</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="count-card">
            <div class="count-card-body">
                <a asp-area="Administration" asp-controller="Beehive" asp-action="All">
                    <div>
                        <p>@Model.AllBeehivesCount</p>
                        <p>Създадени кошера</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="count-card">
            <div class="count-card-body">
                <a asp-area="Administration" asp-controller="Feedback" asp-action="All">
                    <div>
                        <p>Отзиви и запитвания</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
