@model BeekeeperAssistant.Web.ViewModels.Administration.Dashboard.AdministrationIndexDashboardViewModel
@using BeekeeperAssistant.Web.ViewModels.Shared

@{
    this.ViewData["Title"] = "Администрация";

    var navigation = new Dictionary<string, string>();
    navigation.Add(ViewData["Title"].ToString(), null);

    var breadcrumbNav = new BreadcrumbModel
    {
        Navigation = navigation,
    };
}

<partial model="@breadcrumbNav" name="_BreadcrumbPartial" />

<div class="content">
    <div class="dashboard-cards-list">
        <div class="count-card">
            <div class="count-card-body">
                <a asp-area="Administration" asp-controller="User" asp-action="All">
                    <div>
                        <p>@Model.AllUsersCount</p>
                        <p>Регистрирани потребители</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="count-card">
            <div class="count-card-body">
                <a asp-area="Administration" asp-controller="ApiaryHelper" asp-action="All">
                    <div>
                        <p>@Model.AllHelpersCount</p>
                        <p>Добавени помощници</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="count-card">
            <div class="count-card-body">
                <a asp-area="Administration" asp-controller="User" asp-action="AllAdministrators">
                    <div>
                        <p>@Model.AllAdministratorsCount</p>
                        <p>Администратори</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="dashboard-cards-list">
        <div class="count-card">
            <div class="count-card-body">
                <a asp-area="Administration" asp-controller="Apiary" asp-action="All">
                    <div>
                        <p>@Model.AllApiariesCount</p>
                        <p>Създадени пчелина</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="count-card">
            <div class="count-card-body">
                <a asp-area="Administration" asp-controller="Beehive" asp-action="All">
                    <div>
                        <p>@Model.AllBeehivesCount</p>
                        <p>Създадени кошера</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="count-card">
            <div class="count-card-body">
                <a asp-area="Administration" asp-controller="Feedback" asp-action="All">
                    <div>
                        <p>Отзиви и запитвания</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="dashboard-cards-list">
        <div class="count-card">
            <div class="count-card-body">
                <a asp-area="Administration" asp-controller="Communication" asp-action="Index">
                    <div>
                        <p>Комуникации</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
