@model BeekeeperAssistant.Web.ViewModels.Feedbacks.CreateFeedbackInputModel
@using BeekeeperAssistant.Web.ViewModels.Shared

@{
    ViewData["Title"] = "Помощ и отзиви";
    string shortName = "";
    string submitClass = "beehive-create";
    string feedbackIcon = "far fa-question-circle";
    string feedbackIconType = "help";
    if (ViewData["FeedbackType"] != null)
    {
        if (ViewData["FeedbackType"].ToString() == FeedbackType.Feedback.ToString())
        {
            ViewData["Title"] = "Изпрати отзив";
            shortName = "Отзив";
            submitClass = "beehive-create";
            feedbackIcon = "far fa-lightbulb hover-show";
            feedbackIconType = "feed";
        }
        else if (ViewData["FeedbackType"].ToString() == FeedbackType.Help.ToString())
        {
            ViewData["Title"] = "Поискай помощ";
            shortName = "Помощ";
            submitClass = "apiary";
            feedbackIcon = "far fa-question-circle";
            feedbackIconType = "help";
        }
        else if (ViewData["FeedbackType"].ToString() == FeedbackType.Report.ToString())
        {
            ViewData["Title"] = "Докладвай грешка";
            shortName = "Доклад";
            submitClass = "queen";
            feedbackIcon = "fas fa-exclamation-triangle";
            feedbackIconType = "report";
        }
    }

    var navigation = new Dictionary<string, string>();
    navigation.Add("Табло", "/App");
    navigation.Add("Помощ и отзиви", "/App/Feedback/Index");
    navigation.Add(ViewData["Title"].ToString(), null);

    var breadcrumbNav = new BreadcrumbModel
    {
        Navigation = navigation,
    };
}

<partial model="@breadcrumbNav" name="_BreadcrumbPartial" />

<div class="content">
    <div class="form-box">
        <form asp-controller="Feedback" asp-action="Create" method="post">
            <div class="feedback-icon no-required">
                <i class="@feedbackIcon @feedbackIconType"></i>
            </div>
            <h2>@ViewData["Title"]</h2>

            @if (ViewData["FeedbackType"].ToString() == FeedbackType.Report.ToString())
            {
                <p class="form-note">
                    <span class="star">*</span>
                    Опишете грешката която сте забелязали.
                </p>
            }

            @if (ViewData["FeedbackType"] == null)
            {
                <div class="input-group max">
                    <div class="input-group">
                        <label asp-for="FeedbackType"></label>
                        <select asp-for="FeedbackType" asp-items="Html.GetEnumSelectList<FeedbackType>()"></select>
                        <span asp-validation-for="FeedbackType"></span>
                    </div>
                </div>
            }
            else
            {
                <input asp-for="FeedbackType" type="hidden" />
            }
            <div class="input-group max">
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="input-group max">
                <label asp-for="Body" class="field-required"></label>
                <textarea asp-for="Body" cols="30" rows="10"></textarea>
                <span asp-validation-for="Body"></span>
            </div>
            <div class="btn-group more">
                <a class="back-button btn form-back" asp-controller="Feedback" asp-action="Index">Отмени</a>
                <input class="btn @submitClass" type="submit" value="@this.ViewData["Title"]" />
            </div>
            <div class="form-star-tip">
                *Полетата обозначени с
                '<span style="color: var(--red); font-size: 16px; font-weight: bold;">*</span>'
                са задължителни.
            </div>
        </form>
    </div>
</div>
