@model BeekeeperAssistant.Web.ViewModels.ApiaryNotes.EditApiaryNoteInputModel
@{
    ViewData["Title"] = "Редактиране на бележка";

    var returnUrl = Context.Request.Path;
}

<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apiary" asp-action="ById" asp-route-apiaryId="@Model.ApiaryId">
                @if (!string.IsNullOrEmpty(Model.ApiaryNumber))
                {
                    @Model.ApiaryNumber
                }
                else
                {
                    @Model.ApiaryName
                }
            </a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <ul class="breadcrumb-list responsive">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">...</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apiary" asp-action="ById" asp-route-apiaryId="@Model.ApiaryId">
                @if (!string.IsNullOrEmpty(Model.ApiaryNumber))
                {
                    @Model.ApiaryNumber
                }
                else
                {
                    @Model.ApiaryName
                }
            </a>
        </li>
        <li class="breadcrumb-item active">Редактиране</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<h1 class="tab-title title-1">
    @if (!string.IsNullOrEmpty(Model.ApiaryNumber))
    {
        @("Пчелин №")
        @Model.ApiaryNumber
    }
    else
    {
        @Model.ApiaryName
    }
    - @ViewData["Title"]
</h1>
<div class="tab">
    <a class="tablinks" asp-controller="Apiary" asp-action="ById" asp-route-apiaryId="@Model.ApiaryId">
        <i class="fas fa-boxes"></i>
        @if (!string.IsNullOrEmpty(Model.ApiaryNumber))
        {
            @Model.ApiaryNumber
        }
        else
        {
            @Model.ApiaryName
        }
    </a>
    <a class="tablinks" asp-controller="Beehive" asp-action="AllByApiaryId" asp-route-id="@Model.ApiaryId">
        <i class="fas fa-border-all"></i>
        Кошери
    </a>
    <a class="tablinks active" asp-controller="ApiaryNote" asp-action="AllByApiaryId"
        asp-route-apiaryId="@Model.ApiaryId">
        <i class="fas fa-sticky-note"></i>
        Бележки
    </a>
    <a class="tablinks" asp-controller="ApiaryDiary" asp-action="ByApiaryId" asp-route-id="@Model.ApiaryId">
        <i class="fas fa-book"></i>
        Дневник
    </a>
</div>

<div class="tabs-body">
    <div id="Notes" class="tabcontent">
        <div class="form-box">
            <form asp-controller="ApiaryNote" asp-action="Edit" asp-route-noteId="@Model.Id">
                <a class="back-arrow" asp-controller="ApiaryNote" asp-action="AllByApiaryId"
                    asp-route-apiaryId="@Model.ApiaryId">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <h2>@ViewData["Title"]</h2>
                <div class="input-group max" onchange="test(this);">
                    <label asp-for="@Model.Color"></label>
                    <div class="input-note-background-colors">
                        @foreach (var color in GlobalConstants.NoteBackgroundColors)
                        {
                            <div class="custom-note-color" style="background-color: @color;"
                            onclick="setBackground('@color');">
                            </div>
                        }
                        @* <input type="color" value="@GlobalConstants.NoteBackgroundColors[2]"> *@
                    </div>
                </div>
                <div class="input-group max">
                    <label asp-for="@Model.Content"></label>
                    <textarea asp-for="@Model.Content" cols="30" rows="15"  style="background-color: @Model.Color;"></textarea>
                    <span asp-validation-for="Content"></span>
                </div>
                <input type="hidden" asp-for="@Model.Color">
                <div class="btn-group">
                    <input class="btn beehive-create" type="submit" value="@this.ViewData["Title"]" />
                </div>
            </form>
        </div>
    </div>
</div>
