@model BeekeeperAssistant.Web.ViewModels.Administration.Users.AllUsersViewModel
@{
    this.ViewData["Title"] = "Регистрирани потребители";
}

<div class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="Index">Администрация</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>
<div class="content">
    <partial name="_StatusMessagePartial" />

    <h1 class="title-1">@ViewData["Title"]</h1>
    <table class="data-table administration">
        <thead>
            <tr>
                <th>Потребител</th>
                <th>Тел.</th>
                <th>Създаден на</th>
                <th>Статус</th>
                <th>Опция</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.AllUsers)
            {
            <tr>
                <td class="number" style="padding: 8px;">
                    @(user.Username)
                </td>
                <td style="text-align: center;">
                    @if (string.IsNullOrEmpty(user.PhoneNumber))
                    {
                        @("-")
                    }
                    else
                    {
                        @(user.PhoneNumber)
                    }
                </td>
                <td>
                    @(user.CreatedOn.ToString("ddd dd-MMMM-yyyy"))
                </td>
                <td style="color: @if (user.IsDeleted) @("#d9695d") else @("#558b2f");">
                    @if (!(user.Username == this.User.Identity.Name))
                    {
                        if (user.IsDeleted)
                        {
                            <div style="font-weight: 500;">@("Изтрит")</div>
                        }
                        else
                        {
                            <div>Активен</div>
                        }
                    }
                </td>
                <td class="edit-delete" style="padding: 4px;">
                    @if (!(user.Username == this.User.Identity.Name))
                    {
                        if (!user.IsDeleted)
                        {
                            <form method="post" asp-area="Administration" asp-controller="User" asp-action="Delete"
                                  asp-route-id="@user.Id">
                                <button type="submit" class="btn delete">Изтрий</button>
                            </form>
                        }
                        else
                        {
                            <form method="post" asp-area="Administration" asp-controller="User" asp-action="Undelete"
                                  asp-route-id="@user.Id">
                                <button type="submit" class="btn edit">Възстанови</button>
                            </form>
                        }
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="pagination">
        <ul>
            @if (this.Model.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <span class="page-link">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-area="Administration" asp-controller="User" asp-action="All"
                       asp-route-page="@(this.Model.CurrentPage - 1)">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </li>
            }
            @for (int i = 1; i <= this.Model.PagesCount; i++)
            {
                @if (i == this.Model.CurrentPage)
                {
                    <li class="page-item active">
                        <span class="page-link">@i</span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-area="Administration" asp-controller="User" asp-action="All" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            @if (this.Model.CurrentPage == this.Model.PagesCount)
            {
                <li class="page-item disabled">
                    <span class="page-link">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-area="Administration" asp-controller="User" asp-action="All"
                       asp-route-page="@(this.Model.CurrentPage + 1)">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
