@model BeekeeperAssistant.Web.ViewModels.Administration.Users.AllUsersViewModel
@{
    this.ViewData["Title"] = "Потребители";
}

<div class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="Index">Администрация</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    @foreach (var user in Model.AllUsers)
    {
    <div>
        @(user.Username) - @user.PhoneNumber
        @if (!(user.Username == this.User.Identity.Name))
        {
            if (!user.IsDeleted)
            {
                <form method="post" asp-area="Administration" asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">
                    <button type="submit">Изтрий</button>
                </form>
            }
            else
            {
                <form method="post" asp-area="Administration" asp-controller="User" asp-action="Undelete" asp-route-id="@user.Id">
                    <button type="submit">Възобнови</button>
                </form>
            }

        }
    </div>
    }
</div>
