@model BeekeeperAssistant.Web.ViewModels.Administration.Users.UserProfileViewModel
@using BeekeeperAssistant.Web.ViewModels.Shared

@{
    ViewData["Title"] = $"Потребителски профил - {@Model.User.UserName}";

    var navigation = new Dictionary<string, string>();
    navigation.Add("Администрация", "/Administration/Dashboard");
    navigation.Add("Потребители", "/Administration/User/All");
    navigation.Add(ViewData["Title"].ToString(), null);

    var breadcrumbNav = new BreadcrumbModel
    {
        Navigation = navigation,
    };
}

<partial model="@breadcrumbNav" name="_BreadcrumbPartial" />

<h1 class="tab-title title-1">@ViewData["Title"]</h1>
<partial name="_StatusMessagePartial" />
<div class="user-profile">
    <div class="data-view">
        <div class="profile-mage">
            @if (Model.User.ProfileImageUrl != null)
            {
                <img src="@Model.User.ProfileImageUrl" alt="профил" width="250">
            }
            else
            {
                <img src="~/img/userImage.png" alt="профил" width="250" >
            }
        </div>
        <div class="table-info">
            <table>
                <tbody>
                    <tr>
                        <th scope="row">ID:</th>
                        <td>@Model.User.Id</td>
                    </tr>
                    <tr>
                        <th scope="row">Username:</th>
                        <td>@Model.User.UserName</td>
                    </tr>
                    <tr>
                        <th scope="row">Email:</th>
                        <td>
                            <a href="mailto:@Model.User.Email">@Model.User.Email</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Телефон:</th>
                        <td>
                            @if (Model.User.PhoneNumber == null)
                            {
                                @("не е въведен")
                            }
                            else
                            {
                                <a href="tel:@Model.User.PhoneNumber">@Model.User.PhoneNumber</a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">EmailConfirmed:</th>
                        <td>
                            @if (Model.User.EmailConfirmed)
                            {
                                @("да")
                                ;
                            }
                            else
                            {
                                <strong>НЕ</strong>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Създаден на:</th>
                        <td>@Model.User.CreatedOn</td>
                    </tr>
                    <tr>
                        <th scope="row">Редактиран на:</th>
                        <td>@Model.User.ModifiedOn</td>
                    </tr>
                    <tr>
                        <th scope="row">Изтрит:</th>
                        <td>
                            @if (Model.User.IsDeleted)
                            {
                                <strong>ДА - на @Model.User.DeletedOn</strong>
                            }
                            else
                            {
                                @("не")
                                ;
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
