@model BeekeeperAssistant.Web.ViewModels.Administration.SystemNotification.CreateNotificationInputModel
@using BeekeeperAssistant.Common
@using BeekeeperAssistant.Web.ViewModels.Shared

@{
    ViewData["Title"] = "Добавяне на системно известие";
    int textAreaRows = 10;

    var navigation = new Dictionary<string, string>();
    navigation.Add("Администрация", "/Administration/Dashboard");
    navigation.Add("Система", "/App/Home/AdditionalPage");
    navigation.Add(ViewData["Title"].ToString(), null);

    var breadcrumbNav = new BreadcrumbModel
    {
        Navigation = navigation,
    };
}

<partial model="@breadcrumbNav" name="_BreadcrumbPartial" />

<div class="content">
    <partial name="_StatusMessagePartial" />
    <div class="form-box">
        <form asp-controller="SystemNotification" asp-action="Create" style="width: 100%;">
            <h2 class="no-required">@ViewData["Title"]</h2>
            <div class="error-msg" asp-validation-summary="All"></div>
            <div class="input-group max">
                <label asp-for="@Model.Title"></label>
                <input asp-for="@Model.Title" />
                <span class="" asp-validation-for="@Model.Title"></span>
            </div>
            <div class="input-group max">
                <label class="required" asp-for="@Model.Content"></label>
                @*<textarea asp-for="@Model.Content" cols="30" rows="@textAreaRows"></textarea>
                <span class="" asp-validation-for="@Model.Content"></span>*@
                <textarea asp-for="@Model.Content" id="tiny"></textarea>
            </div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="@Model.Version"></label>
                    <input asp-for="@Model.Version" value="@GlobalConstants.SystemVersion" />
                    <span class="" asp-validation-for="@Model.Version"></span>
                </div>
                <div class="input-group">
                    <label asp-for="@Model.ImageUrl"></label>
                    <input asp-for="@Model.ImageUrl" />
                    <span class="" asp-validation-for="@Model.ImageUrl"></span>
                </div>
            </div>
            <div class="btn-group more">
                <a class="back-button btn form-back" asp-controller="Home" asp-action="AdditionalPage">Отмени</a>
                <input class="btn beehive-create" type="submit" value="Добави известие" />
            </div>
            <div class="form-star-tip">
                *Полетата обозначени с
                '<span style="color: var(--red); font-size: 16px; font-weight: bold;">*</span>'
                са задължителни.
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/jquery.tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        $('textarea#tiny').tinymce({
            height: 350,
            menubar: true,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount table image',
                'link preview code emoticons'
            ],
        	toolbar_mode: 'wide',
            toolbar: 'undo redo | formatselect | bold italic underline strikethrough subscript superscript | fontsizeselect backcolor forecolor | alignleft aligncenter alignright alignjustify | image | bullist numlist outdent indent | removeformat | table tabledelete | link anchor preview  code | emoticons | help'
            ,
            a11y_advanced_options: true,
            image_list: [
                {title: 'BA Logo', value: '/img/ba_logo.svg'}
            ]
        });
    </script>
}

