@model BeekeeperAssistant.Web.ViewModels.BeehiveDiaries.ByBeehiveIdBeehiveDiaryViewModel
@using BeekeeperAssistant.Web.ViewModels.Shared
@{
    this.ViewData["Title"] = "Информация за кошер - №" + Model.BeehiveNumber;

    var navigation = new Dictionary<string, string>();
    navigation.Add("Табло", "/App");

    var title = "sdf";
    if (!string.IsNullOrEmpty(Model.BeehiveApiaryNumber))
    {
        title = Model.BeehiveApiaryNumber;
    }
    else
    {
        title = Model.BeehiveApiaryName;
    }

    navigation.Add(title, $"/App/Apiary/ById/{Model.BeehiveApiaryId}");
    navigation.Add(ViewData["Title"].ToString(), null);

    var breadcrumbNav = new BreadcrumbModel
    {
        Navigation = navigation,
    };
}

<partial model="@breadcrumbNav" name="_BreadcrumbPartial" />

<h1 class="tab-title title-1">Информация за кошер - №@Model.BeehiveNumber</h1>
<div class="tab beehive">
    <a class="tablinks" asp-controller="Beehive" asp-action="ById" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-archive"></i>
        <span class="text">
            Кошер №@Model.BeehiveNumber
        </span>
    </a>
    <a class="tablinks" asp-controller="Queen" asp-action="ByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-crown"></i>
        <span class="text">
            Майка
        </span>
    </a>
    <a class="tablinks" asp-controller="Inspection" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="far fa-calendar-check"></i>
        <span class="text">
            Прегледи
        </span>
    </a>
    <a class="tablinks " asp-controller="Treatment" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-notes-medical"></i>
        <span class="text">
            Третирания
        </span>
    </a>
    <a class="tablinks" asp-controller="Harvest" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-box"></i>
        <span class="text">
            Добиви
        </span>
    </a>
    <a class="tablinks" asp-controller="BeehiveNote" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-sticky-note"></i>
        <span class="text">
            Бележки
        </span>
    </a>
    <a class="tablinks active" asp-controller="BeehiveDiary" asp-action="ByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-book"></i>
        <span class="text">
            Дневник
        </span>
    </a>
</div>

<div class="tabs-body">
    <partial name="_StatusMessagePartial" />
    <div class="tabcontent">
        <div id="Diary" class="tabcontent" style="display: block">
            <form asp-controller="BeehiveDiary" asp-action="Save" asp-route-id="@Model.BeehiveId">
                <div class="btn-group">
                    <button class="btn edit" type="submit">
                        <i class="far fa-save"></i>
                        Запази
                    </button>
                </div>
                <textarea asp-for="@Model.Content" id="tiny">@Model.SanitizedContent</textarea>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/jquery.tinymce.min.js" referrerpolicy="origin"></script>
    <script>

        $('textarea#tiny').tinymce({
            height: 650,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount table'
            ],
            toolbar: 'undo redo | bold italic underline strikethrough subscript superscript | fontsizeselect backcolor forecolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | table tabledelete | help'
        });
    </script>
}