@{

}
@model BeekeeperAssistant.Web.ViewModels.Queens.AllUserQueensViewModel

@foreach (var queen in Model.UserQueens)
{
    <div>
        @queen.Breed
    </div>
    <div>
        @queen.Color
    </div>
    <div>
        @queen.HygenicHabits
    </div>
    <div>
        @queen.Origin
    </div>
    <div>
        @queen.Temperament
    </div>
}