@model BeekeeperAssistant.Web.ViewModels.Queens.ByBeehiveIdQueenViewModel
@{
    this.ViewData["Title"] = "Информация за кошер - №" + Model.BeehiveNumber;
    string imgpath = "queen" + Model.Color + ".png";
    var onlyReadMsg = "нямате достъп";
}

<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item">
            <a class="tablinks active" asp-controller="Apiary" asp-action="ById" asp-route-id="@Model.BeehiveApiaryId">
                @if (!string.IsNullOrEmpty(Model.BeehiveApiaryNumber))
                {
                    @($"Пчелин № {Model.BeehiveApiaryNumber}")
                }
                else
                {
                    @Model.BeehiveApiaryName
                }
            </a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <ul class="breadcrumb-list responsive">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">...</a>
        </li>
        <li class="breadcrumb-item">
            <a class="tablinks active" asp-controller="Apiary" asp-action="ById" asp-route-id="@Model.BeehiveApiaryId">
                @if (!string.IsNullOrEmpty(Model.BeehiveApiaryNumber))
                {
                    @($"Пчелин № {Model.BeehiveApiaryNumber}")
                }
                else
                {
                    @Model.BeehiveApiaryName
                }
            </a>
        </li>
        <li class="breadcrumb-item active">@Model.BeehiveNumber</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>


<h1 class="tab-title title-1">Информация за кошер - №@Model.BeehiveNumber</h1>
<div class="tab beehive">
    <a class="tablinks" asp-controller="Beehive" asp-action="ById" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-archive"></i>
        <span class="text">
            Кошер №@Model.BeehiveNumber
        </span>
    </a>
    <a class="tablinks active" asp-controller="Queen" asp-action="ByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-crown"></i>
        <span class="text">
            Майка
        </span>
    </a>
    <a class="tablinks" asp-controller="Inspection" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="far fa-calendar-check"></i>
        <span class="text">
            Прегледи
        </span>
    </a>
    <a class="tablinks " asp-controller="Treatment" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-notes-medical"></i>
        <span class="text">
            Третирания
        </span>
    </a>
    <a class="tablinks" asp-controller="Harvest" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-box"></i>
        <span class="text">
            Добиви
        </span>
    </a>
    <a class="tablinks" asp-controller="BeehiveNote" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-sticky-note"></i>
        <span class="text">
            Бележки
        </span>
    </a>
    <a class="tablinks" asp-controller="BeehiveDiary" asp-action="ByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-book"></i>
        <span class="text">
            Дневник
        </span>
    </a>
</div>

<div class="tabs-body">
    <partial name="_StatusMessagePartial" />
    <div class="tabcontent">

        <div class="queen-preview">
            @if (Model.HasQueen)
            {
                <img src="~/img/queen/@imgpath">
                <table>
                    <tr>
                        <th scope="row">цвят:</th>
                        <td>@Html.DisplayFor(x => Model.Color)</td>
                    </tr>
                    <tr>
                        <th scope="row">датана оплождане:</th>
                        <td>
                            <time datetime="@Model.FertilizationDate.ToString("O")"></time>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">дата на придаване:</th>
                        <td><time datetime="@Model.GivingDate.ToString("O")"></time></td>
                    </tr>
                    <tr>
                        <th scope="row">вид:</th>
                        <td>@Html.DisplayFor(x => Model.QueenType)</td>
                    </tr>
                    <tr>
                        <th scope="row">порода:</th>
                        <td>@Html.DisplayFor(x => Model.Breed)</td>
                    </tr>
                    <tr>
                        <th scope="row">произход:</th>
                        <td>@Model.Origin</td>
                    </tr>
                    <tr>
                        <th scope="row">нрав:</th>
                        <td>@Model.Temperament</td>
                    </tr>
                    <tr>
                        <th scope="row">хигиенни навици:</th>
                        <td>@Model.HygenicHabits</td>
                    </tr>
                </table>
                <div class="data-edit beehive-info">
                    @if (Model.QueenAccess == Access.ReadWrite)
                    {
                        <a class="btn edit" asp-controller="Queen" asp-action="Edit" asp-route-id="@Model.Id">
                            Редактирай
                        </a>
                        <form asp-controller="Queen" asp-action="Delete" asp-route-id="@Model.Id">
                            <input class="btn delete" type="submit" value="Изтрий" />
                        </form>
                    }
                    else
                    {
                        @onlyReadMsg

                    }

                </div>
            }
            else
            {
                <a class="btn queen-create" asp-controller="Queen" asp-action="Create" asp-route-id="@Model.BeehiveId">
                    <i class="fas fa-crown"></i>
                    Добави майка
                </a>
            }
        </div>

    </div>
</div>

