@model BeekeeperAssistant.Web.ViewModels.Queens.QueenDataViewModel
@{
    this.ViewData["Title"] = $"Кошер: {Model.Beehive.Number} - Кралица";
}

<div class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Queen" asp-action="All">Всички кралици</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<h2 class="title-1">Кралица</h2>
<div class="queen-preview">
    @if (Model != null)
    {
        string imgPath = "queen" + Model.Color + ".png";
        <img src="~/img/queen/@imgPath">
        <table>
            <tr>
                <th scope="row">Цвят:</th>
                <td>@Html.DisplayFor(x => Model.Color)</td>
            </tr>
            <tr>
                <th scope="row">Датана оплождане:</th>
                <td>@Model.FertilizationDate.ToString("dd.mm.yyyy")</td>
            </tr>
            <tr>
                <th scope="row">Дата на придаване:</th>
                <td>@Model.GivingDate.ToString("dd.mm.yyyy")</td>
            </tr>
            <tr>
                <th scope="row">Вид:</th>
                <td>@Html.DisplayFor(x => Model.QueenType)</td>
            </tr>
            <tr>
                <th scope="row">Порода:</th>
                <td>@Html.DisplayFor(x => Model.Breed)</td>
            </tr>
            <tr>
                <th scope="row">Произход:</th>
                <td>@Model.Origin</td>
            </tr>
            <tr>
                <th scope="row">Нрав:</th>
                <td>@Model.Temperament</td>
            </tr>
            <tr>
                <th scope="row">Хигиенни навици:</th>
                <td>@Model.HygenicHabits</td>
            </tr>
        </table>
        <a class="btn edit" asp-controller="Queen" asp-action="Edit" asp-route-id="@Model.Id">
            Редактирайте кралицата
        </a>
        @if (Model.User.UserName == this.User.Identity.Name && Model.HasHelpers)
        {
            <a class="btn apiary-create" asp-controller="QueenHelper" asp-action="All" asp-route-id="@Model.Id">Всички помощници</a>
        }

    }
    else
    {
        <a class="btn queen-create" asp-controller="Queen" asp-action="Create" asp-route-id="@Model.Id">
            <i class="fas fa-plus-square pr-2"></i>
            Добавете кралица
        </a>
    }
</div>

