@{ 

}
@model BeekeeperAssistant.Web.ViewModels.Queens.QueenDataViewModel

<div>
    @Model.Breed;
</div>
<div>
    @Model.Color
</div>
<div>
    @Model.FertilizationDate
</div>
<div>
    @Model.GivingDate
</div>
<div>
    @Model.HygenicHabits
</div>
<div>
    @Model.Origin
</div>
<div>
    @Model.QueenType
</div>
<div>
    @Model.Temperament
</div>