@model BeekeeperAssistant.Web.ViewModels.Queens.CreateQueenInputModel
@{ 

}

<h1>Create Works!</h1>

<form asp-controller="Queen" asp-action="Create">
    <h1>@this.ViewData["Title"]</h1>
    <div class="form-group name">
        <label asp-for="@Model.Number">Номер</label>
        <input type="text" asp-for="@Model.Number" class="form-control" placeholder="Ферма мая" />
        <span asp-validation-for="@Model.Number" class="text-danger"></span>
    </div>
    <div class="form-group type">
        <label asp-for="@Model.QueenColor">Цвят</label>
        <select asp-for="@Model.QueenColor" class="custom-select" id="inputGroupSelectApiaryType" asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.QueenColor>()"></select>
        <span asp-validation-for="@Model.QueenColor" class="text-danger"></span>
    </div>

    <div class="form-group type">
        <label asp-for="@Model.QueenType">Тип</label>
        <select asp-for="@Model.QueenType" class="custom-select" id="inputGroupSelectApiaryType" asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.QueenType>()"></select>
        <span asp-validation-for="@Model.QueenType" class="text-danger"></span>
    </div>
    <div class="form-group type">
        <label asp-for="@Model.QueenBreed">Порода</label>
        <select asp-for="@Model.QueenBreed" class="custom-select" id="inputGroupSelectApiaryType" asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.QueenBreed>()"></select>
        <span asp-validation-for="@Model.QueenBreed" class="text-danger"></span>
    </div>
    <div class="form-group name">
        <label asp-for="@Model.HygenicHabits">Хигиенни навици</label>
        <input type="text" asp-for="@Model.HygenicHabits" class="form-control" placeholder="Ферма мая" />
        <span asp-validation-for="@Model.HygenicHabits" class="text-danger"></span>
    </div>
    <div class="form-group name">
        <label asp-for="@Model.Origin">Ориджин</label>
        <input type="text" asp-for="@Model.Origin" class="form-control" placeholder="Ферма мая" />
        <span asp-validation-for="@Model.Origin" class="text-danger"></span>
    </div>
    <div class="form-group name">
        <label asp-for="@Model.GivingDate">Дата на даване</label>
        <input type="date" asp-for="@Model.GivingDate" class="form-control" placeholder="Ферма мая" />
        <span asp-validation-for="@Model.GivingDate" class="text-danger"></span>
    </div>
    <div class="form-group name">
        <label asp-for="@Model.FertilizationDate">Дата на оплождане</label>
        <input type="date" asp-for="@Model.FertilizationDate" class="form-control" placeholder="Ферма мая" />
        <span asp-validation-for="@Model.FertilizationDate" class="text-danger"></span>
    </div>
    <div class="form-group name">
        <label asp-for="@Model.ChangeReason">Причина за промяна</label>
        <input type="text" asp-for="@Model.ChangeReason" class="form-control" placeholder="Ферма мая" />
        <span asp-validation-for="@Model.ChangeReason" class="text-danger"></span>
    </div>
    <div class="form-group name">
        <label asp-for="@Model.Temparament">Темперамент</label>
        <input type="text" asp-for="@Model.Temparament" class="form-control" placeholder="Ферма мая" />
        <span asp-validation-for="@Model.Temparament" class="text-danger"></span>
    </div>
    <div class="form-group submit">
        <input type="submit" class="submit-btn" value="Добавяне на царица" />
    </div>
</form>