@model BeekeeperAssistant.Web.ViewModels.Beehives.AllByApiaryIdBeehiveViewModel
@{
    var title = "";
    if (!string.IsNullOrEmpty(Model.Number))
    {
        title += $"Пчелин № {Model.Number}";
    }
    else
    {
        title = Model.Name;
    }

    ViewData["Title"] = title;
    string hasDevice = "has-device";
    var powerClasses = new Dictionary<string, string>
    {
        ["weak"] = "td-weak",
        ["medium"] = "td-medium",
        ["strong"] = "td-strong",

    };
    var onlyReadMsg = "нямате достъп";
}

<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apiary" asp-action="All">Пчелини - всички</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <ul class="breadcrumb-list responsive">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">...</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apiary" asp-action="All">Пчелини</a>
        </li>
        <li class="breadcrumb-item active">
            @if (!string.IsNullOrEmpty(Model.Number))
            {
                @Model.Number
            }
            else
            {
                @Model.Name
            }
        </li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<h1 class="tab-title title-1">@ViewData["Title"]</h1>
<div class="tab apiary">
    <a class="tablinks" asp-controller="Apiary" asp-action="ById" asp-route-id="@Model.Id">
        <i class="fas fa-boxes"></i>
        <span class="text">
            @ViewData["Title"]
        </span>
    </a>
    @if (Model.Type == ApiaryType.Movable)
    {
        <a class="tablinks" asp-controller="Beehive" asp-action="AllByMovableApiaryId" asp-route-id="@Model.Id">
            <i class="fas fa-border-all"></i>
            <span class="text">
                Кошери
            </span>
        </a>
    }
    else
    {
        <a class="tablinks" asp-controller="Beehive" asp-action="AllByApiaryId" asp-route-id="@Model.Id">
            <i class="fas fa-border-all"></i>
            <span class="text">
                Кошери
            </span>
        </a>
    }
    <a class="tablinks" asp-controller="ApiaryNote" asp-action="AllByApiaryId" asp-route-id="@Model.Id">
        <i class="fas fa-sticky-note"></i>
        <span class="text">
            Бележки
        </span>
    </a>
    <a class="tablinks" asp-controller="ApiaryDiary" asp-action="ByApiaryId" asp-route-id="@Model.Id">
        <i class="fas fa-book"></i>
        <span class="text">
            Дневник
        </span>
    </a>
</div>

<div class="tabs-body">
    <partial name="_StatusMessagePartial" />
    <div class="tabcontent">
        <div class="page-controls">
            <a class="export-file excel" asp-controller="Beehive" asp-action="ExportToExcel" asp-route-id="@Model.Id">
                <i class="fas fa-file-download"></i> Excel
            </a>
            @if (Model.ApiaryAccess == Access.ReadWrite)
            {
                <a class="btn beehive-create" asp-controller="Beehive" asp-action="Create" asp-route-id="@Model.Id">
                    <i class="fas fa-plus-square pr-2"></i>
                    Добави кошер
                </a>
            }
        </div>
        <table class="data-table all-table">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Вид</th>
                    <th>Система</th>
                    <th>Сила</th>
                    <th>Редактиране</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var beehive in Model.AllBeehives)
                {
                    <tr class="@if (beehive.HasDevice == true) {@hasDevice}">
                        <td class="number">
                            <a asp-controller="Beehive" asp-action="ById" asp-route-id="@beehive.Id">@beehive.Number</a>
                        </td>
                        <td>@Html.DisplayFor(x => beehive.BeehiveType)</td>
                        <td>@Html.DisplayFor(x => beehive.BeehiveSystem)</td>
                        <td class="@powerClasses[beehive.BeehivePower.ToString().ToLower()]">
                            @Html.DisplayFor(x => beehive.BeehivePower)
                        </td>
                        <td class="edit">
                            <div class="edit-container">
                                @if (beehive.BeehiveAccess == Access.ReadWrite)
                                {
                                    <a class="edit" asp-controller="Beehive" asp-action="Edit" asp-route-id="@beehive.Id">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a class="delete" onclick="ShowDeleteForm('@beehive.Id')">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                    <div id="@beehive.Id" class="delete-form-display">
                                        <form method="post" id="form-@beehive.Id" asp-controller="Beehive" asp-action="Delete"
                                              asp-route-id="@beehive.Id">
                                            <a class="delete close" onclick="HideDeleteForm('@beehive.Id')">
                                                <i class="fas fa-times"></i>
                                            </a>
                                            <p>
                                                Сигурни ли сте че искате да изтриете кошер
                                                <strong>№@beehive.Number</strong>?
                                            </p>
                                            <button type="submit" class="delete">
                                                Изтрий <i class="far fa-trash-alt"></i>
                                            </button>
                                        </form>
                                        <div id="@beehive.Id-back" class="content-cover"
                                             onclick="HideDeleteForm('@beehive.Id')"></div>
                                    </div>
                                }
                                else
                                {
                                    @onlyReadMsg
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="all-table-responsive beehive">
            <table>
                <thead>
                <th>Параметър</th>
                <th>Стойност</th>
                </thead>
                <tbody>
                    @foreach (var beehive in Model.AllBeehives)
                    {
                        <tr class="@if (beehive.HasDevice == true) {@hasDevice}">
                            <td>Номер</td>
                            <td class="number">
                                <a asp-controller="Beehive" asp-action="ById" asp-route-id="@beehive.Id">@beehive.Number</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Вид</td>
                            <td>@Html.DisplayFor(x => beehive.BeehiveType)</td>
                        </tr>
                        <tr>
                            <td>Система</td>
                            <td>@Html.DisplayFor(x => beehive.BeehiveSystem)</td>
                        </tr>
                        <tr>
                            <td>Сила</td>
                            <td class="@powerClasses[beehive.BeehivePower.ToString().ToLower()]">
                                @Html.DisplayFor(x => beehive.BeehivePower)
                            </td>
                        </tr>
                        <tr>
                            <td>Майка</td>
                            <td>
                                @if (beehive.QueenId.HasValue)
                                {
                                    @Html.DisplayFor(x => beehive.QueenColor)
                                }
                                else
                                {
                                    <strong>няма</strong>
                                }
                            </td>
                        </tr>
                        @if (beehive.QueenId.HasValue)
                        {
                            <tr>
                                <td>Придадена на</td>
                                <td>
                                    @beehive.QueenGivingDate.Value.ToString("ddd dd - MMM - yyyy")
                                </td>
                            </tr>
                        }
                        <tr class="edit-row">
                            <td>Редактиране</td>
                            <td class="edit">
                                <div class="edit-container">
                                    @if (beehive.BeehiveAccess == Access.ReadWrite)
                                    {
                                        <a class="edit" asp-controller="Beehive" asp-action="Edit" asp-route-id="@beehive.Id">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <a class="delete" onclick="ShowDeleteForm('@beehive.Id-responsive')">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                        <div id="@beehive.Id-responsive" class="delete-form-display">
                                            <form method="post" id="form-@beehive.Id" asp-controller="Beehive"
                                                  asp-action="Delete" asp-route-id="@beehive.Id">
                                                <a class="delete close"
                                                   onclick="HideDeleteForm('@beehive.Id-responsive')">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                                <p>
                                                    Сигурни ли сте че искате да изтриете кошер
                                                    <strong>№@beehive.Number</strong>?
                                                </p>
                                                <button type="submit" class="delete">
                                                    Изтрий <i class="far fa-trash-alt"></i>
                                                </button>
                                            </form>
                                            <div id="@beehive.Id-back" class="content-cover"
                                                 onclick="HideDeleteForm('@beehive.Id-responsive')"></div>
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (!Model.AllBeehives.Any())
        {
            <p class="empty-row">пчелинът няма добавени кошери</p>
        }
        <div class="pagination">
            <ul>
                @if (this.Model.CurrentPage == 1)
                {
                    <li class="page-item disabled">
                        <span class="page-link">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Beehive" asp-action="AllByApiaryId" asp-route-id="@Model.Id" asp-route-page="@(this.Model.CurrentPage - 1)">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= this.Model.PagesCount; i++)
                {
                    @if (i == this.Model.CurrentPage)
                    {
                        <li class="page-item active">
                            <span class="page-link">@i</span>
                        </li>
                    }
                    else
                    {
                        @*<li class="page-item">
                                <a class="page-link" asp-route="apiaryRoute" asp-route-apiaryNumber="@Model.Number"
                                   asp-route-page="@i">@i</a>
                            </li>*@
                        <li class="page-item">
                            <a class="page-link" asp-controller="Beehive" asp-action="AllByApiaryId" asp-route-id="@Model.Id" asp-route-page="@i">@i</a>
                        </li>
                    }
                }
                @if (this.Model.CurrentPage == this.Model.PagesCount)
                {
                    <li class="page-item disabled">
                        <span class="page-link">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Beehive" asp-action="AllByApiaryId"
                           asp-route-id="@Model.Id" asp-route-page="@(this.Model.CurrentPage + 1)">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="table-legend">
            <p>Легенда</p>
            <ul>
                <li class="beehive-with-device">
                    <span></span> - кошерът е с апарат
                </li>
            </ul>
        </div>
    </div>
</div>
