@model BeekeeperAssistant.Web.ViewModels.Beehives.ChooseNewNumberForBeehiveInputModel;
@{
    this.ViewData["Title"] = "Въвеждане на номер";
}

<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item">
            <a class="tablinks active" asp-controller="Apiary" asp-action="ById" asp-route-id="@Model.BeehiveApiaryId">
                @if (!string.IsNullOrEmpty(Model.BeehiveApiaryNumber))
                {
                    @($"Пчелин № {Model.BeehiveApiaryNumber}")
                }
                else
                {
                    @Model.BeehiveApiaryNumber
                }
            </a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <ul class="breadcrumb-list responsive">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">...</a>
        </li>
        <li class="breadcrumb-item">
            <a class="tablinks active" asp-controller="Apiary" asp-action="ById" asp-route-id="@Model.BeehiveApiaryId">
                @if (!string.IsNullOrEmpty(Model.BeehiveApiaryNumber))
                {
                    @($"Пчелин № {Model.BeehiveApiaryNumber}")
                }
                else
                {
                    @Model.BeehiveApiaryNumber
                }
            </a>
        </li>
        <li class="breadcrumb-item active">@Model.BeehiveNumber</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<h1 class="tab-title title-1">Информация за кошер - №@Model.BeehiveNumber</h1>
<div class="tab beehive">
    <a class="tablinks active" asp-controller="Beehive" asp-action="ById" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-archive"></i>
        <span class="text">
            Кошер №@Model.BeehiveNumber
        </span>
    </a>
    <a class="tablinks" asp-controller="Queen" asp-action="ByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-crown"></i>
        <span class="text">
            Майка
        </span>
    </a>
    <a class="tablinks" asp-controller="Inspection" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="far fa-calendar-check"></i>
        <span class="text">
            Прегледи
        </span>
    </a>
    <a class="tablinks " asp-controller="Treatment" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-notes-medical"></i>
        <span class="text">
            Третирания
        </span>
    </a>
    <a class="tablinks" asp-controller="Harvest" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-box"></i>
        <span class="text">
            Добиви
        </span>
    </a>
    <a class="tablinks" asp-controller="BeehiveNote" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-sticky-note"></i>
        <span class="text">
            Бележки
        </span>
    </a>
    <a class="tablinks" asp-controller="BeehiveDiary" asp-action="ByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-book"></i>
        <span class="text">
            Дневник
        </span>
    </a>
</div>

<div class="tabs-body">
    <partial name="_StatusMessagePartial" />
    <div id="Beehive" class="tabcontent">
        <div class="form-box">
            <form asp-controller="Beehive" asp-action="ChooseNewNumberForBeehive" asp-route-id="@Model.BeehiveId">
                <a class="back-arrow" asp-controller="Beehive" asp-action="ById" asp-route-id="@Model.BeehiveId">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <h2>@ViewData["Title"]</h2>
                <p class="form-note">
                    <span class="star">*</span>
                    Въведете нов номер за кошера.
                </p>
                <p class="form-note">
                    Стар номер: @Model.BeehiveNumber.
                </p>
                <div class="input-group row">
                    <label asp-for="@Model.BeehiveNumber"></label>
                    <input type="number" asp-for="@Model.BeehiveNumber" />
                </div>
                <div class="error-msg" asp-validation-summary="All"></div>
                <input type="hidden" asp-for="@Model.BeehiveApiaryId" />
                <input type="hidden" asp-for="@Model.BeehiveApiaryName" />
                <input type="hidden" asp-for="@Model.BeehiveApiaryNumber" />
                <div class="btn-group">
                    <input class="btn beehive-create" type="submit" value="Избери" />
                </div>
                <div class="form-star-tip">
                    *Полетата обозначени с
                    '<span style="color: var(--red); font-size: 16px; font-weight: bold;">*</span>'
                    са задължителни.
                </div>
            </form>
        </div>
    </div>
</div>
