@using BeekeeperAssistant.Common
@model BeekeeperAssistant.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Табло";
    int apiaryColorsCounter = 0;
}

@*TODO: Separate these into two view components*@
@if (!User.Identity.IsAuthenticated)
{
    <div class="banner">
        <div class="banner-text">
            <h1>@GlobalConstants.SystemName</h1>
            <p>...the best place to store your beekeeping data.</p>
        </div>
    </div>
}
else
{
    <div class="breadcrumb">
        <ul class="breadcrumb-list">
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ul>
        <div class="breadcrumb-leave">
            <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
            </form>
        </div>
    </div>

    <div class="content">
        <div class="dashboard-cards-list">
            <div class="dashboard-card">
                <div class="dashboard-card-header apiary">
                    <img src="~/img/apiaryIcon.png" alt="apiaryIcon.png">
                    <h1>Достъп до пчелините:</h1>
                </div>
                <div class="dashboard-card-body apiary">
                    <a asp-controller="Apiary" asp-action="All">
                        <div>
                            <p>Към списъка</p>
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dashboard-card">
                <div class="dashboard-card-header beehive">
                    <img src="~/img/beehiveIcon.png" alt="beehiveIcon.png">
                    <h1>Достъп до кошерите:</h1>
                </div>
                <div class="dashboard-card-body beehive">
                    <a asp-controller="Beehive" asp-action="All">
                        <div>
                            <p>Към списъка</p>
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dashboard-card">
                <div class="dashboard-card-header queen">
                    <img src="~/img/queenIcon.png" alt="queenIcon.png">
                    <h1>Достъп до майките:</h1>
                </div>
                <div class="dashboard-card-body queen">
                    <a asp-controller="Queen" asp-action="All">
                        <div>
                            <p>Към списъка</p>
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="dashboard-cards-list">
            <div class="count-add-card">
                <div class="count-add-card-body">
                    <a asp-controller="Treatment" asp-action="All">
                        <div>
                            <p>@Model.TreatmentsCount</p>
                            <p>Третирания за сезона</p>
                        </div>
                    </a>
                </div>
                <div class="count-add-card-footer">
                    <a asp-controller="Treatment" asp-action="Create">
                        <div>
                            <i class="fas fa-notes-medical"></i>
                            <p>Добави третиране</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="count-add-card">
                <div class="count-add-card-body">
                    <a asp-controller="Inspection" asp-action="All">
                        <div>
                            <p>@Model.InspectionsCount</p>
                            <p>Прегледа за сезона</p>
                        </div>
                    </a>
                </div>
                <div class="count-add-card-footer">
                    <a asp-controller="Inspection" asp-action="Create">
                        <div>
                            <i class="far fa-calendar-check"></i>
                            <p>Добави преглед</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="count-add-card">
                <div class="count-add-card-body">
                    <a asp-controller="Harvest" asp-action="All">
                        <div>
                            <p>@Model.HarvestsCount</p>
                            <p>Добива за сезона</p>
                        </div>
                    </a>
                </div>
                <div class="count-add-card-footer">
                    <a asp-controller="Harvest" asp-action="Create">
                        <div>
                            <i class="fas fa-box"></i>
                            <p>Добави добив</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="dashboard-cards-list">
        <div class="dashboard-chart-card">
            <img src="@Model.ApiariesCountChartUrl" alt="...диаграма">
            <div class="legend">
                @foreach (var ac in Model.ApiariesCountByType.Keys)
                {
                    <div class="legend-row">
                        <div class="legend-color"
                    style="background: @GlobalConstants.ApiaryChartColors[apiaryColorsCounter].Remove(0, 1).Remove(7);">
                            @Model.ApiariesCountByType[ac]</div>
                        <div class="legend-value">@Html.DisplayFor(x => ac)</div>
                    </div>
                    apiaryColorsCounter++;
                }
            </div>
            <div class="count">
                <a asp-controller="Apiary" asp-action="All">
                    <div>
                        <p>@Model.ApiariesCount</p>
                        <p>Създадени пчелина</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
}
