@using BeekeeperAssistant.Common
@model BeekeeperAssistant.Web.ViewModels.Home.IndexViewModel
@{
    if (this.User.Identity.IsAuthenticated)
    {
        this.ViewData["Title"] = "Табло";
    }
    else
    {
        this.ViewData["Title"] = "Начало";
    }
    int colorsCounter = 0;
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="banner">
        <div class="banner-text">
            <h1>@GlobalConstants.SystemName</h1>
            <p>Дневникът на съвременния пчелар</p>
        </div>
    </div>
    <div class="app-benefits-cards">
        <h1>Ползи на @GlobalConstants.SystemName</h1>
        <hr>
        <div class="app-benefits-cards-collection">
            <div class="app-benefits-card">
                <div class="app-benefits-card-inner">
                    <div class="app-benefits-card-front">
                        <div class="app-benefits-card-body">
                            <i class="fas fa-laptop-house"></i>
                            <h3>лесен за работа</h3>
                        </div>
                    </div>
                    <div class="app-benefits-card-back">
                        <div class="app-benefits-card-body">
                            <h3>лесен за работа</h3>
                            <p>@GlobalConstants.SystemName е лесен, подреден и удобен за работа</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-benefits-card">
                <div class="app-benefits-card-inner">
                    <div class="app-benefits-card-front">
                        <div class="app-benefits-card-body">
                            <i class="fas fa-clipboard-check"></i>
                            <h3>лесен за работа</h3>
                        </div>
                    </div>
                    <div class="app-benefits-card-back">
                        <div class="app-benefits-card-body">
                            <h3>лесен за работа</h3>
                            <p>@GlobalConstants.SystemName е лесен, подреден и удобен за работа</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-benefits-card">
                <div class="app-benefits-card-inner">
                    <div class="app-benefits-card-front">
                        <div class="app-benefits-card-body">
                            <i class="fas fa-info-circle"></i>
                            <h3>лесен за работа</h3>
                        </div>
                    </div>
                    <div class="app-benefits-card-back">
                        <div class="app-benefits-card-body">
                            <h3>лесен за работа</h3>
                            <p>@GlobalConstants.SystemName е лесен, подреден и удобен за работа</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="breadcrumb">
        <ul class="breadcrumb-list">
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ul>
        <div class="breadcrumb-leave">
            <form asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
            </form>
        </div>
    </div>

    <div class="content">
        <div class="dashboard-cards-list">
            <div class="dashboard-card">
                <div class="dashboard-card-header apiary">
                    <img src="~/img/apiaryIcon.png" alt="apiaryIcon.png">
                    <h1>Достъп до пчелините:</h1>
                </div>
                <div class="dashboard-card-body apiary">
                    <a asp-controller="Apiary" asp-action="All">
                        <div>
                            <p>Към списъка</p>
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dashboard-card">
                <div class="dashboard-card-header beehive">
                    <img src="~/img/beehiveIcon.png" alt="beehiveIcon.png">
                    <h1>Достъп до кошерите:</h1>
                </div>
                <div class="dashboard-card-body beehive">
                    <a asp-controller="Beehive" asp-action="All">
                        <div>
                            <p>Към списъка</p>
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dashboard-card">
                <div class="dashboard-card-header queen">
                    <img src="~/img/queenIcon.png" alt="queenIcon.png">
                    <h1>Достъп до майките:</h1>
                </div>
                <div class="dashboard-card-body queen">
                    <a asp-controller="Queen" asp-action="All">
                        <div>
                            <p>Към списъка</p>
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="dashboard-cards-list">
            <div class="count-add-card">
                <div class="count-add-card-body">
                    <a asp-controller="Treatment" asp-action="All" style="pointer-events: none;">
                        <div>
                            <p>@Model.TreatmentsCount</p>
                            <p>Третирания за сезона</p>
                        </div>
                    </a>
                </div>
                <div class="count-add-card-footer">
                    <a asp-controller="Treatment" asp-action="Create" asp-route-pagePath="Home">
                        <div>
                            <i class="fas fa-notes-medical"></i>
                            <p>Добави третиране</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="count-add-card">
                <div class="count-add-card-body">
                    <a asp-controller="Inspection" asp-action="All" style="pointer-events: none;">
                        <div>
                            <p>@Model.InspectionsCount</p>
                            <p>Прегледа за сезона</p>
                        </div>
                    </a>
                </div>
                <div class="count-add-card-footer">
                    <a asp-controller="Inspection" asp-action="Create">
                        <div>
                            <i class="far fa-calendar-check"></i>
                            <p>Добави преглед</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="count-add-card">
                <div class="count-add-card-body">
                    <a asp-controller="Harvest" asp-action="All" style="pointer-events: none;">
                        <div>
                            <p>@Model.HarvestsCount</p>
                            <p>Добива за сезона</p>
                        </div>
                    </a>
                </div>
                <div class="count-add-card-footer">
                    <a asp-controller="Harvest" asp-action="Create">
                        <div>
                            <i class="fas fa-box"></i>
                            <p>Добави добив</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="dashboard-cards-list">
            @if (Model.ApiariesCount > 0)
            {
                <div class="dashboard-chart-card">
                    <img src="@Model.ApiariesCountChartUrl" alt="...диаграма">
                    <div class="legend">
                        @foreach (var ac in Model.ApiariesCountByType.Keys)
                        {
                            <div class="legend-row">
                                <div class="legend-color"
                                     style="background: @GlobalConstants.ApiaryTypeChartColors[colorsCounter].Remove(0, 1).Remove(7);">
                                    @Model.ApiariesCountByType[ac]
                                </div>
                                <div class="legend-value">@Html.DisplayFor(x => ac)</div>
                            </div>
                            colorsCounter++;
                        }
                        @{
                            colorsCounter = 0;
                        }
                    </div>
                    <div class="count">
                        <a asp-controller="Apiary" asp-action="All">
                            <div>
                                <p>@Model.ApiariesCount</p>
                                <p>Пчелини</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
            @if (Model.BeehivesCount > 0)
            {
                <div class="dashboard-chart-card">
                    <img src="@Model.BeehivesCountChartUrl" alt="...диаграма">
                    <div class="legend">
                        @foreach (var bc in Model.BeehivesCountByPower.Keys)
                        {
                            <div class="legend-row">
                                <div class="legend-color"
                                     style="background: @GlobalConstants.BeehivePowerChartColors[colorsCounter].Remove(0, 1).Remove(7);">
                                    @Model.BeehivesCountByPower[bc]
                                </div>
                                <div class="legend-value">@Html.DisplayFor(x => bc)</div>
                            </div>
                            colorsCounter++;
                        }
                        @{
                            colorsCounter = 0;
                        }
                    </div>
                    <div class="count">
                        <a asp-controller="Beehive" asp-action="All">
                            <div>
                                <p>@Model.BeehivesCount</p>
                                <p>Кошери</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
            @if (Model.QueensCount > 0)
            {
                <div class="dashboard-chart-card">
                    <img src="@Model.QueensCountByGivingDateChartUrl" alt="...диаграма">
                    <div class="legend">
                        @foreach (var bc in Model.QueensCountByGivingDate.Keys)
                        {
                            <div class="legend-row">
                                <div class="legend-color"
                                     style="background: @Model.QueenChartColors[colorsCounter].Remove(0, 1).Remove(7);">
                                    @Model.QueensCountByGivingDate[bc]
                                </div>
                                @if (bc == 0)
                                {
                                    <div class="legend-value">
                                        Без майка
                                    </div>
                                }
                                else
                                {
                                    <div class="legend-value">
                                        @Html.DisplayFor(x => bc)
                                    </div>
                                }
                            </div>
                            colorsCounter++;
                        }
                        @{
                            colorsCounter = 0;
                        }
                    </div>
                    <div class="count">
                        <a asp-controller="Queen" asp-action="All">
                            <div>
                                <p>@Model.QueensCount</p>
                                <p>Майки</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
}
