@using BeekeeperAssistant.Common
@model BeekeeperAssistant.Web.ViewModels.Home.LoginHomeViewModel
@{
    this.ViewData["Title"] = "Начало";
}

@if (!this.User.Identity.IsAuthenticated)
{

    <div class="banner">
        <div class="banner-text">
            <h1>@GlobalConstants.SystemName</h1>
            <p>...the best place to store your beekeeping data.</p>
        </div>
    </div>



    <div class="app-benefits-cards">
       <h1>Ползи на @GlobalConstants.SystemName</h1>
       <hr>
        <div class="app-benefits-cards-collection">
            <div class="app-benefits-card">
                <div class="app-benefits-card-inner">
                    <div class="app-benefits-card-front">
                        <div class="app-benefits-card-body">
                            <i class="fas fa-laptop-house"></i>
                            <h3>лесен за работа</h3>
                        </div>
                    </div>
                    <div class="app-benefits-card-back">
                        <div class="app-benefits-card-body">
                        <h3>лесен за работа</h3>
                        <p>@GlobalConstants.SystemName е лесен, подреден и удобен за работа</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-benefits-card">
                <div class="app-benefits-card-inner">
                    <div class="app-benefits-card-front">
                        <div class="app-benefits-card-body">
                            <i class="fas fa-clipboard-check"></i>
                            <h3>лесен за работа</h3>
                        </div>
                    </div>
                    <div class="app-benefits-card-back">
                        <div class="app-benefits-card-body">
                        <h3>лесен за работа</h3>
                        <p>@GlobalConstants.SystemName е лесен, подреден и удобен за работа</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-benefits-card">
                <div class="app-benefits-card-inner">
                    <div class="app-benefits-card-front">
                        <div class="app-benefits-card-body">
                            <i class="fas fa-info-circle"></i>
                            <h3>лесен за работа</h3>
                        </div>
                    </div>
                    <div class="app-benefits-card-back">
                        <div class="app-benefits-card-body">
                        <h3>лесен за работа</h3>
                        <p>@GlobalConstants.SystemName е лесен, подреден и удобен за работа</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
}
else
{
    <div class="row d-flex justify-content-center flex-wrap m-0">
        <div class="card position-relative apiaries-dashboard-card m-4">
            <a asp-controller="Apiary" asp-action="All"><h4 class="card-header">My Apiaries</h4></a>
            <div class="card-body">
                @* <strong>@Model.ApiariesCount</strong> *@
            </div>
            <a asp-controller="Apiary" asp-action="Create"><h4 class="card-footer">Create Apiary</h4></a>
        </div>
        <div class="card position-relative beehives-dashboard-card m-4">
            <a asp-controller="Apiary" asp-action="All"><h4 class="card-header">My Beehives</h4></a>
            <div class="card-body">
                @* <strong>@Model.ApiariesCount</strong> *@
            </div>
            <a asp-controller="Beehive" asp-action="Create"><h4 class="card-footer">Create Beehive</h4></a>
        </div>
        <div class="card position-relative queens-dashboard-card m-4">
            <a asp-controller="Apiary" asp-action="All"><h4 class="card-header">My Queens</h4></a>
            <div class="card-body">
                @* <strong>@Model.ApiariesCount</strong> *@
            </div>
            <a asp-controller="Apiary" asp-action="Create"><h4 class="card-footer">Create Queen</h4></a>
        </div>
    </div>
}
