@using BeekeeperAssistant.Common
@model BeekeeperAssistant.Web.ViewModels.Home.LoginHomeViewModel
@{
    this.ViewData["Title"] = "Начало";
}

@if (!this.User.Identity.IsAuthenticated)
{

    <div class="banner">
        <div class="banner-text">
            <h1>@GlobalConstants.SystemName</h1>
            <p>...the best place to store your beekeeping data.</p>
        </div>
    </div>



    <div class="app-benefits-cards">
       <h1>Ползи на @GlobalConstants.SystemName</h1>
       <hr>
        <div class="app-benefits-cards-collection">
            <div class="app-benefits-card">
                <div class="app-benefits-card-inner">
                    <div class="app-benefits-card-front">
                        <div class="app-benefits-card-body">
                            <i class="fas fa-laptop-house"></i>
                            <h3>лесен за работа</h3>
                        </div>
                    </div>
                    <div class="app-benefits-card-back">
                        <div class="app-benefits-card-body">
                        <h3>лесен за работа</h3>
                        <p>@GlobalConstants.SystemName е лесен, подреден и удобен за работа</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-benefits-card">
                <div class="app-benefits-card-inner">
                    <div class="app-benefits-card-front">
                        <div class="app-benefits-card-body">
                            <i class="fas fa-clipboard-check"></i>
                            <h3>лесен за работа</h3>
                        </div>
                    </div>
                    <div class="app-benefits-card-back">
                        <div class="app-benefits-card-body">
                        <h3>лесен за работа</h3>
                        <p>@GlobalConstants.SystemName е лесен, подреден и удобен за работа</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-benefits-card">
                <div class="app-benefits-card-inner">
                    <div class="app-benefits-card-front">
                        <div class="app-benefits-card-body">
                            <i class="fas fa-info-circle"></i>
                            <h3>лесен за работа</h3>
                        </div>
                    </div>
                    <div class="app-benefits-card-back">
                        <div class="app-benefits-card-body">
                        <h3>лесен за работа</h3>
                        <p>@GlobalConstants.SystemName е лесен, подреден и удобен за работа</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
}
else
{
    <div class="breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item active">Начало</li>
        </ol>
    </div>
    
    <div class="all-lists-cards">
        <h1>Списъци</h1>
        <div class="lists-items">
            <div class="apiaries-list-card">
                <div class="apiaries-list-card-title">
                    <img src="./images/Apiary.png" />
                    <p>Достъп до пчелините:</p>
                </div>
                <div class="apiaries-list-card-link">
                    <a asp-controller="Apiary" asp-action="All" class="tooltip">
                        <span class="tooltip-text tooltip-top">Виж всички пчелини</span>
                        <p class="card-link">Към списъка</p>
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>                
            </div>
            <div class="beehives-list-card">
                <div class="beehives-list-card-title">
                    <img src="./images/Beehive.png" />
                    <p>Достъп до кошерите:</p>
                </div>
                <div class="beehives-list-card-link">
                    <a asp-controller="Beehive" asp-action="All" class="tooltip">
                        <span class="tooltip-text tooltip-top">Виж всички кошери</span>
                        <p class="card-link">Към списъка</p>
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>                
            </div>
            <div class="queens-list-card">
                <div class="queens-list-card-title">
                    <img src="./images/Apiary.png" />
                    <p>Достъп до цариците:</p>
                </div>
                <div class="queens-list-card-link">
                    <a asp-controller="Apiary" asp-action="All" class="tooltip">
                        <span class="tooltip-text tooltip-top">Виж всички кралици</span>
                        <p class="card-link">Към списъка</p>
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>                
            </div>
        </div>
    </div>
}
