@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<link rel="stylesheet" href="~/css/profile.css">

<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-page="./Index">Управление на профилa</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <ul class="breadcrumb-list responsive">
        <li class="breadcrumb-item">
            <a asp-page="./Index">Профил</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>


<div class="profile-content">
    <h2>Управление на профила</h2>
    <h4>Променете настройките на профила</h4>
    <div class="profile-settings-nav">
        <div class="profile-nav">
            <partial name="_ManageNav" />
        </div>
        <div class="profile-settings">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
@RenderSection("Scripts", required: false)
}
