@model BeekeeperAssistant.Web.ViewModels.BeehiveNotes.CreateBeehiveNoteInputModel
@using BeekeeperAssistant.Web.ViewModels.Shared

@{
    this.ViewData["Title"] = "Добавяне на бележка";

    var returnUrl = Context.Request.Path;

    var navigation = new Dictionary<string, string>();
    navigation.Add("Табло", "/App");

    var title = "sdf";
    if (!string.IsNullOrEmpty(Model.ApiaryNumber))
    {
        title = Model.ApiaryNumber;
    }
    else
    {
        title = Model.ApiaryName;
    }

    navigation.Add(title, $"/App/Apiary/ById/{Model.ApiaryId}");
    navigation.Add(ViewData["Title"].ToString(), null);

    var breadcrumbNav = new BreadcrumbModel
    {
        Navigation = navigation,
    };
}

<partial model="@breadcrumbNav" name="_BreadcrumbPartial" />

<h1 class="tab-title title-1">
    Кошер - №@Model.Number - @ViewData["Title"]
</h1>
<div class="tab beehive">
    <a class="tablinks" asp-controller="Beehive" asp-action="ById" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-archive"></i>
        <span class="text">
            Кошер №@Model.Number
        </span>
    </a>
    <a class="tablinks" asp-controller="Queen" asp-action="ByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-crown"></i>
        <span class="text">
            Майка
        </span>
    </a>
    <a class="tablinks" asp-controller="Inspection" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="far fa-calendar-check"></i>
        <span class="text">
            Прегледи
        </span>
    </a>
    <a class="tablinks " asp-controller="Treatment" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-notes-medical"></i>
        <span class="text">
            Третирания
        </span>
    </a>
    <a class="tablinks" asp-controller="Harvest" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-box"></i>
        <span class="text">
            Добиви
        </span>
    </a>
    <a class="tablinks active" asp-controller="BeehiveNote" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-sticky-note"></i>
        <span class="text">
            Бележки
        </span>
    </a>
    <a class="tablinks" asp-controller="BeehiveDiary" asp-action="ByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-book"></i>
        <span class="text">
            Дневник
        </span>
    </a>
</div>

<div class="tabs-body">
    <div id="Notes" class="tabcontent">
        <div class="form-box">
            <form asp-controller="BeehiveNote" asp-action="Create" asp-route-id="@Model.BeehiveId">
                <h2 class="no-required">@ViewData["Title"]</h2>
                <div class="input-group max" onchange="test(this);">
                    <label asp-for="@Model.Color"></label>
                    <div class="input-note-background-colors">
                        @foreach (var color in GlobalConstants.NoteBackgroundColors)
                        {
                            <div class="custom-note-color" style="background-color: @color;"
                            onclick="setBackground('@color');">
                            </div>
                        }
                        @* <input type="color" value="@GlobalConstants.NoteBackgroundColors[2]"> *@
                    </div>
                </div>
                <div class="input-group max">
                    <label asp-for="@Model.Content"></label>
                    <textarea asp-for="@Model.Content" cols="30" rows="15"
                        style="background-color: @GlobalConstants.NoteBackgroundColors[2];"></textarea>
                    <span asp-validation-for="Content"></span>
                </div>
                <input type="hidden" asp-for="@Model.Color" value="@GlobalConstants.NoteBackgroundColors[2]">
                <div class="btn-group more">
                    <a class="back-button btn form-back" asp-controller="BeehiveNote" asp-action="AllByBeehiveId"
                        asp-route-id="@Model.BeehiveId">Отмени</a>
                    <input class="btn beehive-create" type="submit" value="@this.ViewData["Title"]" />
                </div>
            </form>
        </div>
    </div>
</div>
