@model BeekeeperAssistant.Web.ViewModels.ApiaryHelpers.AllApiaryHelpersViewModel
@{
    this.ViewData["Title"] = "Помощници";
}

<div class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index" asp-area="">...</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apiary" asp-action="All">Пчелини</a>
        </li>
         <li class="breadcrumb-item">
            <a href="/Apiary/@Model.ApiaryNumber">Пчелин №@Model.ApiaryNumber</a>
        </li> 
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <partial name="_StatusMessagePartial" />

    <div class="center-screen-parent border helpers-all">
        <h1 class="title-1">@ViewData["Title"]</h1>
        <table class="data-table">
            <thead>
                <tr>
                    <th>Помощник</th>
                    <th>Достъпност</th>
                    <th>Редактиране</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var apiaryHelper in Model.AllHelpers)
                {
                    string style = "access-";
                    if (apiaryHelper.Access == Access.Read)
                    {
                        style += "read";
                    }
                    else if (apiaryHelper.Access == Access.ReadWrite)
                    {
                        style += "read-write";
                    }
                    <tr>
                        <td>
                            @apiaryHelper.UserUserName
                        </td>
                        <td class="@style">
                            @Html.DisplayFor(x => apiaryHelper.Access)
                        </td>
                        <td class="edit">
                            <div>
                                <a class="edit" asp-controller="ApiaryHelper" asp-action="Edit"
                                   asp-route-apiaryId="@apiaryHelper.ApiaryId" asp-route-userId="@apiaryHelper.UserId">
                                    <i class="far fa-edit"></i>
                                </a>
                                <form asp-controller="ApiaryHelper" asp-action="Delete"
                                      asp-route-apiaryId="@apiaryHelper.ApiaryId" asp-route-userId="@apiaryHelper.UserId"
                                      method="post">
                                    <button type="submit" class="delete">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="page-controls bottom">
            <div></div>
            <a class="btn apiary-create" asp-controller="ApiaryHelper" asp-action="Add" asp-route-id="@Model.ApiaryId">
                <i class="fas fa-plus-square pr-2"></i>
                Добавете помощник
            </a>
        </div>
    </div>
</div>