@model BeekeeperAssistant.Web.ViewModels.ApiaryHelpers.EditBeehiveHelperInputModel
@{
    this.ViewData["Title"] = "Редактиране на помощник";
}

<div class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index" asp-area="">...</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/Apiary/@Model.ApiaryNumber">Пчелин №@Model.ApiaryNumber</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="ApiaryHelper" asp-action="All" asp-route-id="@Model.ApiaryId">Помощници</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <div class="center-screen-parent border">
        <div class="form-submit">
            <a class="back-arrow" asp-controller="ApiaryHelper" asp-action="All" asp-route-id="@Model.ApiaryId">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h3>@ViewData["Title"]</h3>
            <form asp-controller="ApiaryHelper" asp-action="Edit" asp-route-userId="@Model.UserId"
                asp-route-apiaryId="@Model.ApiaryId">
                <div class="form-group">
                    <div class="input-group">
                        <label asp-for="UserUserName"></label>
                        <input asp-for="UserUserName" readonly />
                    </div>
                    <div class="input-group">
                        <label asp-for="Access"></label>
                        <select asp-for="Access" asp-items="Html.GetEnumSelectList<Access>()"></select>
                    </div>
                </div>
                <input type="hidden" asp-for="ApiaryNumber" />
                <button type="submit" class="btn btn-primary">Потвърди</button>
            </form>
        </div>
    </div>
</div>