@model BeekeeperAssistant.Web.ViewModels.Apiaries.AllApiariesViewModel
@{
    ViewData["Title"] = "Пчелини-всички";
}

<div class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Начало</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <h1 class="title-1">@ViewData["Title"]</h1>
    <a class="btn apiary-create" asp-controller="Apiary" asp-action="Create">
        <i class="fas fa-plus-square pr-2"></i>
        Създайте нов пчелин
    </a>
    @if (Model.AllUserApiaries.Any())
    {
        <table class="data-table">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Име</th>
                    <th>Адрес</th>
                    <th>Вид</th>
                    <th>Бр. кошери</th>
                    <th>Редактиране</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var apiary in Model.AllUserApiaries)
                {
                    <tr>
                        <td class="number">
                            <a href="/Apiary/@apiary.Number">@apiary.Number</a>
                        </td>
                        <td>@apiary.Name</td>
                        <td>@apiary.Adress</td>
                        <td>@apiary.ApiaryType</td>
                        <td>@apiary.BeehivesCount</td>
                        <td class="edit">
                            <div>
                                @*TODO: Make Web api that bookmarks and use templating engine to generate html*@
                                <a class="mark" href="#"><i class="far fa-bookmark"></i></a>
                                <a class="edit" asp-controller="Apiary" asp-action="Edit" asp-route-id="@apiary.Id">
                                    <i class="far fa-edit"></i>
                                </a>
                                <form id="form-@apiary.Id" asp-controller="Apiary" asp-action="Delete"
                            asp-route-id="@apiary.Id">
                                    <button type="submit" class="delete">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>Empty</h1>
    }
</div>
