@model BeekeeperAssistant.Web.ViewModels.Apiaries.AllApiariesViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    ViewData["Title"] = "Пчелини-всички";
    ViewData["HelperApiaries"] = "Пчелини с достъп";
    var token = antiforgery.GetAndStoreTokens(this.Context).RequestToken;
}

<div class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <h1 class="title-1">@ViewData["Title"]</h1>
    <div class="page-controls">
        <a class="export-file excel" asp-controller="Apiary" asp-action="ExportToExcel"><i class="fas fa-file-download"></i> Excel</a>
        <a class="btn apiary-create" asp-controller="Apiary" asp-action="Create">
            <i class="fas fa-plus-square pr-2"></i>
            Създайте нов пчелин
        </a>
    </div>
    <table class="data-table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Име</th>
                <th>Адрес</th>
                <th>Вид</th>
                <th>Бр. кошери</th>
                <th>Редактиране</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apiary in Model.UserApiaries.AllUserApiaries)
            {
                <tr>
                    <td class="number">
                        <a href="/Apiary/@apiary.Number">@apiary.Number</a>
                    </td>
                    <td>@apiary.Name</td>
                    <td>@apiary.Adress</td>
                    <td>@Html.DisplayFor(x => apiary.ApiaryType)</td>
                    <td>@apiary.BeehivesCount</td>
                    <td class="edit">
                        <div>
                            <a class="mark" asp-controller="Apiary" asp-action="Bookmark" asp-route-id="@apiary.Id">
                                <i class="@(apiary.IsBookMarked ? "fas " : "far") fa-bookmark"></i>
                            </a>
                            <a class="edit" asp-controller="Apiary" asp-action="Edit" asp-route-id="@apiary.Id">
                                <i class="far fa-edit"></i>
                            </a>
                            <form id="form-@apiary.Id" asp-controller="Apiary" asp-action="Delete"
                                  asp-route-id="@apiary.Id">
                                <button type="submit" class="delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (!Model.UserApiaries.AllUserApiaries.Any())
    {
        <p class="empty-row">няма добавени пчелини</p>
    }
    <div class="pagination">
        <ul>
            @if (this.Model.UserApiaries.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <span class="page-link">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Apiary" asp-action="All"
                       asp-route-pageHelperApiaries="@Model.UserHelperApiaries.CurrentPage"
                       asp-route-pageAllApiaries="@(this.Model.UserApiaries.CurrentPage - 1)">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </li>
            }
            @for (int i = 1; i <= this.Model.UserApiaries.PagesCount; i++)
            {
                @if (i == this.Model.UserApiaries.CurrentPage)
                {
                    <li class="page-item active">
                        <span class="page-link">@i</span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Apiary" asp-action="All" asp-route-pageHelperApiaries="@Model.UserHelperApiaries.CurrentPage" asp-route-pageAllApiaries="@i">@i</a>
                    </li>
                }
            }
            @if (this.Model.UserApiaries.CurrentPage == this.Model.UserApiaries.PagesCount)
            {
                <li class="page-item disabled">
                    <span class="page-link">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Apiary" asp-action="All"
                       asp-route-pageHelperApiaries="@Model.UserHelperApiaries.CurrentPage"
                       asp-route-pageAllApiaries="@(this.Model.UserApiaries.CurrentPage + 1)">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

<div class="content">
    <h1 class="title-1">@ViewData["HelperApiaries"]</h1>
    <table class="data-table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Име</th>
                <th>Адрес</th>
                <th>Вид</th>
                <th>Бр. кошери</th>
                <th>Редактиране</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apiary in Model.UserHelperApiaries.AllUserHelperApiaries)
            {
                <tr>
                    <td class="number">
                        <a href="/Apiary/@apiary.Number">@apiary.Number</a>
                    </td>
                    <td>@apiary.Name</td>
                    <td>@apiary.Adress</td>
                    <td>@Html.DisplayFor(x => apiary.ApiaryType)</td>
                    <td>@apiary.BeehivesCount</td>
                    <td class="edit">
                        <div>
                            @if (apiary.Creator.UserName == this.User.Identity.Name)
                            {
                                <a class="mark" asp-controller="Apiary" asp-action="Bookmark" asp-route-id="@apiary.Id">
                                    <i class="@(apiary.IsBookMarked ? "fas " : "far") fa-bookmark"></i>
                                </a>
                            }
                            <a class="edit" asp-controller="Apiary" asp-action="Edit" asp-route-id="@apiary.Id">
                                <i class="far fa-edit"></i>
                            </a>
                            <form id="form-@apiary.Id" asp-controller="Apiary" asp-action="Delete"
                                  asp-route-id="@apiary.Id">
                                <button type="submit" class="delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (!Model.UserHelperApiaries.AllUserHelperApiaries.Any())
    {
        <p class="empty-row">няма добавени пчелини</p>
    }
    <div class="pagination">
        <ul>
            @if (this.Model.UserHelperApiaries.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <span class="page-link">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Apiary" asp-action="All"
                       asp-route-pageAllApiaries="@this.Model.UserApiaries.CurrentPage"
                       asp-route-pageHelperApiaries="@(this.Model.UserHelperApiaries.CurrentPage - 1)">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </li>
            }
            @for (int i = 1; i <= this.Model.UserHelperApiaries.PagesCount; i++)
            {
                @if (i == this.Model.UserHelperApiaries.CurrentPage)
                {
                    <li class="page-item active">
                        <span class="page-link">@i</span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-pageAllApiaries="@this.Model.UserApiaries.CurrentPage" asp-controller="Apiary" asp-action="All" asp-route-pageHelperApiaries="@i">@i</a>
                    </li>
                }
            }
            @if (this.Model.UserHelperApiaries.CurrentPage == this.Model.UserHelperApiaries.PagesCount)
            {
                <li class="page-item disabled">
                    <span class="page-link">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Apiary" asp-action="All"
                       asp-route-pageAllApiaries="@this.Model.UserApiaries.CurrentPage"
                       asp-route-pageHelperApiaries="@(this.Model.UserHelperApiaries.CurrentPage + 1)">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
