@model BeekeeperAssistant.Web.ViewModels.Apiaries.AllApiariesViewModel
@using BeekeeperAssistant.Common

@{
    ViewData["Title"] = "Пчелини-всички";
}

<div class="content">
    <h1 class="title">@ViewData["Title"]</h1>
    <a class="btn apiary-create" asp-controller="Apiary" asp-action="Create">
        <i class="fas fa-plus-square pr-2"></i>
        Създайте нов пчелин
    </a>
    @if (Model.AllUserApiaries.Any())
    {
        <table class="data-table">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Име</th>
                    <th>Адрес</th>
                    <th>Вид</th>
                    <th>Бр. кошери</th>
                    <th>Редактиране</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var apiary in Model.AllUserApiaries)
                {
                    <tr>
                        <td class="number"><a href="/Apiary/@apiary.Number">@apiary.Number</a></td>
                        <td>@apiary.Name</td>
                        <td>@apiary.Adress</td>
                        <td>@apiary.ApiaryType</td>
                        <td>@apiary.BeehivesCount</td>
                        <td class="edit">
                            <div>
                                <a class="mark" href="#"><i class="far fa-bookmark"></i></a>
                                @*Make with button not anchor tag!*@
                                <a class="edit" asp-controller="Apiary" asp-action="Edit" asp-route-id="@apiary.Id"><i class="far fa-edit"></i></a>
                                <form id="form-@apiary.Id" asp-action="Delete" asp-controller="Apiary" asp-route-id="@apiary.Id">
                                    <button type="submit" class="delete">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>Empty</h1>
    }
</div>
