@model BeekeeperAssistant.Web.ViewModels.Apiaries.AllUserApiariesViewModel
@using BeekeeperAssistant.Common

@{
    ViewData["Title"] = "All Beeheives";
    char empty = '-';

}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Apiaries All</li>
    </ol>
</nav>
<h2>Apiaries</h2>

<div class="pl-4 pr-4 text-left">
    <a asp-controller="Apiary" asp-action="Create" class="btn btn-info text-white float-right mb-2" type="submit"><i class="fas fa-plus-square pr-2"></i><strong>Create new apiary</strong></a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Address</th>
                <th scope="col" width="160">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apiary in Model.AllUserApiaries)
            {
                <tr>
                    <td scope="row">
                        <a href="/Apiary/@apiary.Number">@apiary.Number</a>
                    </td>
                    <td>
                        @if (string.IsNullOrWhiteSpace(@apiary.Name))
                        {
                            @empty
                        }
                        else
                        {
                            @apiary.Name
                        }
                    </td>
                    <td>@apiary.ApiaryType</td>
                    <td>
                        @if (string.IsNullOrWhiteSpace(apiary.Adress))
                        {
                            @empty
                        }
                        else
                        {
                            @apiary.Adress
                        }
                    </td>
                    <td>
                        <form id="form-@apiary.Id" asp-action="Delete" asp-controller="Apiary" asp-route-id="@apiary.Id">
                            <a class="btn btn-primary btn-danger text-white float-right" onclick="sendForm('form-@apiary.Id')">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </form>
                        <a class="btn btn-primary btn-success text-white float-right mr-5" asp-controller="Apiary" asp-action="Edit" asp-route-id="@apiary.Id"><i class="far fa-edit"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        function sendForm(formId) {
            document.getElementById(formId).submit()
        }
    </script>
}
