@model BeekeeperAssistant.Web.ViewModels.Apiaries.AllUserApiariesViewModel
@using BeekeeperAssistant.Common

@{
    ViewData["Title"] = "Пчелини всички";
    char empty = '-';
}

<div class="breadcrumb">
    <ol class="breadcrumb-list">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начало</a></li>
        <li class="breadcrumb-item active">Пчелини - всички</li>        
    </ol>
</div>

<div class="page-content">
    <div class="table-data apiaries">
        <h1>@this.ViewData["Title"]</h1>
        @if (Model.AllUserApiaries.Any())
        {
            <div class="table-options">
                @* <select name="apiaryTableSelectType" id="apiaryTableSelectType">
                    <option value="" selected></option>
                </select> *@
                <a asp-controller="Apiary" asp-action="Create" class="table-create-element" type="submit">
                    <i class="fas fa-plus-square pr-2"></i>
                    <strong>Създайте нов пчелин</strong>
                </a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">№ на Пчелина</th>
                        <th scope="col">Име</th>
                        <th scope="col">Тип</th>
                        <th scope="col">Адрес</th>
                        <th scope="col" width="90">Бр. Кошери</th>
                        <th scope="col" width="160">Редактиране</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var apiary in Model.AllUserApiaries)
                    {
                        <tr>
                            <td scope="row">
                                <a href="/Apiary/@apiary.Number">@apiary.Number</a>
                            </td>
                            <td>
                                @if (string.IsNullOrWhiteSpace(@apiary.Name))
                                {
                                    @empty
                                }
                                else
                                {
                                    @apiary.Name
                                }
                            </td>
                            <td>@apiary.ApiaryType</td>
                            <td>
                                @if (string.IsNullOrWhiteSpace(apiary.Adress))
                                {
                                    @empty
                                }
                                else
                                {
                                    @apiary.Adress
                                }
                            </td>
                            <td>
                                @apiary.BeehivesCount
                            </td>
                            <td>
                                <a class="table-read" href="/Apiary/@apiary.Number"><i class="far fa-bookmark"></i></a>
                                <a class="table-edit" asp-controller="Apiary" asp-action="Edit" asp-route-id="@apiary.Id"><i class="far fa-edit"></i></a>
                                <form id="form-@apiary.Id" asp-action="Delete" asp-controller="Apiary" asp-route-id="@apiary.Id">
                                    <a class="table-delete" onclick="sendForm('form-@apiary.Id')">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="empty-table">
                <img src="~/images/apiary_img.jpg" alt="Нямате създадени пчелини">
                <p>Нямате създадени пчелини</p>
                <a asp-controller="Apiary" asp-action="Create" class="table-empty" type="submit">
                    <i class="fas fa-plus-square pr-2"></i>
                    <strong>Създайте нов пчелин</strong>
                </a>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script>
        function sendForm(formId) {
            document.getElementById(formId).submit()
        }
    </script>
}
