@model BeekeeperAssistant.Web.ViewModels.Apiaries.ByNumberApiaryViewModel;
@{
    var title = "";
    if (!string.IsNullOrEmpty(Model.Number))
    {
        title += $"Пчелин № {Model.Number}";
    }
    else
    {
        title = Model.Name;
    }

    ViewData["Title"] = title;

    var onlyReadMsg = "намате достъп до панела за редктиране";

    string website = $"{this.Context.Request.Scheme}://{this.Context.Request.Host}{this.Context.Request.Path}";
}

<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apiary" asp-action="All">Пчелини - всички</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <ul class="breadcrumb-list responsive">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">...</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apiary" asp-action="All">Пчелини</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<h1 class="tab-title title-1">@ViewData["Title"]</h1>
<div class="tab">
    <a class="tablinks active" asp-controller="Apiary" asp-action="ById" asp-route-apiaryId="@Model.Id">
        @ViewData["Title"]
    </a>
    <a class="tablinks " asp-controller="Beehive" asp-action="AllByApiaryId" asp-route-id="@Model.Id">
        Кошери
    </a>
</div>

<div class="tabs-body">
    <partial name="_StatusMessagePartial" />
    <div id="Apiary" class="tabcontent" style="display: block">
        <div class="data-view">
            <div class="qr-code">
                <a class="qr-code-print" href="javascript:printQRCode();">
                    <i class="fas fa-print"></i>
                    отпечатай кода
                </a>
                <img id="qr-code-img" src="https://api.qrserver.com/v1/create-qr-code/?data=@website&size=255x255"
                    alt="ApiaryQrCode" width="250" height="250">
            </div>
            <div class="apiary-info">
                <table>
                    <tbody>
                        <tr>
                            <th scope="row">Номер:</th>
                            <td id="apiary-num">
                                @if (string.IsNullOrEmpty(Model.Number))
                                {
                                    @("-")
                                }
                                else
                                {
                                    @Model.Number
                                }
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Име:</th>
                            <td>@Model.Name</td>
                        </tr>
                        <tr>
                            <th scope="row">Вид:</th>
                            <td>@Html.DisplayFor(x => Model.ApiaryType)</td>
                        </tr>
                        <tr>
                            <th scope="row">Местоположение:</th>
                            <td>@Model.Adress</td>
                        </tr>
                        @if (Model.Creator.UserName != this.User.Identity.Name)
                        {
                            <tr>
                                <th scope="row">Собственик:</th>
                                <td>@Model.Creator.UserName</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="data-edit">
                    @if (Model.ApiaryAccess == Access.ReadWrite)
                    {
                        <a class="btn edit" asp-action="Edit" asp-route-id="@Model.Id">Редактирай</a>
                        <form asp-controller="Apiary" asp-action="Delete" asp-route-id="@Model.Id">
                            <input class="btn delete" type="submit" value="Изтрий" />
                        </form>
                    }
                    else
                    {
                        <p>@onlyReadMsg</p>
                    }

                    @* @if (Model.Creator.UserName == this.User.Identity.Name)
                    {
                        <a class="btn apiary-create" asp-controller="ApiaryHelper" asp-action="Add"
                        asp-route-id="@Model.Id">Добави помощник</a>

                        @if (Model.HasHelpers)
                        {
                            <a class="btn apiary-create" asp-controller="ApiaryHelper" asp-action="All"
                        asp-route-id="@Model.Id">Всички помощници</a>
                        }
                    } *@

                </div>
            </div>
            <div class="weather">
                @if (@Model.ForecastResult == null)
                {
                    <div>
                        <p style="font-size: 18px; color: red; text-align: center;">Населеното място <br>не е намерено</p>
                    </div>
                }
                else
                {
                    string imgPath = Model.ForecastResult.WeatherIcon + ".png";
                    <div>
                        <img src="~/img/weather/@imgPath" alt="">
                        <div>
                            <p>Температура: @Model.ForecastResult.Temp°</p>
                            <p>Влажност: @Model.ForecastResult.Humidity%</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
