@model BeekeeperAssistant.Web.ViewModels.Apiaries.ApiaryDataViewModel;
@{
    this.ViewData["Title"] = "Информациа за пчелин - №" + Model.Number;
    string hasDevice = "has-device";
    Dictionary<string, string> powerClasses = new Dictionary<string, string>();
    powerClasses.Add("weak", "td-weak");
    powerClasses.Add("medium", "td-medium");
    powerClasses.Add("strong", "td-strong");
}

<div class="content">
    <div class="col-6">
        <table class="table text-center">
            <tbody>
                <tr>
                    <th scope="row">Number:</th>
                    <td>@Model.Number</td>
                </tr>
                <tr>
                    <th scope="row">Name:</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th scope="row">Type:</th>
                    <td>@Model.ApiaryType</td>
                </tr>
                <tr>
                    <th scope="row">Adress:</th>
                    <td>@Model.Adress</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit Apiary</a>
    <form asp-controller="Apiary" asp-action="Delete" asp-route-id="@Model.Id">
        <input class="btn btn-danger" type="submit" value="Delete" />
    </form>

    <h2 class="title-2 left">Кошери</h2>
    <a class="btn beehive-create" asp-controller="Beehive" asp-action="Create" asp-route-id="@Model.Id">
        <i class="fas fa-plus-square pr-2"></i>
        Създайте нов кошер
    </a>
    <table class="data-table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Номер на пчелин</th>
                <th>Вид</th>
                <th>Система</th>
                <th>Сила</th>
                <th>Редактиране</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var beehive in Model.Beehives)
            {
                <tr class="@if (beehive.HasDevice == true) { @hasDevice }">
                    <td class="number">
                        <a href="/Beehive/@beehive.ApiaryNumber/@beehive.Id">@beehive.Number</a>
                    </td>
                    <td class="number">
                        <a href="/Apiary/@beehive.ApiaryNumber">@beehive.ApiaryNumber</a>
                    </td>
                    <td>@beehive.BeehiveType</td>
                    <td>@beehive.BeehiveSystem</td>
                    <td class="@powerClasses[beehive.BeehivePower.ToString().ToLower()]">@Html.DisplayFor(x =>
                    beehive.BeehivePower)</td>
                    <td class="edit">
                        <div>
                            @*TODO: Make Web api that bookmarks and use templating engine to generate html*@
                            <a class="mark" href="#"><i class="far fa-bookmark"></i></a>
                            <a class="edit" asp-controller="Beehive" asp-action="Edit" asp-route-id="@beehive.Id">
                                <i class="far fa-edit"></i>
                            </a>
                            <form method="post" id="form-@beehive.Id" asp-controller="Beehive" asp-action="Delete" asp-route-id="@beehive.Id">
                                <button type="submit" class="delete">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="table-legend">
        <p>Легенда</p>
        <ul>
            <li class="beehive-with-device">
                <span></span> - кошерът е с апарат
            </li>
        </ul>
    </div>
</div>
