@model BeekeeperAssistant.Web.ViewModels.Apiaries.CreateApiaryInputModel;
@{
    this.ViewData["Title"] = "Create Apiary";
}

<div class="content">
        <div class="form-box">
            <h2>@ViewData["Title"]</h2>
            <form asp-controller="Apiary" asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="input-box">
                    <input type="text" name="" required="">
                    <label>Username</label>
                </div>

                <div>
                    <label asp-for="@Model.CityCode"></label>
                    <input type="text" asp-for="@Model.CityCode" />
                    <span asp-validation-for="@Model.CityCode"></span>
                </div>
                -
                <div>
                    <label asp-for="@Model.FarmNumber"></label>
                    <input type="text" asp-for="@Model.FarmNumber" />
                    <span asp-validation-for="@Model.FarmNumber"></span>
                </div>
                <br />
                <div>
                    <label asp-for="@Model.Name"></label>
                    <input type="text" asp-for="@Model.Name" />
                    <span asp-validation-for="@Model.Name"></span>
                </div>
                <br />
                <div>
                    <label asp-for="@Model.Adress"></label>
                    <input type="text" asp-for="@Model.Adress" />
                    <span asp-validation-for="@Model.Adress"></span>
                </div>
                <br />
                <div>
                    <label asp-for="@Model.ApiaryType"></label>
                    <select asp-for="@Model.ApiaryType"
                        asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.ApiaryType>()"></select>
                    <span asp-validation-for="@Model.ApiaryType"></span>
                </div>
                <br />
                <div>
                    <input class="btn" type="submit" value="Submit" />
                </div>
            </form>
            <a class="btn btn-primary" asp-action="All">Bask To All Apiary</a>
        </div>
</div>
