@model BeekeeperAssistant.Web.ViewModels.Apiaries.CreateApiaryInputModel
@{
    ViewData["Title"] = "Create Apiary";
}

<form asp-action="AddApiary" asp-controller="Apiaries" method="post">
    <div class="col-md-4">
        <h1>Add new apiary</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="@Model.Number"></label>
        <input type="text" asp-for="@Model.Number" class="form-control" />
        <span asp-validation-for="@Model.Number" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="@Model.Name"></label>
        <input type="text" asp-for="@Model.Name" class="form-control" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="@Model.Adress"></label>
        <input type="text" asp-for="@Model.Adress" class="form-control" />
        <span asp-validation-for="@Model.Adress" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="@Model.ApiaryType"></label>
        <select asp-for="@Model.ApiaryType" class="custom-select" id="inputGroupSelectApiaryType">
            <select asp-for="@Model.ApiaryType" asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.ApiaryType>()"></select>
        </select>
        <span asp-validation-for="@Model.ApiaryType" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary mt-4" value="Add apiary" />
</form>

@*<form asp-controller="Apiary" asp-action="Create">
    <h4>Create apiary</h4>
    <div class="form-group">
        <label asp-for="@Model.Number"></label>
        <input class="form-control" type="text" asp-for="@Model.Number" />
        <span class="text-danger" asp-validation-for="@Model.Number"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input type="text" asp-for="@Model.Name" />
        <span asp-validation-for="@Model.Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.ApiaryType"></label>
        <select asp-for="@Model.ApiaryType" asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.ApiaryType>()"></select>
        <span asp-validation-for="@Model.ApiaryType"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Adress"></label>
        <input type="text" asp-for="@Model.Adress" />
        <span asp-validation-for="@Model.Adress"></span>
    </div>
<<<<<<< HEAD

    <input type="submit" class="btn btn-login-register text-center w-100" value="Submit" />
</form>*@



<!--<form id="account" method="post">
    <h4>Use a local account to log in.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group text-left">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group text-left">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group text-left">
        <div class="checkbox">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" />
                Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-login-register text-center w-100">Log in</button>
    </div>-->
@*<div class="form-group">
        <p>or sign up with:</p>
        <button type="submit" class="btn btn-login-register text-center w-100">Log in</button>
        <button type="submit" class="btn btn-login-register text-center w-100">Log in</button>

    </div>*@

<!--<div class="form-group">
        <p>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </p>
        <p>
            <a asp-page="./Register" asp-route-returnUrl="odel.ReturnUrl">Register as a new user</a>
        </p>
    </div>
</form>-->
@*<form asp-controller="Apiary" asp-action="Create">
        <div>
            <label asp-for="@Model.Number"></label>
            <input type="text" asp-for="@Model.Number" />
            <span asp-validation-for="@Model.Number"></span>
        </div>

        <div>
            <label asp-for="@Model.Name"></label>
            <input type="text" asp-for="@Model.Name" />
            <span asp-validation-for="@Model.Name"></span>
        </div>

        <div>
            <label asp-for="@Model.ApiaryType"></label>
            <select asp-for="@Model.ApiaryType" asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.ApiaryType>()"></select>
            <span asp-validation-for="@Model.Adress"></span>
        </div>

        <div>
            <label asp-for="@Model.Adress"></label>
            <input type="text" asp-for="@Model.Adress" />
            <span asp-validation-for="@Model.Adress"></span>
        </div>

        <input type="submit" value="Submit" />
    </form>*@
=======
    <input type="submit" value="Submit" />
</form>
>>>>>>> d9aa04ab68dddccb388a6cbb60db55e18701902e
