@model BeekeeperAssistant.Web.ViewModels.Apiaries.CreateApiaryInputModel
@{
    ViewData["Title"] = "Create Apiary";
}

<div class="breadcrumb">
    <h1>Намирате се на:</h1> 
    <ol class="breadcrumb-list">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начало</a></li>
        <li class="breadcrumb-item"><a asp-controller="Apiary" asp-action="All">Пчелини - всички</a></li>
        <li class="breadcrumb-item active">Създай</li>
    </ol>
</div>

<div class="apiary-create text-left">
    <form asp-controller="Apiary" asp-action="Create">
        <h1>Add new apiary</h1>
        <div class="form-group">
            <label>Number</label>
            <div class="d-flex">
                <div class="text-center">
                    <label asp-for="@Model.CityCode">City Code</label>
                    <input type="text" asp-for="@Model.CityCode" class="form-control text-right" placeholder="3345" />
                    <span asp-validation-for="@Model.CityCode" class="text-danger"></span>
                </div>
                <span>-</span>
                <div class="text-center">
                    <label asp-for="@Model.FarmNumber">Farm Number</label>
                    <input type="text" asp-for="@Model.FarmNumber" class="form-control" placeholder="7836" />
                    <span asp-validation-for="@Model.FarmNumber" class="text-danger"></span>
                </div>
            </div>
            <span class="text-danger" asp-validation-for="Number"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input type="text" asp-for="@Model.Name" class="form-control" placeholder="Honey Farm" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Adress"></label>
            <input type="text" asp-for="@Model.Adress" class="form-control" placeholder="Montana, Montana" />
            <span asp-validation-for="@Model.Adress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ApiaryType"></label>
            <select asp-for="@Model.ApiaryType" class="custom-select" id="inputGroupSelectApiaryType" asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.ApiaryType>()"></select>
            <span asp-validation-for="@Model.ApiaryType" class="text-danger"></span>
        </div>
        <input type="submit" class="submit-btn mt-3" value="Create apiary" />
    </form>
</div>

