@model BeekeeperAssistant.Web.ViewModels.Apiaries.EditApiaryInputModel
@{
    ViewData["Title"] = "Редактиране - " + Model.Number;
}

<div class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Начало</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apiary" asp-action="All">Пчелини-всички</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <div class="form-box">
        <a class="back" asp-controller="Apiary" asp-action="All"><i class="fas fa-arrow-left"></i></a>
        <h2 class="title-2">@ViewData["Title"]</h2>
        <form asp-controller="Apiary" asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-apiary-number">
                <div class="input-box">
                    <label asp-for="@Model.CityCode"></label>
                    <input type="text" asp-for="@Model.CityCode" />
                    <span asp-validation-for="@Model.CityCode"></span>
                </div>
                <span>-</span>
                <div class="input-box">
                    <label asp-for="@Model.FarmNumber"></label>
                    <input type="text" asp-for="@Model.FarmNumber" />
                    <span asp-validation-for="@Model.FarmNumber"></span>
                </div>
            </div>
            <br />
            <div class="input-box">
                <label asp-for="@Model.Name"></label>
                <input type="text" asp-for="@Model.Name" />
                <span asp-validation-for="@Model.Name"></span>
            </div>
            <br />
            <div class="input-box">
                <label asp-for="@Model.Adress"></label>
                <input type="text" asp-for="@Model.Adress" />
                <span asp-validation-for="@Model.Adress"></span>
            </div>
            <br />
            <div class="input-box">
                <label asp-for="@Model.ApiaryType"></label>
                <select asp-for="@Model.ApiaryType"
                    asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.ApiaryType>()"></select>
                <span asp-validation-for="@Model.ApiaryType"></span>
            </div>
            <br />
            <div class="btn-group">
                <input class="btn apiary" type="submit" value="Редактирай" />
            </div>
        </form>
    </div>
</div>
