@model BeekeeperAssistant.Web.ViewModels.Beehives.AllUserBeehivesViewModel
@{
    ViewData["Title"] = "All Beehives";
}

<a class="btn btn-success" asp-controller="Beehive" asp-action="Create">Create Beehive</a>

<ul>

    @foreach (var beehive in Model.AllUserBeehives)
    {
        <li>@beehive.Number - @beehive.BeehivePower - @beehive.BeehiveSystem - @beehive.BeehiveType - @beehive.Date - @beehive.HasDevice - @beehive.HasPolenCatcher</li>
    }

</ul>
