@model BeekeeperAssistant.Web.ViewModels.Treatments.AllTreatementsViewModel
@{
    var onlyReadMsg = "нямате достъп";
}



<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/Apiary/@Model.ApiaryNumber">Пчелин: @Model.ApiaryNumber</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <ul class="breadcrumb-list responsive">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">...</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/Apiary/@Model.ApiaryNumber">@Model.ApiaryNumber</a>
        </li>
        <li class="breadcrumb-item active">@Model.BeehiveNumber</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<h1 class="tab-title title-1">Информация за кошер - №@Model.BeehiveNumber</h1>

<div class="tab">
    <a class="tablinks" asp-controller="Beehive" asp-action="ById" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-archive"></i>
        Кошер №@Model.BeehiveNumber
    </a>
    <a class="tablinks" asp-controller="Queen" asp-action="ByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-crown"></i>
        Майка
    </a>

    <a class="tablinks" asp-controller="Inspection" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="far fa-calendar-check"></i>
        Прегледи
    </a>
    <a class="tablinks active" asp-controller="Treatment" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-notes-medical"></i>
        Третирания
    </a>
    <a class="tablinks" asp-controller="Harvest" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-box"></i>
        Добиви
    </a>
</div>

<div class="tabs-body">
    <partial name="_StatusMessagePartial" />
    <div id="Treatments" class="tabcontent">
        <div class="harvests-data">
            @if (Model.BeehiveAccess == Access.ReadWrite)
            {
                <div class="page-controls">
                    <a class="export-file excel" asp-controller="Treatment" asp-action="ExportToExcel"
                       asp-route-id="@Model.BeehiveId"><i class="fas fa-file-download"></i> Excel</a>
                    <a class="btn create-data" asp-controller="Treatment" asp-action="Create" asp-route-id="@Model.BeehiveId">
                        <i class="fas fa-notes-medical"></i>
                        Добави третиране
                    </a>
                </div>
            }
            <table id="TreatmentsTable" class="all-table">
                <thead>
                <th>Дата на третирането</th>
                <th>Име на третирането</th>
                <th>Превенция на</th>
                <th>Препарат</th>
                <th>Въведен като</th>
                <th>Количество</th>
                <th>Дозировка</th>
                <th>Редактиране</th>
                </thead>
                <tbody>
                    @foreach (var treatment in Model.AllTreatements)
                    {
                        string rowMasterId = "trMasterTreatment" + treatment.Id;
                        string rowExpandId = "trExpandTreatment" + treatment.Id;
                        <tr id="@rowMasterId" class="table-sdate" onclick="expandTable(@rowMasterId)">
                            <td>
                                <time datetime="@treatment.DateOfTreatment.ToString("O")"></time>
                            </td>
                            <td>
                                @treatment.Name
                            </td>
                            <td>
                                @treatment.Disease
                            </td>
                            <td>
                                @treatment.Medication
                            </td>
                            <td>
                                @Html.DisplayFor(t => treatment.InputAs)
                            </td>
                            <td class="table-amount">
                                @treatment.Quantity
                            </td>
                            <td>
                                @Html.DisplayFor(t => treatment.Dose)
                            </td>
                            <td class="edit">
                                <div class="edit-container">
                                    @if (Model.BeehiveAccess == Access.ReadWrite)
                                    {
                                        <a class="edit" asp-controller="Treatment" asp-action="Edit"
                                           asp-route-id="@treatment.Id">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <a class="delete" onclick="ShowDeleteForm('@treatment.Id-treatment')">
                                            <i class="far fa-trash-alt"></i>
                                        </a>

                                        <div id="@treatment.Id-treatment" class="delete-form-display">
                                            <form id="form-@treatment.Id" asp-controller="Treatment" asp-action="Delete"
                                                  asp-route-id="@treatment.Id">
                                                <a class="delete close" onclick="HideDeleteForm('@treatment.Id-treatment')">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                                <p>
                                                    Сигурни ли сте че искате да изтриете третиране от
                                                    <strong>@treatment.DateOfTreatment.ToString("ddd dd-MMM-yyyy")</strong>?
                                                </p>
                                                <button type="submit" class="delete">
                                                    Изтрий <i class="far fa-trash-alt"></i>
                                                </button>
                                            </form>
                                            <div id="@treatment.Id-back" class="content-cover" onclick="HideDeleteForm('@treatment.Id-treatment')"></div>
                                        </div>
                                    }
                                    else
                                    {
                                        @onlyReadMsg
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr id="@rowExpandId" class="data-table-expand" style="display: none;">
                            <td colspan="8">
                                <div class="note">
                                    <strong><i class="far fa-sticky-note"></i> Бележка:</strong> @treatment.Note
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="all-table-responsive" style="display: none;">
                <table>
                    <thead>
                    <th>Параметър</th>
                    <th>Стойност</th>
                    </thead>
                    <tbody>
                        @foreach (var treatment in Model.AllTreatements)
                        {
                            <tr>
                                <td>Дата на третирането</td>
                                <td>
                                    @treatment.DateOfTreatment.ToString("ddd dd-MMM-yyyy")
                                </td>
                            </tr>
                            <tr>
                                <td>Име на третирането</td>
                                <td>
                                    @treatment.Name
                                </td>
                            </tr>
                            <tr>
                                <td>Превенция</td>
                                <td>
                                    @treatment.Disease
                                </td>
                            </tr>
                            <tr>
                                <td>Препарат</td>
                                <td>
                                    @treatment.Medication
                                </td>
                            </tr>
                            <tr>
                                <td class="summary-content" colspan="2">
                                    @treatment.Quantity @Html.DisplayFor(t => treatment.Dose)
                                    <br>
                                    @Html.DisplayFor(t => treatment.InputAs)
                                </td>
                            </tr>
                            <tr class="edit-row">
                                <td>Редактиране</td>
                                <td class="edit">
                                    <div class="edit-container">
                                        @if (Model.BeehiveAccess == Access.ReadWrite)
                                        {
                                            <a class="edit" asp-controller="Treatment" asp-action="Edit"
                                               asp-route-id="@treatment.Id">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <a class="delete" onclick="ShowDeleteForm('@treatment.Id-treatment-responsive')">
                                                <i class="far fa-trash-alt"></i>
                                            </a>

                                            <div id="@treatment.Id-treatment-responsive" class="delete-form-display">
                                                <form id="form-@treatment.Id" asp-controller="Treatment" asp-action="Delete"
                                                      asp-route-id="@treatment.Id">
                                                    <a class="delete close" onclick="HideDeleteForm('@treatment.Id-treatment-responsive')">
                                                        <i class="fas fa-times"></i>
                                                    </a>
                                                    <p>
                                                        Сигурни ли сте че искате да изтриете преглед от
                                                        <strong>@treatment.DateOfTreatment.ToString("ddd dd-MMM-yyyy")</strong>?
                                                    </p>
                                                    <button type="submit" class="delete">
                                                        Изтрий <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </form>
                                                <div id="@treatment.Id-back" class="content-cover" onclick="HideDeleteForm('@treatment.Id-treatment-responsive')"></div>
                                            </div>
                                        }
                                        else
                                        {
                                            @onlyReadMsg
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (!Model.AllTreatements.Any())
            {
                <p class="empty-content">няма добавени третирания</p>
            }
        </div>
        <div class="pagination">
            <ul>
                @if (this.Model.CurrentPage == 1)
                {
                    <li class="page-item disabled">
                        <span class="page-link">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Treatment" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId" asp-route-page="@(Model.CurrentPage - 1)">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= this.Model.PagesCount; i++)
                {
                    @if (i == this.Model.CurrentPage)
                    {
                        <li class="page-item active">
                            <span class="page-link">@i</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Treatment" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId"
                               asp-route-page="@i">@i</a>
                        </li>
                    }
                }
                @if (this.Model.CurrentPage == this.Model.PagesCount)
                {
                    <li class="page-item disabled">
                        <span class="page-link">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Treatment" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId" asp-route-page="@(Model.CurrentPage + 1)">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>