@using BeekeeperAssistant.Data.Models
@model BeekeeperAssistant.Web.ViewModels.Feedbacks.FeedbackViewModel
@{
    ViewData["Title"] = "Отзив";
    string submitClass = "beehive-create";
    string feedbackIcon = "far fa-question-circle";
    string feedbackIconType = "help";
    if (ViewData["FeedbackType"] != null)
    {
        if (ViewData["FeedbackType"].ToString() == FeedbackType.Feedback.ToString())
        {
            ViewData["Title"] = "Отзив";
            submitClass = "beehive-create";
            feedbackIcon = "far fa-lightbulb";
            feedbackIconType = "feed";
        }
        else if (ViewData["FeedbackType"].ToString() == FeedbackType.Help.ToString())
        {
            ViewData["Title"] = "Помощ";
            submitClass = "apiary";
            feedbackIcon = "far fa-question-circle";
            feedbackIconType = "help";
        }
        else if (ViewData["FeedbackType"].ToString() == FeedbackType.Report.ToString())
        {
            ViewData["Title"] = "Доклад";
            submitClass = "queen";
            feedbackIcon = "fas fa-exclamation-triangle";
            feedbackIconType = "report";
        }
    }
}

<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="Index">Администрация</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Feedback" asp-action="All">Всички</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <ul class="breadcrumb-list responsive">
        <li class="breadcrumb-item">
            <a asp-controller="Dashboard" asp-action="Index">...</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Feedback" asp-action="All">Всички</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <h1>@ViewData["Title"]</h1>
    <div class="feedback-icon">
        <i class="@feedbackIcon @feedbackIconType"></i>
    </div>
    <h3>Заглавие: @Model.Title</h3>
    <h3>Дата: @Model.CreatedOn.ToString("ddd dd-MMM-yyyy")</h3>
    
    <br>

    <div>Вид: @Html.DisplayFor(x => Model.FeedbackType)</div>
    <span>Автор: @Model.UserUserName</span>

    <br>
    <br>

    <div>
        Съдържание:
        <br>
        @Model.Body
    </div>
</div>