@model BeekeeperAssistant.Web.ViewModels.Harvest.EditHarvestInputModel
@using BeekeeperAssistant.Data.Models;
@{
    this.ViewData["Title"] = "Добавяне на добив";

    int textAreaRows = 10;
    var keyValuepairApiaries = new List<SelectListItem>();
    if (Model.Apiaries != null)
    {
        keyValuepairApiaries = Model.Apiaries.Select(x => new SelectListItem(x.Value.ToString(), x.Key.ToString())).ToList();
        textAreaRows = 7;
    }
}

<div class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Начало</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <div class="form-box">
        <form asp-controller="Harvest" asp-action="Edit" method="post">
            <a class="back-arrow" asp-controller="Beehive" asp-action="All">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h2>@ViewData["Title"]</h2>
            <div asp-validation-summary="All"></div>
            
            @if (Model.Apiaries != null)
            {
                <div class="row-form-group">
                    <div class="input-group">
                        <label asp-for="@Model.ApiaryId"></label>
                        <select asp-for="@Model.ApiaryId" asp-items="@keyValuepairApiaries"></select>
                    </div>
                    <div class="input-group check">
                        <label asp-for="@Model.AllBeehives"></label>
                        <div class="slider-yes-no">
                            <input asp-for="@Model.AllBeehives" />
                            <label for="AllBeehives"></label>
                        </div>
                    </div>
                </div>
                <div class="input-group max">
                    <label asp-for="@Model.BeehiveNumbersSpaceSeparated"></label>
                    <input asp-for="@Model.BeehiveNumbersSpaceSeparated" />
                </div>
            }
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="@Model.DateOfHarves"></label>
                    <input asp-for="@Model.DateOfHarves" />
                </div>
                <div class="input-group">
                    <label asp-for="@Model.HarvestName"></label>
                    <input asp-for="@Model.HarvestName" />
                </div>
            </div>
            <div class="input-group max">
                <label asp-for="@Model.Note"></label>
                <textarea asp-for="@Model.Note" cols="30" rows="@textAreaRows"></textarea>
            </div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="@Model.HarvestProductType"></label>
                    <select asp-for="@Model.HarvestProductType" asp-items="@Html.GetEnumSelectList<HarvestProductType>()" onchange="hideHoneyType()"></select>
                </div>
                <div class="input-group">
                    <label asp-for="@Model.HoneyType"></label>
                    <select asp-for="@Model.HoneyType" asp-items="@Html.GetEnumSelectList<HoneyType>()"></select>
                </div>
            </div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="@Model.QuantityText"></label>
                    <input asp-for="@Model.QuantityText" />
                </div>
                <div class="input-group">
                    <label asp-for="@Model.Unit"></label>
                    <select asp-for="@Model.Unit" asp-items="@Html.GetEnumSelectList<Unit>()"></select>
                </div>
            </div>

            <input type="hidden" asp-for="@Model.Unit" />
            <input type="hidden" asp-for="@Model.BeehiveId" />
            <input type="hidden" asp-for="@Model.ApiaryId" />
            <div class="btn-group">
                <input class="btn edit" type="submit" value="Редактирай добив" />
            </div>
        </form>
    </div>
</div>

<script>
    window.onload = hideHoneyType();

    // show | hide honeyType
    function hideHoneyType() {
        var select = document.getElementById('HarvestProductType');
        var value = select.options[select.selectedIndex].text;
        var parentDiv = document.getElementById('HoneyType').parentElement;

        if (value == 'мед') {
            parentDiv.classList.remove("close-section");
            parentDiv.classList.add("open-section");
            parentDiv.style.display = "";
        }
        else {
            parentDiv.classList.remove("open-section");
            parentDiv.classList.add("close-section");
            parentDiv.style.display = "none";
        }
    }
</script>
