@using BeekeeperAssistant.Common
@model BeekeeperAssistant.Web.ViewModels.Home.IndexHomeViewModel
@using BeekeeperAssistant.Web.ViewModels.Shared
@{
    this.ViewData["Title"] = "Табло";
    int colorsCounter = 0;

    var navigation = new Dictionary<string, string>();
    navigation.Add("Табло", null);

    var breadcrumbNav = new BreadcrumbModel
    {
        Navigation = navigation,
    };
}


<partial model="@breadcrumbNav" name="_BreadcrumbPartial" />

<div class="content">
    <partial name="_StatusMessagePartial" />
    <div class="dashboard-cards-list">
        <div class="dashboard-card">
            <div class="dashboard-card-header apiary">
                <img src="~/img/apiaryIcon.png" alt="apiaryIcon.png">
                <h1>Достъп до пчелините:</h1>
            </div>
            <div class="dashboard-card-body apiary">
                <a asp-controller="Apiary" asp-action="All">
                    <div>
                        <p>Към списъка</p>
                        <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="dashboard-card">
            <div class="dashboard-card-header beehive">
                <img src="~/img/beehiveIcon.png" alt="beehiveIcon.png">
                <h1>Достъп до кошерите:</h1>
            </div>
            <div class="dashboard-card-body beehive">
                <a asp-controller="Beehive" asp-action="All">
                    <div>
                        <p>Към списъка</p>
                        <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="dashboard-card">
            <div class="dashboard-card-header queen">
                <img src="~/img/queenIcon.png" alt="queenIcon.png">
                <h1>Достъп до майките:</h1>
            </div>
            <div class="dashboard-card-body queen">
                <a asp-controller="Queen" asp-action="All">
                    <div>
                        <p>Към списъка</p>
                        <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="dashboard-cards-list">
        <div class="count-add-card">
            <div class="count-add-card-body">
                <a asp-controller="Treatment" asp-action="All" style="pointer-events: none;">
                    <div>
                        <p>@Model.TreatmentsCount</p>
                        <p>Третирания за сезона</p>
                    </div>
                </a>
            </div>
            <div class="count-add-card-footer">
                <a asp-controller="Treatment" asp-action="Create" asp-route-pagePath="Home">
                    <div>
                        <i class="fas fa-notes-medical"></i>
                        <p>Добави третиране</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="count-add-card">
            <div class="count-add-card-body">
                <a asp-controller="Inspection" asp-action="All" style="pointer-events: none;">
                    <div>
                        <p>@Model.InspectionsCount</p>
                        <p>Прегледа за сезона</p>
                    </div>
                </a>
            </div>
            <div class="count-add-card-footer">
                <a asp-controller="Inspection" asp-action="Create">
                    <div>
                        <i class="far fa-calendar-check"></i>
                        <p>Добави преглед</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="count-add-card">
            <div class="count-add-card-body">
                <a asp-controller="Harvest" asp-action="All" style="pointer-events: none;">
                    <div>
                        <p>@Model.HarvestsCount</p>
                        <p>Добива за сезона</p>
                    </div>
                </a>
            </div>
            <div class="count-add-card-footer">
                <a asp-controller="Harvest" asp-action="Create">
                    <div>
                        <i class="fas fa-box"></i>
                        <p>Добави добив</p>
                    </div>
                </a>
            </div>
        </div>
    </div>





    <div style="color: red; font-size: 24px; font-weight: bold;">
        добави в breadcrumb модела задачите за изпълнение и отготре да стои бройката
        <br>
        при респонсив без breadcrumb ???
        <br>
        - ???
    </div>

    @if (Model.LastUserTasks.Any())
    {
        <div class="dashboard-tasks">
            <h1 class="title">Последно добавени задачи</h1>
            <div class="tasks-info">
                <div class="tasks-list">
                    <div class="list">
                        @foreach (var task in Model.LastUserTasks)
                        {
                            <div class="task" style="background-color: @task.Color;">
                                <div class="task-controls">
                                    <a class="finish" asp-controller="UserTask" asp-action="Delete" asp-route-id="@task.Id"
                                title="Завърши задачата">
                                        <i class="fas fa-check-square"></i>
                                    </a>
                                    <a class="edit" asp-controller="UserTask" asp-action="All" asp-route-editId="@task.Id"
                                title="Редактирай задачата">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                                <h1 class="title">
                                    @task.Title
                                </h1>
                                @if (!string.IsNullOrWhiteSpace(task.Content))
                                {
                                    <p class="task-content">@task.Content</p>
                                }
                                @if (task.StartDate.HasValue || task.EndDate.HasValue)
                                {
                                    <div class="time-span @if (!task.StartDate.HasValue && task.EndDate.HasValue) { @("right") } ">
                                        @if (task.StartDate.HasValue)
                                        {
                                            <div class="start">
                                                <div class="time-title">
                                                    Начало
                                                </div>
                                                @task.StartDate.Value.ToString("dd.MM.yyyy г. HH:mm ч.")
                                            </div>
                                        }
                                        @if (task.EndDate.HasValue)
                                        {
                                            <div class="end">
                                                <div class="time-title">
                                                    Край
                                                </div>
                                                @task.EndDate.Value.ToString("dd.MM.yyyy г. HH:mm ч.")
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="more">
                        <a asp-area="App" asp-controller="UserTask" asp-action="All">
                            <i class="fas fa-clipboard"></i>
                            Виж всички
                        </a>
                    </div>
                </div>
                <div class="tasks-count">
                    @foreach (var count in Model.UserTasksCountByColor)
                    {
                        <div class="count" style="background-color: @count.Key;">
                            @count.Value
                            <a asp-area="App" asp-controller="UserTask" asp-action="All">
                                <i class="fas fa-clipboard"></i>
                                Към задачите
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }




    <div class="dashboard-cards-list">
        @if (Model.ApiariesCount > 0)
        {
            <div class="dashboard-chart-card">
                <img src="@Model.ApiariesCountChartUrl" alt="...диаграма">
                <div class="legend">
                    @foreach (var ac in Model.ApiariesCountByType.Keys)
                    {
                        <div class="legend-row">
                            <div class="legend-color"
                        style="background: @GlobalConstants.ApiaryTypeChartColors[colorsCounter].Remove(0, 1).Remove(7);">
                                @Model.ApiariesCountByType[ac]
                            </div>
                            <div class="legend-value">@Html.DisplayFor(x => ac)</div>
                        </div>
                        colorsCounter++;
                    }
                    @{
                        colorsCounter = 0;
                    }
                </div>
                <div class="count">
                    <a asp-controller="Apiary" asp-action="All">
                        <div>
                            <p>@Model.ApiariesCount</p>
                            <p>Пчелини</p>
                        </div>
                    </a>
                </div>
            </div>
        }
        @if (Model.BeehivesCount > 0)
        {
            <div class="dashboard-chart-card">
                <img src="@Model.BeehivesCountChartUrl" alt="...диаграма">
                <div class="legend">
                    @foreach (var bc in Model.BeehivesCountByPower.Keys)
                    {
                        <div class="legend-row">
                            <div class="legend-color"
                        style="background: @GlobalConstants.BeehivePowerChartColors[colorsCounter].Remove(0, 1).Remove(7);">
                                @Model.BeehivesCountByPower[bc]
                            </div>
                            <div class="legend-value">@Html.DisplayFor(x => bc)</div>
                        </div>
                        colorsCounter++;
                    }
                    @{
                        colorsCounter = 0;
                    }
                </div>
                <div class="count">
                    <a asp-controller="Beehive" asp-action="All">
                        <div>
                            <p>@Model.BeehivesCount</p>
                            <p>Кошери</p>
                        </div>
                    </a>
                </div>
            </div>
        }
        @if (Model.QueensCount > 0)
        {
            <div class="dashboard-chart-card">
                <img src="@Model.QueensCountByGivingDateChartUrl" alt="...диаграма">
                <div class="legend">
                    @foreach (var bc in Model.QueensCountByGivingDate.Keys)
                    {
                        <div class="legend-row">
                            <div class="legend-color"
                        style="background: @Model.QueenChartColors[colorsCounter].Remove(0, 1).Remove(7);">
                                @Model.QueensCountByGivingDate[bc]
                            </div>
                            @if (bc == 0)
                            {
                                <div class="legend-value">
                                    Без майка
                                </div>
                            }
                            else
                            {
                                <div class="legend-value">
                                    @Html.DisplayFor(x => bc)
                                </div>
                            }
                        </div>
                        colorsCounter++;
                    }
                    @{
                        colorsCounter = 0;
                    }
                </div>
                <div class="count">
                    <a asp-controller="Queen" asp-action="All">
                        <div>
                            <p>@Model.QueensCount</p>
                            <p>Майки</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
