@model BeekeeperAssistant.Web.ViewModels.UserDiary.ByUserIdViewModel
@using BeekeeperAssistant.Web.ViewModels.Shared

@{
    ViewData["Title"] = "Дневник";

    var navigation = new Dictionary<string, string>();
    navigation.Add("Табло", "/App");
    navigation.Add(ViewData["Title"].ToString(), null);

    var breadcrumbNav = new BreadcrumbModel
    {
        Navigation = navigation,
    };
}

<partial model="@breadcrumbNav" name="_BreadcrumbPartial" />

<div class="content">

    <div class="user-diary-task-tab">
        <div class="tabs">
            <div class="tab active">
                <a asp-area="App" asp-controller="UserDiary" asp-action="ByUserId">
                    <i class="fas fa-book-open"></i>
                    Дневник
                </a>
            </div>
            <div class="tab">
                <a  asp-area="App" asp-controller="UserTask" asp-action="All">
                    <i class="fas fa-clipboard"></i>
                    Задачи
                </a>
            </div>
        </div>
    </div>

    <partial name="_StatusMessagePartial" />

    <form asp-controller="UserDiary" asp-action="Save">
        <h1 class="title-1 no-required">@ViewData["Title"]</h1>
        <div class="btn-group">
            <button class="btn edit save" type="submit">
                <i class="far fa-save"></i>
                Запази
            </button>
        </div>
        <textarea asp-for="@Model.Content" id="tiny">@Model.SanitizedContent</textarea>
        <input asp-for="@Model.UserId" type="hidden" />
        <input asp-for="@Model.UserDiaryId" type="hidden" />
    </form>
</div>



@section Scripts
{
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/jquery.tinymce.min.js" referrerpolicy="origin"></script>
<script>

    $('textarea#tiny').tinymce({
        height: 450,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount table emoticons'
        ],
        toolbar: 'undo redo | bold italic underline strikethrough subscript superscript | fontsizeselect backcolor forecolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | table tabledelete | emoticons | help',
        toolbar_mode: 'wide'
    });
</script>
}
