@model BeekeeperAssistant.Web.ViewModels.BeehiveMarkFlags.CreateBeehiveMarkFlagInputModel;
@{
    this.ViewData["Title"] = "Коментар за кошера";
}

<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item">
            <a class="tablinks active" asp-controller="Apiary" asp-action="ById" asp-route-id="@Model.BeehiveApiaryId">
                @if (!string.IsNullOrEmpty(Model.BeehiveApiaryNumber))
                {
                    @($"Пчелин № {Model.BeehiveApiaryNumber}")
                }
                else
                {
                    @Model.BeehiveApiaryName
                }
            </a>
        </li>
        <li class="breadcrumb-item active">Коментар за кошера</li>
    </ul>
    <ul class="breadcrumb-list responsive">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">...</a>
        </li>
        <li class="breadcrumb-item">
            <a class="tablinks active" asp-controller="Apiary" asp-action="ById" asp-route-id="@Model.BeehiveApiaryId">
                @if (!string.IsNullOrEmpty(Model.BeehiveApiaryNumber))
                {
                    @($"Пчелин № {Model.BeehiveApiaryNumber}")
                }
                else
                {
                    @Model.BeehiveApiaryName
                }
            </a>
        </li>
        <li class="breadcrumb-item active">Коментар</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<h1 class="tab-title title-1">Информация за кошер - №@Model.BeehiveNumber</h1>
<div class="tab beehive">
    <a class="tablinks active" asp-controller="Beehive" asp-action="ById" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-archive"></i>
        <span class="text">
            Кошер №@Model.BeehiveNumber
        </span>
    </a>
    <a class="tablinks" asp-controller="Queen" asp-action="ByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-crown"></i>
        <span class="text">
            Майка
        </span>
    </a>
    <a class="tablinks" asp-controller="Inspection" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="far fa-calendar-check"></i>
        <span class="text">
            Прегледи
        </span>
    </a>
    <a class="tablinks " asp-controller="Treatment" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-notes-medical"></i>
        <span class="text">
            Третирания
        </span>
    </a>
    <a class="tablinks" asp-controller="Harvest" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-box"></i>
        <span class="text">
            Добиви
        </span>
    </a>
    <a class="tablinks" asp-controller="BeehiveNote" asp-action="AllByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-sticky-note"></i>
        <span class="text">
            Бележки
        </span>
    </a>
    <a class="tablinks" asp-controller="BeehiveDiary" asp-action="ByBeehiveId" asp-route-id="@Model.BeehiveId">
        <i class="fas fa-book"></i>
        <span class="text">
            Дневник
        </span>
    </a>
</div>

<div class="tabs-body">
    <div id="Notes" class="tabcontent">
        <div class="form-box">
            <form asp-controller="BeehiveMarkFlag" asp-action="Create" asp-route-id="@Model.BeehiveId">
                <h2 class="no-required">Коментар за кошера</h2>

                <div class="input-group flags">
                    <label asp-for="@Model.FlagType">Флаг:</label>
                    <select asp-for="@Model.FlagType" asp-items="@Html.GetEnumSelectList<MarkFlagType>()"></select>
                </div>

                <div class="input-group max">
                    <label asp-for="@Model.Content"></label>
                    <textarea asp-for="@Model.Content" cols="30" rows="15"></textarea>
                    <span asp-validation-for="Content"></span>
                </div>
                <input type="hidden" asp-for="@Model.BeehiveId">
                <input type="hidden" asp-for="@Model.BeehiveNumber">
                <input type="hidden" asp-for="@Model.BeehiveApiaryId">
                <input type="hidden" asp-for="@Model.BeehiveApiaryNumber">
                <input type="hidden" asp-for="@Model.BeehiveApiaryName">
                <div class="btn-group more">
                    <a class="back-button btn form-back" asp-controller="Beehive" asp-action="ById" asp-route-id="@Model.BeehiveId">Отмени</a>
                    <input class="btn beehive-create" type="submit" value="Създай" />
                </div>
            </form>
        </div>
    </div>
</div>
