@model BeekeeperAssistant.Web.ViewModels.ApiaryNotes.CreateApiaryNoteInputModel
@using BeekeeperAssistant.Web.ViewModels.Shared

@{
    ViewData["Title"] = "Добавяне на бележка";

    var returnUrl = Context.Request.Path;

    var navigation = new Dictionary<string, string>();
    navigation.Add("Табло", "/App");

    var title = "";
    if (!string.IsNullOrEmpty(Model.ApiaryNumber))
    {
        title = Model.ApiaryNumber;
    }
    else
    {
        title = Model.ApiaryName;
    }

    navigation.Add(title, $"/App/Apiary/ById/{Model.ApiaryId}");
    navigation.Add(ViewData["Title"].ToString(), null);

    var breadcrumbNav = new BreadcrumbModel
    {
        Navigation = navigation,
    };
}

<partial model="@breadcrumbNav" name="_BreadcrumbPartial" />

<h1 class="tab-title title-1">
    @if (!string.IsNullOrEmpty(Model.ApiaryNumber))
    {
        @("Пчелин №")
        @Model.ApiaryNumber
    }
    else
    {
        @Model.ApiaryName
    }
    - @ViewData["Title"]
</h1>
<div class="tab apiary">
    <a class="tablinks" asp-controller="Apiary" asp-action="ById" asp-route-id="@Model.ApiaryId">
        <i class="fas fa-boxes"></i>
        <span class="text">
            @if (!string.IsNullOrEmpty(Model.ApiaryNumber))
            {
                @Model.ApiaryNumber
            }
            else
            {
                @Model.ApiaryName
            }
        </span>
    </a>
    <a class="tablinks" asp-controller="Beehive" asp-action="AllByApiaryId" asp-route-id="@Model.ApiaryId">
        <i class="fas fa-border-all"></i>
        <span class="text">
            Кошери
        </span>
    </a>
    <a class="tablinks active" asp-controller="ApiaryNote" asp-action="AllByApiaryId" asp-route-id="@Model.ApiaryId">
        <i class="fas fa-sticky-note"></i>
        <span class="text">
            Бележки
        </span>
    </a>
    <a class="tablinks" asp-controller="ApiaryDiary" asp-action="ByApiaryId" asp-route-id="@Model.ApiaryId">
        <i class="fas fa-book"></i>
        <span class="text">
            Дневник
        </span>
    </a>
</div>

<div class="tabs-body">
    <div id="Notes" class="tabcontent">
        <div class="form-box">
            <form asp-controller="ApiaryNote" asp-action="Create" asp-route-id="@Model.ApiaryId">
                <h2>@ViewData["Title"]</h2>
                <div class="input-group max" onchange="test(this);">
                    <label asp-for="@Model.Color"></label>
                    <div class="input-note-background-colors">
                        @foreach (var color in GlobalConstants.NoteBackgroundColors)
                        {
                            <div class="custom-note-color" style="background-color: @color;"
                            onclick="setBackground('@color');">
                            </div>
                        }
                        @* <input type="color" value="@GlobalConstants.NoteBackgroundColors[2]"> *@
                    </div>
                </div>
                <div class="input-group max">
                    <label asp-for="@Model.Content"></label>
                    <textarea asp-for="@Model.Content" cols="30" rows="15"
                        style="background-color: @GlobalConstants.NoteBackgroundColors[2];"></textarea>
                    <span asp-validation-for="Content"></span>
                </div>
                <input type="hidden" asp-for="@Model.Color" value="@GlobalConstants.NoteBackgroundColors[2]">
                <div class="btn-group more">
                    <a class="back-button btn form-back" asp-controller="ApiaryNote" asp-action="AllByApiaryId"
                        asp-route-id="@Model.ApiaryId">Отмени</a>
                    <input class="btn beehive-create" type="submit" value="@this.ViewData["Title"]" />
                </div>
            </form>
        </div>
    </div>
</div>
