@model BeekeeperAssistant.Data.Filters.Models.FilterModel;

<link rel="stylesheet" href="~/css/loggedIn/views/tableFiltering.css">

<div class="table-filters">
    <form class="flex-row" method="get">

        <div class="margin-small-right">
            <label asp-for="@Model.PropertyName">Ред:</label>
            <select id="order" asp-for="@Model.Order" asp-items="@Html.GetEnumSelectList<Order>()"
                onchange="hideFilter(this)"></select>
        </div>

        <div id="column" class="margin-small-right slide-right">
            <label asp-for="@Model.PropertyName">Колона:</label>
            <select asp-for="@Model.PropertyName">
                @for (int i = 0; i < Model.Data.ModelProperties.Count(); i++)
                {
                    <option value="@Model.Data.ModelProperties[i]"> @Model.Data.ModelPropertiesDisplayNames[i]</option>
                }
            </select>
        </div>

        <input type="hidden" name="page" value="@Model.Data.PageNumber" />

        <input id="input" type="submit" value="Филтрирай" />
    </form>
</div>

<script src="~/js/views/tableFiltering.js" type="text/javascript"></script>
