@using BeekeeperAssistant.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@GlobalConstants.SystemName - @this.ViewData["Title"]</title>

    <link rel="icon" src="/BeekeeperAssistant.Web/wwwroot/images/BA_demoLogo.ico" />
    <script src="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous"></script>

    <environment names="Development">
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <partial name="_LoginPartial" />
    </header>

    <div class="text-center">
        <partial name="_CookieConsentPartial" />
        <main role="main">
            @this.RenderBody()
        </main>
    </div>

    @*<footer class="page-footer font-small blue pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <a class="navbar-brand logo-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="logo" src="~/images/BA_demoLogo.png" alt="logo" />
                        @GlobalConstants.SystemName
                    </a>
                </div>

                <hr class="clearfix w-100 d-md-none pb-3">

                <div class="col-md-3 mb-md-0 mb-3">
                </div>

                <div class="col-md-3 mb-md-0 mb-3 text-center">
                    <h6 class="text-uppercase">Social Media</h6>
                    <div class="row ">
                        <div class="col-lg-12 d-flex justify-content-around" id="socialMedia">
                            <ul class="list-unstyled">
                                <li class="d-inline ml-1 mr-1"><a class="icon" href="#"><i class="fab fa-facebook" target="popup"></i></a></li>
                                <li class="d-inline ml-1 mr-1"><a class="icon" href="#"><i class="fab fa-instagram" target="popup"></i></a></li>
                                <li class="d-inline ml-1 mr-1"><a class="icon" href="https://github.com/Ceci2003/BeekeeperAssistant" target="popup"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="footer-copyright text-center pb-3">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

    </footer>*@

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
