@using BeekeeperAssistant.Common
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="@GlobalConstants.SearchKeywords" />
    <meta name="description" content="@GlobalConstants.SearchDescription" />
    <link rel="icon" src="/BeekeeperAssistant.Web/wwwroot/images/BA_demoLogo.ico" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
          integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    <environment names="Development">
        <link rel="stylesheet" href="~/css/loggedOut/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/loggedOut/responsive.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/loggedOut/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/loggedOut/responsive.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <partial name="_CookieConsentPartial" />
    <header>
        <partial name="_LoginPartial" />
    </header>

    <main role="main" class="pb-3">
        @this.RenderBody()
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-about">
                <h1>@GlobalConstants.SystemName</h1>
                <ul>

                    <li><a asp-area="" asp-controller="Home" asp-action="About">Ръководство</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Свържете се с нас</a></li>
                    <!-- <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Лични данни</a></li> -->
                </ul>
            </div>
            <div class="footer-social">
                <h1>Социални мрежи</h1>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/BeekeeperAssistant-103264928862989" target="popup">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    @*<li>
                        <a href="#">
                            <i class="fab fa-instagram" target="popup"></i>
                        </a>
                    </li>*@
                    <li>
                        <a href="https://github.com/Ceci2003/BeekeeperAssistant" target="popup">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="footer-copyright">&copy; @DateTime.Now.Year - @GlobalConstants.SystemName</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"
        asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>

</html>
