@using BeekeeperAssistant.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@GlobalConstants.SystemName - @this.ViewData["Title"]</title>

    <link rel="icon" src="/BeekeeperAssistant.Web/wwwroot/images/BA_demoLogo.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

    <environment names="Development">
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <partial name="_LoginPartial" />
    </header>

    <div class="text-center">
        <partial name="_CookieConsentPartial" />
        <main role="main">
            @this.RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-about">
                <h1>@GlobalConstants.SystemName</h1>
                <ul>
                    <li><a href="#">За нас</a></li>
                    <li><a href="#">Контакти</a></li>
                    <li><a href="#">Запитвания</a></li>
                    @* <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Лични данни</a></li> *@
                </ul>
            </div>
            <div class="footer-social">
                <h1>Социални мрежи</h1>
                <ul>                    
                    <li><a href="#"><i class="fab fa-facebook" target="popup"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram" target="popup"></i></a></li>
                    <li><a href="https://github.com/Ceci2003/BeekeeperAssistant" target="popup"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>
        <p class="footer-copyright">&copy; @DateTime.Now.Year - @GlobalConstants.SystemName - Всички права запазени</p>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
