@using BeekeeperAssistant.Common
@{
    string startClass = " start";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
          integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    <environment names="Development">
        <link rel="stylesheet" href="~/css/loggedIn/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/loggedIn/profile.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/loggedIn/responsive.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/loggedIn/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/loggedIn/profile.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/loggedIn/responsive.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <aside class="sidebar-navigation">
        <section class="sidebar-breadcrumb">
            <h1 class="title">Намирате се на:</h1>
        </section>
        <section class="version-control">
            <p>@GlobalConstants.SystemVersion</p>
        </section>
        <section class="user-area">
            <div class="user-image">
                <img src="~/img/userImage.png" alt="">
            </div>
            <div class="user-greeting">
                <p id="greet-message">Hello,</p>
                <p>@this.User.Identity.Name</p>
            </div>
            <hr>
            <a class="btn profile-btn" asp-area="Identity" asp-page="/Account/Manage/Index">
                Профил
            </a>
        </section>
        <section class="navigations">
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
            <section class="sidebar-dropdown start">
                <div class="primary administration-drop-btn">
                    <span>Администрация</span>
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="administration-options hide">
                    <a class="secondary" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">
                        Табло
                    </a>
                    <a class="secondary" asp-area="Administration" asp-controller="User" asp-action="AllAdministrators">
                        Администратори
                    </a>
                    <a class="secondary" asp-area="Administration" asp-controller="User" asp-action="All">
                        Регистрирани потребители
                    </a>
                    <a class="secondary" asp-area="Administration" asp-controller="ApiaryHelper" asp-action="All">
                        Създадени помощници
                    </a>
                    <a class="secondary" asp-area="Administration" asp-controller="Apiary" asp-action="All">
                        Създадени пчелини
                    </a>
                    <a class="secondary" asp-area="Administration" asp-controller="Beehive" asp-action="All">
                        Създадени кошери
                    </a>
                    <a class="secondary" asp-area="Administration" asp-controller="Feedback" asp-action="All">
                        Въпроси и отзиви
                    </a>
                </div>
            </section>

            }
            <section class="sidebar-dropdown @if(!this.User.IsInRole(GlobalConstants.AdministratorRoleName)) { @startClass }">
                <a class="primary" asp-area="App" asp-controller="Home" asp-action="Index">
                    Табло
                </a>
            </section>
            <section class="sidebar-dropdown">
                <div class="primary apiaries-drop-btn">
                    <span>Пчелини</span>
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="api-options hide">
                    <a class="secondary" asp-area="App" asp-controller="Apiary" asp-action="All">
                        Всички
                    </a>
                    <a class="secondary" asp-area="App" asp-controller="Apiary" asp-action="AllMovable">
                        Всички - подвижни
                    </a>
                    <a class="secondary" asp-area="App" asp-controller="Apiary" asp-action="Create">
                        Добави
                    </a>
                </div>
            </section>
            <section class="sidebar-dropdown">
                <div class="primary beehives-drop-btn">
                    <span>Кошери</span>
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="beehive-options hide">
                    <a class="secondary" asp-area="App" asp-controller="Beehive" asp-action="All">
                        Всички
                    </a>
                    <a class="secondary" asp-area="App" asp-controller="Beehive" asp-action="Create">
                        Добави
                    </a>
                </div>
            </section>
            <section class="sidebar-dropdown">
                <div class="primary queens-drop-btn">
                    <span>Майки</span>
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="queen-options hide">
                    <a class="secondary" asp-area="App" asp-controller="Queen" asp-action="All">
                        Всички
                    </a>
                </div>
            </section>
            <section class="sidebar-dropdown">
                <a class="primary" asp-area="App" asp-controller="Feedback" asp-action="Index">
                    Помощ и отзиви
                </a>
            </section>
        </section>
    </aside>

    <div class="aside-content-cover" onclick="closeAside();"></div>

    <main>
        @this.RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"
            asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/loggedInUser.js" asp-append-version="true"></script>
    <script src="~/js/responsive.js" asp-append-version="true"></script>

    <script>
        window.onload = function () {
            markRequiredFields();
        };
    </script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>

</html>