@using BeekeeperAssistant.Common
@{
    string greeting = "";
    if (DateTime.Now.Hour < 12)
    {
        greeting = "Добро утро";
    }
    else if (DateTime.Now.Hour < 18)
    {
        greeting = "Добър ден";
    }
    else
    {
        greeting = "Добър вечер";
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    @* <link rel="stylesheet" href="~/css/loggedIn.min.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/loggedIn.css" asp-append-version="true" />
</head>

<body>
    <aside class="sidebar-navigation">
        <section class="user-area">
            <div class="user-image">
                <img src="~/img/userImage.png" alt="">
            </div>
            <div class="user-greeting">
                <p>@greeting,</p>
                <p> @this.User.Identity.Name</p>
            </div>
            <hr>
            <a class="btn profile" asp-area="Identity" asp-page="/Account/Manage/Index">
                Настройки
            </a>
        </section>
        <section class="navigations">
            <section class="sidebar-dropdown start">
                <a class="primary" asp-controller="Home" asp-action="Index">
                    Начало
                </a>
            </section>
            <section class="sidebar-dropdown">
                <div class="primary apiaries-drop-btn">
                    <span>Пчелини</span>
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="api-options hide">
                    <a class="secondary" asp-controller="Apiary" asp-action="All">
                        Всички
                    </a>
                    <a class="secondary" asp-controller="Apiary" asp-action="Create">
                        Създай
                    </a>
                </div>
            </section>
            <section class="sidebar-dropdown">
                <div class="primary beehives-drop-btn">
                    <span>Кошери</span>
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="beehive-options hide">
                    <a class="secondary" href="#">
                        Всички
                    </a>
                    <a class="secondary" href="#">
                        Създай
                    </a>
                </div>
            </section>
            <section class="sidebar-dropdown">
                <div class="primary queens-drop-btn">
                    <span>Кралици</span>
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="queen-options hide">
                    <a class="secondary" href="#">
                        Всички
                    </a>
                    <a class="secondary" href="#">
                        Създай
                    </a>
                </div>
            </section>
        </section>
        <div class="leave">
            <form asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit"><i class="fas fa-sign-out-alt"></i></button>
            </form>
        </div>
    </aside>
    <main>
        @this.RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"
        asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/loggedInUser.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>

</html>