@model BeekeeperAssistant.Web.ViewModels.Apiaries.AllApiaryViewModel
@{
    ViewData["Title"] = "Пчелини - основни";
    ViewData["HelperApiaries"] = "Пчелини с достъп";
    var onlyReadMsg = "нямате достъп";

    var returnUrl = Context.Request.Path;
}

<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <ul class="breadcrumb-list responsive">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item active">Пчелини</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <h1 class="title-1">@ViewData["Title"]</h1>
    <partial name="_StatusMessagePartial" />

    <div class="page-controls">
        <a class="export-file excel" asp-controller="Apiary" asp-action="ExportToExcel">
            <i class="fas fa-file-download"></i> Excel
        </a>
        <a class="btn apiary-create" asp-controller="Apiary" asp-action="Create">
            <i class="fas fa-plus-square pr-2"></i>
            Добави пчелин
        </a>
    </div>

    <table class="data-table all-table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Име</th>
                <th>Местоположение</th>
                <th>Вид</th>
                <th>Бр. кошери</th>
                <th>Редактиране</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apiary in Model.UserApiaries.AllUserApiaries)
            {
                <tr>
                    <td class="number">
                        <a asp-controller="Apiary" asp-action="ById" asp-route-id="@apiary.Id">
                            @if (apiary.IsRegistered)
                            {
                                @apiary.Number
                            }
                            else
                            {
                                <p class="empty">-</p>
                            }
                        </a>
                    </td>
                    <td class="number">
                        <a asp-controller="Apiary" asp-action="ById" asp-route-id="@apiary.Id">
                            @if (apiary.Name != null)
                            {
                                @apiary.Name
                            }
                            else
                            {
                                <p class="empty">-</p>
                            }
                        </a>
                    </td>
                    <td>@apiary.Adress</td>
                    <td>@Html.DisplayFor(x => apiary.ApiaryType)</td>
                    <td>@apiary.BeehivesCount</td>
                    <td class="edit">
                        <div class="edit-container">
                            <a class="mark" title="Отбележи пчелина" asp-controller="Apiary" asp-action="Bookmark" asp-route-id="@apiary.Id">
                                <i class="@(apiary.IsBookMarked ? "fas " : "far") fa-bookmark"></i>
                            </a>
                            <a class="edit" title="Редактирай пчелина" asp-controller="Apiary" asp-action="Edit" asp-route-id="@apiary.Id" asp-route-returnUrl="@returnUrl">
                                <i class="far fa-edit"></i>
                            </a>
                            <a class="delete" title="Изтрий пчелина" onclick="ShowDeleteForm('@apiary.Id')">
                                <i class="far fa-trash-alt"></i>
                            </a>
                            <div id="@apiary.Id" class="delete-form-display">
                                <form id="form-@apiary.Id" asp-controller="Apiary" asp-action="Delete"
                                asp-route-id="@apiary.Id">
                                    <a class="delete close" onclick="HideDeleteForm('@apiary.Id')">
                                        <i class="fas fa-times"></i>
                                    </a>
                                    <p>
                                        Сигурни ли сте че искате да изтриете пчелин
                                        <strong>
                                            @if (!string.IsNullOrEmpty(apiary.Number))
                                            {
                                                @($"№ {apiary.Number}")
                                            }
                                            else
                                            {
                                                @apiary.Name
                                            }
                                        </strong>
                                        ?
                                    </p>
                                    <button type="submit" class="delete">
                                        Изтрий <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                                <div id="@apiary.Id-back" class="content-cover" onclick="HideDeleteForm('@apiary.Id')">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="all-table-responsive">
        <table>
            <thead>
                <th>Параметър</th>
                <th>Стойност</th>
            </thead>
            <tbody>
                @foreach (var apiary in Model.UserApiaries.AllUserApiaries)
                {
                    <tr>
                        <td>Номер</td>
                        <td class="number">
                            <a asp-controller="Apiary" asp-action="ById" asp-route-id="@apiary.Id">
                                @if (apiary.IsRegistered)
                                {
                                    @apiary.Number
                                }
                                else
                                {
                                    <p class="empty">-</p>
                                }
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Име</td>
                        <td class="number">
                            <a asp-controller="Apiary" asp-action="ById" asp-route-id="@apiary.Id">
                                @if (apiary.Name != null)
                                {
                                    @apiary.Name
                                }
                                else
                                {
                                    <p class="empty">-</p>
                                }
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Местоположение</td>
                        <td>@apiary.Adress</td>
                    </tr>
                    <tr>
                        <td>Вид</td>
                        <td>@Html.DisplayFor(x => apiary.ApiaryType)</td>
                    </tr>
                    <tr>
                        <td>Бр. кошери</td>
                        <td>@apiary.BeehivesCount</td>
                    </tr>
                    <tr class="edit-row">
                        <td>Редактиране</td>
                        <td class="edit">
                            <div class="edit-container">
                                <a class="mark" asp-controller="Apiary" asp-action="Bookmark" asp-route-id="@apiary.Id">
                                    <i class="@(apiary.IsBookMarked ? "fas " : "far") fa-bookmark"></i>
                                </a>
                                <a class="edit" asp-controller="Apiary" asp-action="Edit" asp-route-id="@apiary.Id">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a class="delete" onclick="ShowDeleteForm('@apiary.Id-responsive')">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                                <div id="@apiary.Id-responsive" class="delete-form-display">
                                    <form id="form-@apiary.Id" asp-controller="Apiary" asp-action="Delete"
                                    asp-route-id="@apiary.Id">
                                        <a class="delete close" onclick="HideDeleteForm('@apiary.Id-responsive')">
                                            <i class="fas fa-times"></i>
                                        </a>
                                        <p>
                                            Сигурни ли сте че искате да изтриете пчелин
                                            <strong>
                                                @if (!string.IsNullOrEmpty(apiary.Number))
                                                {
                                                    @($"№ {apiary.Number}")
                                                }
                                                else
                                                {
                                                    @apiary.Name
                                                }
                                            </strong>
                                            ?
                                        </p>
                                        <button type="submit" class="delete">
                                            Изтрий <i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>
                                    <div id="@apiary.Id-back" class="content-cover"
                                    onclick="HideDeleteForm('@apiary.Id-responsive')"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (!Model.UserApiaries.AllUserApiaries.Any())
    {
        <p class="empty-row">няма добавени пчелини</p>
    }
    <div class="pagination">
        <ul>
            @if (this.Model.UserApiaries.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <span class="page-link">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Apiary" asp-action="All"
                    asp-route-pageHelperApiaries="@Model.UserHelperApiaries.CurrentPage"
                    asp-route-pageAllApiaries="@(this.Model.UserApiaries.CurrentPage - 1)">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </li>
            }
            @for (int i = 1; i <= this.Model.UserApiaries.PagesCount; i++)
            {
                @if (i == this.Model.UserApiaries.CurrentPage)
                {
                    <li class="page-item active">
                        <span class="page-link">@i</span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Apiary" asp-action="All"
                    asp-route-pageHelperApiaries="@Model.UserHelperApiaries.CurrentPage"
                    asp-route-pageAllApiaries="@i">@i</a>
                    </li>
                }
            }
            @if (this.Model.UserApiaries.CurrentPage == this.Model.UserApiaries.PagesCount)
            {
                <li class="page-item disabled">
                    <span class="page-link">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Apiary" asp-action="All"
                    asp-route-pageHelperApiaries="@Model.UserHelperApiaries.CurrentPage"
                    asp-route-pageAllApiaries="@(this.Model.UserApiaries.CurrentPage + 1)">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
