@model BeekeeperAssistant.Web.ViewModels.Apiaries.CreateApiaryInputModel;
@{
    this.ViewData["Title"] = "Добавяне на пчелин";
}

<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apiary" asp-action="All">Пчелини - основни</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <ul class="breadcrumb-list responsive">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Apiary" asp-action="All">Пчелини</a>
        </li>
        <li class="breadcrumb-item active">Добавяне</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <div class="form-box">
        <form asp-controller="Apiary" asp-action="Create">
            <h2>@ViewData["Title"]</h2>
            <div class="error-msg" asp-validation-summary="All"></div>
            <h3 class="is-apiary-registred-title">Регистриран ли е пчелина?</h3>
            <div class="group-box">
                <div class="is-apiary-registred-box">
                    <input type="radio" checked="true" class="registered" onclick="isRegistered(this);"
                           label="регистриран" asp-for="@Model.IsRegistered" value="True">
                    <input type="radio" class="not-registered" onclick="isRegistered(this);" label="без регистрация"
                           asp-for="@Model.IsRegistered" value="False">
                </div>
            </div>
            <div id="apiary-number-input" style="display: @if (!Model.IsRegistered) { @("none") } else { @("block") };">
                <h1 class="required" style="font-size: 16px; font-weight:400;">Номер на пчелин</h1>
                <div class="input-apiary-number row-form-group group-box">
                    <div class="input-group city-code">
                        <label asp-for="@Model.CityCode"></label>
                        <input type="text" asp-for="@Model.CityCode" />
                    </div>
                    <div class="dash">
                        <span>-</span>
                    </div>
                    <div class="input-group">
                        <label asp-for="@Model.FarmNumber"></label>
                        <input type="text" asp-for="@Model.FarmNumber" />
                    </div>
                </div>
            </div>
            <div class="input-group max">
                <span asp-validation-for="@Model.CityCode"></span>
                <span asp-validation-for="@Model.FarmNumber"></span>
            </div>
            <div id="input-name" class="input-group max">
                <label class="@if (!Model.IsRegistered) { @("required") }" asp-for="@Model.Name"></label>
                <input type="text" asp-for="@Model.Name" />
            </div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="@Model.ApiaryType"></label>
                    <select onchange="hideOpenCloseDates(this)" asp-for="@Model.ApiaryType"
                            asp-items="Html.GetEnumSelectList<BeekeeperAssistant.Data.Models.ApiaryType>()"></select>
                </div>
                <div class="input-group">
                    <label asp-for="@Model.Adress"></label>
                    <input type="text" asp-for="@Model.Adress" />
                </div>
            </div>
            <div id="open-close-date" class="row-form-group" style="display: none;">
                <div class="input-group">
                    <label asp-for="@Model.OpeningDate"></label>
                    <input type="date" asp-for="@Model.OpeningDate" />
                </div>
                <div class="input-group">
                    <label asp-for="@Model.ClosingDate"></label>
                    <input type="date" asp-for="@Model.ClosingDate" />
                </div>
                <div class="input-group check">
                    <label asp-for="@Model.IsClosed"></label>
                    <div class="slider-open-close">
                        <input asp-for="@Model.IsClosed" />
                        <label for="IsClosed"></label>
                    </div>
                </div>
            </div>
            <div class="btn-group more">
                <a class="back-button btn form-back" asp-controller="Apiary" asp-action="All">Отмени</a>
                <input class="btn apiary" type="submit" value="Добави пчелин" />
            </div>
            <div class="form-star-tip">
                *Полетата обозначени с
                '<span style="color: var(--red); font-size: 16px; font-weight: bold;">*</span>'
                са задължителни.
            </div>
        </form>
    </div>
</div>

<script>
    window.onload = hideOpenCloseDates(document.getElementById("ApiaryType"));

    function hideOpenCloseDates(select) {
        //var select = document.getElementById('open-close-date');
        var value = select.options[select.selectedIndex].value;
        var parentDiv = document.getElementById("open-close-date");

        if (value == @((int)ApiaryType.Movable)) {
            parentDiv.classList.remove("close-section");
            parentDiv.classList.add("open-section");
            parentDiv.style.display = "";
        }
        else {
            parentDiv.classList.remove("open-section");
            parentDiv.classList.add("close-section");
            parentDiv.style.display = "none";
        }
    }

    function isRegistered(element) {
        var number = document.querySelector("#apiary-number-input");
        var inputName = document.querySelector("#input-name label");

        if (element.value == "True") {
            number.style.display = 'block';
            inputName.classList.remove("required");
        }
        else {
            number.style.display = 'none';
            inputName.classList.add("required");
        }
    }
</script>
